doctype 5
html

  head
    title BASES | About
    include ../headerFilesOthers.jade
  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText About
      div#content
        h1 Mission and Vision + Values
        div.accent
        p
          | Lorem ipsum.
        h1 Officers
        div.accent
        p
          | Lorem ipsum.
        h1 Board of Advisors
        div.accent
        p
          | Lorem ipsum.
        h1 Industry Partners
        div.accent
        p
          | Lorem ipsum.
        h1 Alumni
        div.accent
        p
          | Lorem ipsum.
        h1 History
        div.accent
        p
          | Lorem ipsum.
    include ../footerFilesOthers.jade