doctype 5
html
  head
    title BASES | Team
    include ../headerFilesOthers.jade
  body
    include ../navBarOthers.jade
    div#shivani-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Shivani Baisiwala
          div.modal-body
            p Shivani is a senior from Georgia majoring in Bioengineering and coterming in Management Science and Engineering while on the pre-med track. She joined BASES in 2013 and currently manages the entire organization. Shivani is involved with a number of other bio-related organizations on campus including the Biomedical Engineering Society and the Stanford Premedical Association. She has worked in two neurology research labs on campus, at the Palo Alto VA doing clinical research, as well as at a biotech startup called Emerald Therapeutics. Shivani enjoys social dance, a good book, and loves meeting new people.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#angela-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Angela Sy
          div.modal-body
            p Angela is a foodie, computer science nerd, and world explorer. She is from a Chinese family in the Philippines and is currently studying Computer Science at Stanford. This is Angela’s fourth year in BASES and every year has provided her new opportunities to grow as a team officer, vice president, and now as the leader of this 80-strong student volunteer organization. Angela has worked as a software engineer at Salesforce and Indiegogo and was a Kleiner Perkins Caufield & Byers Fellow in 2015. She also co-founded a food startup called Breaking Bread delivering authentic, global home-cooked food in early 2015. In her spare time, Angela plays ultimate frisbee and likes to run around under the sun chasing flat oval disks.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#jon-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Jonathan Lu
          div.modal-body
            p Jonathan is a senior from Hong Kong majoring in Management Science and Engineering. He joined BASES in 2012 and leads the Business Development team, managing partnerships and sponsor relations. Jonathan was previously a member of the Forum for American Chinese Exchange (FACES) and the Stanford Judicial Panel. He has worked as a summer analyst at Kleiner Perkins Caufield & Byers, and in project management and corporate strategy roles at Apple and Tencent. Jonathan enjoys tennis, hiking, travelling and exploring exotic cuisines.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#ryan-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Ryan Matsumoto
          div.modal-body
            p Ryan is a senior from Somers, New York majoring in Computer Science and minoring in Economics. He joined BASES in 2014 and is currently organizing and executing BASES Challenge, Stanford’s premier student startup competition. Ryan is also very involved with the political community on campus as President of the Stanford College Republicans, and was a representative on the Stanford ASSU Senate his sophomore year. He has worked as a software engineering intern at Amazon and IBM, and has also interned on Capitol Hill with House Majority Leader Kevin McCarthy. Some of Ryan’s hobbies include running, foosball, traveling, and politics.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#jasmine-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Jasmine Park
          div.modal-body
            p Jasmine is a senior pursuing a B.A in Science, Technology and Society and a minor in Film and Media Studies. She is deeply interested in outbound B2B marketing and the changes it will see as a result of the generational change in the target audience. In BASES she has served as the Social Marketing Brand Manager for two years. This year she will be serving as the VP of CNECT, a new initiative to create a cross-institutional publishing platform for college entrepreneurship. Aside from BASES, Jasmine is involved in Stanford Marketing, where she has served as the President in 14-15 and is currently serving as the client manager. This past summer she interned at Microsoft as a product marketing manager in the Office branch. In her free time, she enjoys reading books on business psychology/psychology, watching films and traveling.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#zabreen-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Zabreen Khan
          div.modal-body
            p Zabreen is a junior majoring in Science, Technology, and Society and minoring in Creative Writing. She joined BASES in 2013 and currently leads the Connects team which helps create meaningful and unique experiences for Stanford students outside of the classroom. At Stanford, Zabreen is also Editor-in-Chief of MINT Magazine and Vice President of Campus Affairs for Alpha Phi. In the past, she has worked at Facebook, Andreessen Horowitz, and The Walt Disney Company. She is a published writer and has given a TEDx talk for the TEDWomen movement. In her spare time, Zabreen enjoys traveling to new countries, reading the Sunday Edition of the New York Times and finding the next best recipe for chocolate chip cookies.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#sig-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Sigberto Alarcón Viesca
          div.modal-body
            p Sig is starting his M.S. in Computer Science after finishing his B.S. in Chemical Engineering last June. As VP of CreatesSpace, he seeks to give students the opportunity to apply their skills in a real-world environment through the Startup Collab and CreateCamp initiatives. Sig joined us as an Officer of of the Challenge Team, where he helped run the $100,000 entrepreneurial competition that BASES organizes every year. Outside of BASES, he is also a Project Director for Stanford Consulting, a group that provides management consulting services to clients that range from investment banks to biotechnology startups. In his spare time, he can be found enjoying exotic cuisine, catching up on the latest Game of Thrones episode, or enjoying a good cup of coffee.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#gene-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Gene Lewis
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#aoxue-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Aoxue Tang
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#michael-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Michael Longoria
          div.modal-body
            p Michael is a senior from Texas majoring in Management Science & Engineering and minoring in Economics. Michael joined BASES in 2013 at the end of his freshman year, and has since helped lead the annual BASES Challenge competition two years in a row before assuming his current role as VP of Finance. In addition to working within BASES, Michael is the General Manager of KZSU 90.1 FM, Stanford’s college radio station, and a member of the Chi Alpha Christian fellowship on campus. Michael has interned as a banking associate, research assistant in the MS&E department, and was among the first cohort of the Stanford/Warner Music Group Leadership Initiative, currently working on a capstone project to reconstruct the distribution of artist royalty payments. Michael enjoys discovering new music, spending his time outdoors, and reading the classics.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#christine-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Christine Quan
          div.modal-body
            p Christine Quan is a coterm student from Sacramento who recently finished her Bachelors in Chemical Engineering. She joined BASES in 2014 and currently leads the Operations team, where she oversees branding, metrics, technology, community, and internal communication initiatives. Much of her previous her work experiences involves research in the biomedical sciences,  including both laboratory and computational projects. Recently, in following her curiosity in technology and design, she worked at Hewlett Packard where she was able to work on projects relating to product management, strategy, and branding. In her free time, she loves hiking, a good book, and kindling her many curiosities.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#nick-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Nick Hershey
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#vicki-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Vicki Niu
          div.modal-body
            p Vicki is a sophomore from Portland, Oregon studying computer science. She joined BASES in 2014 as an officer on TreeHacks, Stanford’s largest hackathon, and currently leads the Social Impact team with Nick. Outside of BASES, Vicki has co-directed HackOverflow, Stanford’s diversity-focused hackathon, worked on the she++ College Ambassadors Program, and TEDxStanford. Currently, she is a co-founder and VP of CS+Social Good, focusing on the intersection of technology and social impact. This summer, Vicki built the administrative platform for Yelp’s health inspection service, in collaboration with Socrata and Code for America. She loves jumping into new problems, large bodies of water, and squashy couches.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#weiwei-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Weiwei Bi
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#byang-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Brandon Yang
          div.modal-body
            p Brandon is a sophomore from Cupertino, California majoring in Computer Science. He joined BASES last spring and manages long term strategy and partnerships with other Stanford organizations. Brandon currently also serves as the VP of Operations for the Stanford ACM. Last summer, he worked as a software engineering intern at Facebook. Brandon loves playing golf, watching movies.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#cyuan-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Christopher Yuan
          div.modal-body
            p Chris is a sophomore from Durham, North Carolina majoring in Computer Science. He joined BASES in Spring 2015 and manages the sourcing of new leads and sponsors for the Business Development Team. Outside of BASES, Chris chairs the TEDxStanford Student Organizing Committee and teaches an Intro to Public Speaking class. He has worked as a data scientist and software engineer at Pebble and presented modeling research to the Mathematical Association of America. In his free time, Chris enjoys cycling and playing ultimate frisbee.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#pfare-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Peter Farejowicz
          div.modal-body
            p Peter is a junior from Chicago majoring in Computer Science. He joined BASES in 2015 and coordinates sponsor leads and relations. Peter also serves as the Vice President of Professional Development for Stanford’s Alpha Kappa Psi chapter, the professional co-ed business fraternity. He has worked as a software developer at Spokeo, consulted for SV Angel, and served as a teaching assistant for Stanford Pre-Collegiate Studies. Peter enjoys traveling, trying new foods, karate, and listening to music.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#tomtompotato-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Thomas Lau
          div.modal-body
            p Thomas is a sophomore from Houston, Texas that is majoring in Bioengineering. This is his first year in BASES and he manages the outward facing image for BASES’s Business Development team. Thomas is an active member in Stanford BMES (Biomedical Engineering Society) and PASU (Pilipino American Student Union). He is also active in Stanford’s Chamber Music program and studies under Geoff Nuttall of the St. Lawrence String Quartet. Thomas has done biomechanical consulting work for NASA JSC, pre-diabetes research at Baylor College of Medicine, and is currently a Research Fellow at the Stanford NMBL. On his spare time, Thomas enjoys photography, tea, and cycling.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#vhuynh-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Valerie Huynh
          div.modal-body
            p Valerie is a sophomore from Dallas, TX majoring in Economics. She has been in BASES since her freshman year as part of the Frosh Battalion program, then joined the Business Development team winter quarter. In the 2015-2016 school year, she will be managing all of BASES’ corporate sponsorships. Last summer, Valerie was a product management intern at a startup and also helped launch the database for the #ChoosePossibility movement, seeking to drive performance and gender diversity for tech company boards in Silicon Valley. In her spare time, she enjoys playing classical piano, long walks at the beach, and ordering mint mojitos at Philz Coffee.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#ameliasbig-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Kylee Saunders
          div.modal-body
            p Kylee is a senior graduating this year with a B.S. in science, technology, and society. She is originally from Gilbert, Arizona. Kylee is currently one of two program managers of the SE program. She spent this past summer working as a financial analyst for Goldman Sachs. Kylee enjoys doing anything related to the arts as well as learning about the convergence between technology and entertainment.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#irhsu-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Irving Hsu
          div.modal-body
            p Irving is a senior from the Bay Area majoring and coterming in Computer Science. He joined BASES in 2014 as an Operations officer on the Professional Development team (now part of Connects), and currently handles external relations for BASES Challenge. Irving is an officer for the Tau Beta Pi Engineering Honor Society at Stanford, a percussionist for the Stanford Symphony and Philharmonia Orchestras, and a drummer in the Stanford jazz combo program. He has worked as a software developer at Facebook, Google, and LinkedIn, and has conducted research at the Stanford Computer Vision lab, Stanford School of Medicine, and Sandia National Labs. In his spare time, he enjoys holding spontaneous jazz improv/jam sessions, watching Shark Tank, playing pool, and birdwatching.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#empang-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Emily Pang
          div.modal-body
            p Emily is a sophomore from San Ramon, California majoring in Biomechanical Engineering and excited about the intersections between medicine, technology, and entrepreneurship. She joined BASES in 2014 and manages external relations for Challenge. At Stanford, she is a TA for a medical device course, bioinformatics researcher in the School of Medicine, officer for Stanford Student Biodesign, graphic designer for non-profit Global Oncology, and section editor for the Undergraduate Research Journal. She has held roles in product management at HealthTap and cancer drug discovery in research laboratories. Interested in how health innovation differs on an international level, Emily spent this past summer tackling needs for China’s medical system and training to provide healthcare services and prosthetic devices in the Philippines. She loves new places, terrible jokes, cat pictures, and everything floral.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#aljiang-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Allan Jiang
          div.modal-body
            p Allan Jiang is a sophomore from Durham, North Carolina studying Computer Science and Mathematics. He joined BASES in 2014 and helps organize the BASES 100K Startup Challenge. He is also a member of Testimony A Cappella where he sings bass and occasionally beatboxes. Previously, Allan has worked as a software engineer at IBM and Twitter, and has also worked on genomic research at the Jackson Laboratory. Allan enjoys swimming, singing, playing chess, and (obviously) coding and math.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#bliu-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Brandon Liu
          div.modal-body
            p Brandon is a sophomore from San Mateo, California studying Computer Science and Management Science and Engineering. He joined BASES in 2015 and is a Strategy and Operations Officer for the BASES Challenge team. He is also the director of ASES VC3, an analyst for the Stanford Blyth Fund, and a member of the Stanford Biomedical Engineering Society. Currently, he is a biocomputational research intern in the Stanford Biology department and has worked at multiple research labs in the past.  In his free time, Brandon enjoys following baseball, playing trumpet, and hiking.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#amyshen-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Amy Shen
          div.modal-body
            p Amy is a sophomore studying computer science. She joined BASES in 2015 as a Strategy and Operations officer on the Challenge team. Outside of BASES, Amy helps organize GoodHacks (Stanford's social impact hackathon) and the Stanford Roundtable and writes for the Stanford Review. She's interned at Google, Koinify (a cryptocurrency startup), and a computer security research lab at Stanford. Amy loves exploring new places, getting to know people, reading, and coffee.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#echoud-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Eesha Choudhari
          div.modal-body
            p Eesha is a junior from Yorktown, Virginia interested in Product Design, Biology, and the intersection between health care and technology. She joined BASES in 2015 and helps with marketing for BASES Challenge. She has worked as a pharmaceutical researcher at Hampton University, a neurofeedback technology researcher at NASA, a researcher for the Army High Performance Computing Research Center developing lung visualization models, and an intern at HealthTap. She spent this past summer in Bangalore, India, as a product design fellow with nonprofit Noora Health conducting needfinding in hospitals, developing and testing an interactive app, and designing education materials for patient families. She enjoys learning about the brain and space exploration, singing, hiking, cooking, traveling, and boba.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#gtran-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Giselle Tran
          div.modal-body
            p Giselle Tran is a junior from Omaha, Nebraska majoring in Economics.  Joining BASES in 2015 as an External Communications Liaison for CNECT, Giselle manages relationships between Stanford and other universities as they work together to create an online platform for student entrepreneur communities across the nation.  Also the Vice President of Stanford Club Tennis and an associate with the Stanford Pre-Business Association, Giselle enjoys hitting yellow fuzzy balls on the court and discussing market trends.  Having worked for a medical research laboratory and a smart-home solutions company, Giselle spent her summer of 2015 as a Stanford in Government Fellow for the Ministry of Finance and Economic Development in Mauritius.  Passionate about the complex issues faced by humanity, Giselle aspires to make a positive impact on the world.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#ameliastwin-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Jacqueline Wibowo
          div.modal-body
            p Jacqueline (Jackie) Wibowo is a sophomore from San Diego, California studying Public Policy and Economics. She joined BASES in 2015 as an Alumni Liaison for CNECT, where she manages relationships with other universities to create a platform for collaboration and learning among student entrepreneurs. She serves as an Associate and Board Member for Stanford Marketing and is a member of Testimony A Cappella. In the past, she has worked as a researcher for the San Francisco Child Abuse Prevention Center and as a Product Marketing intern for TradeGecko. She spent last summer working in Singapore and traveling the world to other parts of Asia on her weekends. She enjoys eating, photography, and morning jogs.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#chae-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Chae Uhm
          div.modal-body
            p Chae Uhm is a junior from Seoul, South Korea majoring in Art History.  She joined BASES in 2015 as an External Communications Liaison for CNECT. In CNECT she is in charge of managing relationships between Stanford and other universities as they work together to create an online platform for student entrepreneur communities across the nation.  She is also the Co-President of Korean Student Association that holds various cultural, political, community oriented events on and off campus throughout the year. In the past, Chae has worked in an educational startup as a marketing intern, in a camera application startup as a designing intern, and in a consulting company also as a designing intern. Chae enjoys swimming, traveling, good food with great friends.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#gkim-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title GaHyun Kim
          div.modal-body
            p Gahyun is a sophomore whose current passions center around design, computer science, and video production. She joined BASES in 2015 spring as a multimedia branding officer of CNECT. She creates and manages all multimedia contents on the platform. She is also working as a production infrastructure & operations manager in Stanford Vice Provost for teaching and learning, conducting self directed productions as well as working with the professional production team. She is also a Creative Catalyst in Lantana, Stanford design thinking dorm created in collaboration with d.school. As a Creative Catalyst, she works on design projects to cultivate community in upperclass dorms. GaHyun loves vlogging travels and sharing them with friends.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#snader-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Sarah Nader
          div.modal-body
            p Sarah Nader is a masters student in Computer Science, specializing in Human-Computer Interaction. She graduated last year from Stanford. She’s originally from Boca Raton, FL. She joined BASES in 2013 as an officer in Operations, became interim CFO, and then was an officer on Branding. On Branding, she led the creation of the first ever BASES sponsorship brochure. Aside from BASES, Sarah dances on Dv8 Hip Hop Crew, is the RCC for Munger, and TA’s for CS147. In the past, she worked in Kyoto doing research on sound pattern recognition, PM’d for Microsoft, and was a front-end engineer & designer for a travel startup. In her spare time, Sarah enjoys learning new artforms from printmaking to crocheting as well as machining in the PRL.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#kbutler-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Kameron Butler
          div.modal-body
            p Kameron Butler is a sophomore from Thousand Oaks, California studying Mechanical Engineering and pursuing a minor in Latin American Studies. He joined BASES in 2014 as a member of the frosh battalion, and served as an officer on the Branding team. In addition to BASES, Kameron is a Senior Associate for Stanford Marketing, trains on the Stanford Muay Thai team, and was even a member of Stanford Cheer. In the past, Kameron has spoken at a Tedx event about his experiences as an entrepreneur and his own experience creating a company in high school. His interests include snowboarding, scuba diving, surfing, and rock climbing.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#vhare-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Vivian Hare
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#tteis-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Thomas Teisberg
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#ale-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Ale Rosenkranz
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#arohan-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Alexa Rohan
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#kp-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Kate Park
          div.modal-body
            p Kate is a sophomore from Los Altos majoring in Computer Science. She joined BASES as a freshman and this year she is an officer on Connects, leading the Lessons in Life series where students learn lessons from prominent people in the valley including professors, VC’s, and founders in an intimate setting. At Stanford, she organizes TreeHacks, Stanford’s hackathon and is a member of AKPsi.  Kate loves coding and most recently worked at Uber as a software intern. In the past, she interned at law firms and a Bollywood TV station. In her free time, Kate loves to write and craft whether it be stained glass, jewelry or wood shop.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#mdwor-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Michael Dworsky
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#edavis-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Elizabeth Davis
          div.modal-body
            p Elizabeth is a junior from Los Angeles studying Computer Science. She joined BASES during her sophomore year, determined to make the hacker community at Stanford more accessible and to promote diversity in tech. Elizabeth is currently a CS106 Section Leader and Stanford Marketing board member, and she is also co-founding Black Overflow, an organization that supports black students in Computer Science. In the past, she’s worked on software engineering projects at Google and Pinterest. Elizabeth loves exploring San Francisco’s 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#kphan-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Katherine Phan
          div.modal-body
            p Kat is a Seattle-based junior studying Computer Science and planning to pursue aeronautics after her undergraduate career. She joined BASES as a CreateSpace officer in her sophomore year at Stanford to explore and promote the intersection between engineering and business operations in cutting-edge technology. At Stanford, she is the president of the Stanford Vietnamese Student Association, and works with the other Asian Pacific Islander communities such as Pilipino American Student Union. Her past work experience spans from data analytics to R&D in both drone startups and research laboratories. She can often be found spending time outdoors, ordering lattes around the Mission, or perusing the Economist.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#ashwin-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Ashwin Sreenivas
          div.modal-body
            p Ashwin is a junior from Kerala, India majoring in Computer Science. He joined BASES in his sophomore year, with the hope of creating a community of makers at Stanford. In the past, Ashwin has worked on a variety of projects ranging from small-scale websites for personal projects to cyber-risk projects for Palantir. He enjoys discussing CS, security, foreign affairs and international relations.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#udai-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Udai Baisiwala
          div.modal-body
            p Udai is a sophomore from Australia majoring in Economics with a planned coterm in Computer Science. He joined BASES in 2015, and as an external relations officer he is responsible for planning events to connect students with startups, alumni and venture capital firms. On campus, Udai is also part of the executive teams for the Blyth Fund and the Economics Association and is president of Stanford Financial Literacy for Youth. He spent the past summer working at StreetShares, a small business lending startup that crowdfunds loans through auctions. In his spare time, Udai enjoys reading the Economist, meeting new people, and travelling.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#albert-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Albert Feng
          div.modal-body
            p Albert is a sophomore from Raleigh, North Carolina majoring in Computer Science with a minor in Management Science and Engineering and planned Certificate in Music Performance for Cello. He joined BASES in 2015 and works as both an external relations officer working on connecting students with outside startups, alumni and venture capital firms as well as a branding officer focused on publicizing events for the External Relations Team. Outside of BASES, Albert is involved with the Stanford Music Department, Stanford UNICEF Chapter as the Co-Chair of Education as well as a member of the Volunteers in Latin America Program, with which he spent the past summer working in community centers in Ecuador that help street children and their families as a camp counselor and soup kitchen volunteer. In addition, he continually works on his own non-profit startup, FairED Inc., which provides college admissions workshops, 1 on 1 mentoring and test prep services absolutely free to disadvantaged students. In his free time, Albert loves to play the cello, workout, travel and watch TV shows (Suits or anything Marvel/DC).
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#pgrutz-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Petra Grutzik
          div.modal-body
            p Petra Grutzik is a sophomore from Manhattan Beach, California majoring in Computer Science and Biology. This is her first year as part of the BASES team. This year, as an officer on the External Relations branch, she will help Stanford students, startups, and companies learn from each other and form meaningful connections. Last summer Petra worked in Kwabena Boahen’s neural-engineering lab at Stanford. This year Petra is also chair of the Conference Committee of Stanford Students Biodesign and a member of the club volleyball team. In her free time she enjoys playing volleyball, drinking coffee, and having long late night conversations.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#nate-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Natnael Kassaw
          div.modal-body
            p Natnael is a sophomore originally from Ethiopia that currently based in Maryland. As an undergraduate he is pursuing a double major in Economics and Management Science and Engineering. Initially joining BASES in 2014 under the Freshman Battalion Program he would work with the BASES Challenge initiative to provide Stanford entrepreneurs funding and mentorship in their startup ambitions. Currently, he is a Finance Officer seeking to help manage and cultivate the financial steadiness of the BASES organization. In addition, Natnael is involved with the Blyth Fund, the Stanford Undergraduate Research Association, and the Society of Black Scientists and Engineers. His past experience includes work with RBC Wealth Management, VISA, and Wells Fargo as either an analyst or tasked with risk management and consumer analytics. He is an avid kayaker, enjoys exploring different cultures, and can on occasion be found meditating, jamming to music, or lost in a philosophy book.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#thebest-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Shivaal Roy
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#syd-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Sydney McLeish
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#natalie-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Natalie Ng
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#cdong-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Catherine Dong
          div.modal-body
            p Catherine is a senior from Irvine, CA majoring in computer science. She joined BASES in 2014 as an officer on Core, and is currently an officer on Operations. Outside of BASES, Catherine is a section leader for the introductory computer science courses at Stanford, has served as an editor on The Stanford Daily and the Stanford Undergraduate Research Journal, and has been involved in Women in Computer Science and the Stanford Society of Women Engineers. Catherine has interned as a software engineer at companies including Google and Facebook. She enjoys playing and watching volleyball, exploring new cities on foot, and reading.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#lucy-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Lucy Wang
          div.modal-body
            p Lucy Wang is a senior from Philadelphia, Pennsylvania majoring in Computer Science. She joined BASES in 2014 as the Director of Outreach for TreeHacks, Stanford’s largest hackathon, and currently serves as the BASES Community Director. Outside of BASES, Lucy is the Director of Partnerships for she++, a nonprofit that creates community and momentum for female technologists, and will also be working at Canvas Venture Fund this fall as their investor relations intern. In the past, Lucy has interned at Microsoft and Pinterest as a software engineer. In her spare time, Lucy loves running, hiking, and yoga.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#aanchal-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Aanchal Johri
          div.modal-body
            p Aanchal Johri is a sophomore from Maryland majoring in Computer Science and minoring in Biology. She joined BASES in 2015 as a Social Impact officer to help promote social entrepreneurship at Stanford. Fueling her passion for using technology to create sustainable international healthcare development, she worked for the Social Entrepreneurship Corps in the Dominican Republic this past summer. There, she trained local entrepreneurs to host vision campaigns and leverage new social innovation technology to alleviate eye diseases. On campus, she is an intern at the School of Medicine Oncology Department, a program manager for the TEDxStanford Student Organizing Committee, a member of the Stanford Debate Society, a section editor for the Stanford Undergraduate Research Journal, and a volunteer EMT. In the past, she has interned at the White House Office of the First Lady and the National Institutes of Health. She loves dancing, going on adventures in new countries, and finding lovely picnic spots.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#lreyes-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Leilani Reyes
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#mcarl-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Marly Carlisle
          div.modal-body
            p Marly is a junior from Visalia, California majoring in Public Policy. She joined BASES in 2015 as a BASES Social Impact officer, working to increase awareness and opportunities for students interested in social entrepreneurs. She is on the board of Heart and Home Women’s Collaborative and is a member of Everyday People. She worked towards educational equity with Reading Partners, where she helped write an amendment to an education bill passing through congress. She worked as a hire-on consultant for a nonprofit in Cape Town, formatting a new business plan for a new fabric venture. She enjoys hiking, listening to music and exploring new places.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#whooper-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Whitney Hooper
          div.modal-body
            p 
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#zteo-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Zhi Ping Teo
          div.modal-body
            p Zhi Ping is a sophomore from Singapore learning about the world through International Relations and Public Policy. She joined BASES in 2015 and hopes to empower communities (including Stanford students) to realize the power of their own ability to make a difference in their own/others’ lives. Last summer, she travelled around Southeast Asia, working on a research project with UN and the ASEAN Secretariat: “Gender Impact Assessment of the ASEAN Economic Community”, interviewing a wide range of stakeholders - and learnt a world of knowledge and perspectives, which she will bring into her aspiration to work towards alleviating the challenges people face around the world. On campus, she is involved in UNICEF, Sophomore Cabinet, Singaporeans@Stanford, exploring, doing art, running, swimming, eating (a lot), listening to people’s stories, and loving life.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#dsaini-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Divya Saini
          div.modal-body
            p Divya is a sophomore from Palo Alto, California studying Computer Science. She joined BASES in 2014 as an officer for External Relations, and brought forward Startup Lunches--intimate conversation opportunities between students and CEOs in the Valley. This year she serves as an officer on the Treks Team. At Stanford, she’s also discovered side-interests in law, journalism, community advocacy, and photography. Through collaborations with Stanford’s d.school, Law School, and Stanford in Government program, she’s found ways to marry these interests with her techy side. Last summer she interned for Yahoo and next quarter she will engage in a Sophomore-program for Accenture. In the past she’s also interned for Congresswoman Anna Eshoo and served on FEMA’s YPC Council. Divya thrives off travel and hopes that someday she’ll take a photograph powerful enough to ignite social and political discussion.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close
    div#clu-modal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" class="close" data-dismiss="modal")&times;
            h4.modal-title Caitlin Lu
          div.modal-body
            p Caitlin is a senior from Hong Kong majoring in International Relations. She joined BASES in 2014 and worked on the External Relations team. Last year, Caitlin was President of the Forum for American-Chinese Exchange at Stanford (FACES) and sat on the Breadth Governance Board for Undergraduate Education. She was also on the varsity squash team her freshman and sophomore years. This past summer, Caitlin worked at Stripes Group, a growth equity firm in New York, which was a great opportunity for her to hone her entrepreneurial spirit and understand the nuances of evaluating fast growing businesses.
          div.modal-footer
            button(type="button" class="btn btn-default" data-dismiss="modal") Close

    div#white-bg
      div.cover
        div.hero
        div.heroText BASES Team
      div#content
        div.text
          p BASES is the premier student entrepreneurship organization on campus. We bring together the most driven Stanford students who are passionate about building the entrepreneurship community on campus while getting on the ground and practicing those skills ourselves.

        h1 Executive Team
        hr.accent
        div.large-photo-container
          img(src='/staging/images/exec/AllExecs.jpg')

        h1 Presidents
        hr.accent
        div.text
          p BASES is led by co-presidents Shivani Baisiwala and Angela Sy. Together, they oversee the organization and each of its teams as they relate to exposing Stanford students to entrepreneurship. Specifically, they focus on the execution of events, weekly meetings, programming, and external relations.

        div#shivani.exec-box.col-md-6
          img(src='/staging/images/exec/ShivaniBaisiwala_CoPresident.jpg' data-toggle="modal" data-target="#shivani-modal")
          h2 Shivani Baisiwala


        div#angela.exec-box.col-md-6
          img(src='/staging/images/exec/AngelaSy_Co-President.jpg' data-toggle="modal" data-target="#angela-modal")
          h2 Angela Sy

        h1 Vice-Presidents
        hr.accent
        div#jon.exec-box.col-md-4
          img(src='/staging/images/exec/Jonathan Lu_BD.jpg' data-toggle="modal" data-target="#jon-modal")
          h2 Jonathan Lu
          h6 Business Development

        div#ryan.exec-box.col-md-4
          img(src='/staging/images/exec/Ryan_Matsumoto_Challenge.jpg' data-toggle="modal" data-target="#ryan-modal")
          h2 Ryan Matsumoto
          h6 BASES Challenge

        div#jasmine.exec-box.col-md-4
          img(src='/staging/images/exec/Jasmine Park_CNECT.jpg' data-toggle="modal" data-target="#jasmine-modal")
          h2 Jasmine Park
          h6 CNECT

        div#zabreen.exec-box.col-md-4
          img(src='/staging/images/exec/ZabreenKhan_Connects.jpg' data-toggle="modal" data-target="#zabreen-modal")
          h2 Zabreen Khan
          h6 Connects

        div#sig.exec-box.col-md-4
          img(src='/staging/images/exec/SigbertoAlarcon_CreateSpace.jpg' data-toggle="modal" data-target="#sig-modal")
          h2 Sigberto Alarcón Viesca
          h6 CreateSpace

        div#gene.exec-box.col-md-4
          img(src='/staging/images/exec/GeneLewis_CreateSpace.jpg' data-toggle="modal" data-target="#gene-modal")
          h2 Gene Lewis
          h6 CreateSpace

        div#aoxue.exec-box.col-md-4
          img(src='/staging/images/exec/Aoxue_Tang_External_Relations.jpg' data-toggle="modal" data-target="#aoxue-modal")
          h2 Aoxue Tang
          h6 External Relations

        div#michael.exec-box.col-md-4
          img(src='/staging/images/exec/MichaelLongoria_Finance.jpg' data-toggle="modal" data-target="#michael-modal")
          h2 Michael Longoria
          h6 Finance

        div#christine.exec-box.col-md-4
          img(src='/staging/images/exec/ChristineQuan_Operations.jpg' data-toggle="modal" data-target="#christine-modal")
          h2 Christine Quan
          h6 Operations

        div#nick.exec-box.col-md-4
          img(src='/staging/images/exec/NickHershey_SocialImpact.jpg' data-toggle="modal" data-target="#nick-modal")
          h2 Nick Hershey
          h6 Social Impact

        div#vicki.exec-box.col-md-4
          img(src='/staging/images/exec/VickiNiu_SocialImpact.jpg' data-toggle="modal" data-target="#vicki-modal")
          h2 Vicki Niu
          h6 Social Impact

        div#weiwei.exec-box.col-md-4
          img(src='/staging/images/exec/Weiwei_Bi_Treks.jpg' data-toggle="modal" data-target="#weiwei-modal")
          h2 Weiwei Bi
          h6 Treks
        div.large-photo-container
          img(src='/staging/images/exec/AllExecsFunPicture.jpg')

        h1 BASES Officers
        hr.accent
        div.text
          p BASES currently has 53 officers on 10 internal and external teams. BASES officers represent many departments across Stanford, spanning the schools of Engineering, Sciences, and Humanities.

        h1 Business Development
        hr.accent
        h2.officer-name(data-toggle="modal" data-target="#byang-modal") Brandon Yang
        h2.officer-name(data-toggle="modal" data-target="#cyuan-modal") Christopher Yuan
        h2.officer-name(data-toggle="modal" data-target="#pfare-modal") Peter Farejowicz
        h2.officer-name(data-toggle="modal" data-target="#tomtompotato-modal") Thomas Lau
        h2.officer-name(data-toggle="modal" data-target="#vhuynh-modal") Valerie Huynh
        h2.officer-name(data-toggle="modal" data-target="#ameliasbig-modal") Kylee Saunders

        h1 BASES Challenge
        hr.accent
        h2.officer-name(data-toggle="modal" data-target="#irhsu-modal") Irving Hsu
        h2.officer-name(data-toggle="modal" data-target="#empang-modal") Emily Pang
        h2.officer-name(data-toggle="modal" data-target="#aljiang-modal") Allan Jiang
        h2.officer-name(data-toggle="modal" data-target="#bliu-modal") Brandon Liu
        h2.officer-name(data-toggle="modal" data-target="#amyshen-modal") Amy Shen
        h2.officer-name(data-toggle="modal" data-target="#echoud-modal") Eesha Choudhari

        h1 CNECT
        hr.accent
        h2.officer-name(data-toggle="modal" data-target="#gtran-modal") Giselle Tran
        h2.officer-name(data-toggle="modal" data-target="#ameliastwin-modal") Jacqueline Wibowo
        h2.officer-name(data-toggle="modal" data-target="#chae-modal") Chae Uhm
        h2.officer-name(data-toggle="modal" data-target="#gkim-modal") GaHyun Kim
        h2.officer-name(data-toggle="modal" data-target="#snader-modal") Sarah Nader
        h2.officer-name(data-toggle="modal" data-target="#kbutler-modal") Kameron Butler

        h1 Connects
        hr.accent
        h2.officer-name(data-toggle="modal" data-target="#vhare-modal") Vivian Hare
        h2.officer-name(data-toggle="modal" data-target="#tteis-modal") Thomas Teisberg
        h2.officer-name(data-toggle="modal" data-target="#ale-modal") Ale Rosenkranz
        h2.officer-name(data-toggle="modal" data-target="#arohan-modal") Alexa Rohan
        h2.officer-name(data-toggle="modal" data-target="#kp-modal") Kate Park
        h2.officer-name(data-toggle="modal" data-target="#mdwor-modal") Michael Dworsky

        h1 CreateSpace
        hr.accent
        h2.officer-name(data-toggle="modal" data-target="#edavis-modal") Elizabeth Davis
        h2.officer-name(data-toggle="modal" data-target="#kphan-modal") Katherine Phan
        h2.officer-name(data-toggle="modal" data-target="#ashwin-modal") Ashwin Sreenivas

        h1 External Relations
        hr.accent
        h2.officer-name(data-toggle="modal" data-target="#udai-modal") Udai Baisiwala
        h2.officer-name(data-toggle="modal" data-target="#albert-modal") Albert Feng
        h2.officer-name(data-toggle="modal" data-target="#pgrutz-modal") Petra Grutzik

        h1 Finance
        hr.accent
        h2.officer-name(data-toggle="modal" data-target="#nate-modal") Natnael Kassaw

        h1 Operations
        hr.accent
        h2.officer-name(data-toggle="modal" data-target="#thebest-modal") Shivaal Roy
        h2.officer-name(data-toggle="modal" data-target="#syd-modal") Sydney McLeish
        h2.officer-name(data-toggle="modal" data-target="#natalie-modal") Natalie Ng
        h2.officer-name(data-toggle="modal" data-target="#cdong-modal") Catherine Dong
        h2.officer-name(data-toggle="modal" data-target="#lucy-modal") Lucy Wang

        h1 Social Impact
        hr.accent
        h2.officer-name(data-toggle="modal" data-target="#aanchal-modal") Aanchal Johri
        h2.officer-name(data-toggle="modal" data-target="#lreyes-modal") Leilani Reyes
        h2.officer-name(data-toggle="modal" data-target="#mcarl-modal") Marly Carlisle
        h2.officer-name(data-toggle="modal" data-target="#whooper-modal") Whitney Hooper
        h2.officer-name(data-toggle="modal" data-target="#zteo-modal") Zhi Ping Teo

        h1 Treks
        hr.accent
        h2.officer-name(data-toggle="modal" data-target="#dsaini-modal") Divya Saini
        h2.officer-name(data-toggle="modal" data-target="#clu-modal") Caitlin Lu

    include ../footerFilesOthers.jade
