doctype 5
html

  head
    title BASES | Career Fairs
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#heroCareerFairs
      div#heroText Career Fair
    div#content 
      h1 Overview
      hr.accent
      div.text
       p <b>Register your organization for the 2015 BASES Startup Career fair <a href='http://www.eventbrite.com/e/bases-startup-career-fair-tickets-11176277547'>here</a>.</b>
       p The BASES Startup Career Fair is one of the two biggest career fairs on Stanford campus each year, attracting over 1200 students in 2014. The fair generally takes place in January and targets entrepreneurial students interested in finding jobs within startups.
       p Companies that attend the BASES Startup Career Fair will also have access to our resume talent portal, post jobs and opportunities on our entrepreneurship email newsletter, the BASES Digest, reaching over 5,000 people.
      h1 Participant Companies
      hr.accent
      div.text
        p Diffbot <br/> Ness <br/> NoRedInk <br/> NetCitadel <br/> Pixlee <br/> Doximity <br/> Mulesoft <br/> Practice Fusion <br/> Nominum <br/> IXL <br/> Stitcher <br/> Redfin <br/> Gumroad <br/> Compass Labs <br/> Wheelz <br/> Ayasdi <br/> Metamarkets <br/> BloomReach <br/> BTI Systems <br/> HookLogic <br/> Nomis Solutions <br/> Rent the Runway <br/> SquareTrade <br/> sneakpeeq <br/> SurveyMonkey <br/> TargetSpot <br/> TellApart  
      h1 Contact Info
      hr.accent
      div.text
        p Victoria Zuo (<a href='mailto:mzuo804@stanford.edu'>mzuo804@stanford.edu</a>)
    include ../footerFilesOthers.jade   
