doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#hero 
      div#heroText <img src = '/images/eChallengeLogo.png'> Career Fair
    div#content 
      h1 Overview
      hr.accent
      div.text 
       p This year's BASES Startup Career Fair took place on <strong> Thursday, January 17, 2013, 11 am-4 pm </strong>. We had over 900 students attend the fair, making it a very successful recruiting and networking event for both companies and attendees.      
      h1 Partcipant Companies
      hr.accent
      div.text
        p Diffbot <br/> Ness <br/> NoRedInk <br/> NetCitadel <br/> Pixlee <br/> Doximity <br/> Mulesoft <br/> Practice Fusion <br/> Nominum <br/> IXL <br/> Stitcher <br/> Redfin <br/> Gumroad <br/> Compass Labs <br/> Wheelz <br/> Ayasdi <br/> Metamarkets <br/> BloomReach <br/> BTI Systems <br/> HookLogic <br/> Nomis Solutions <br/> Rent the Runway <br/> SquareTrade <br/> sneakpeeq <br/> SurveyMonkey <br/> TargetSpot <br/> TellApart  
    include ../footerFilesOthers.jade   
