doctype 5
html

  head
    title BASES | Friends
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#blank
    div#coverFriends.cover.coverBig
      div#heroFriends.hero
      div.heroText BASES Friends
    div#content 
      h1 Welcome
      hr.accent
      div.text 
       p Are you interested in staying up to date with BASES events and relevant entrepreneurial activities on campus? Get involved by becoming a BASES Friend!

       p BASES Friends is a community of entrepreneurially-minded Stanford students who are interested in innovation and technology. As a BASES Friend, you will have the priority in attending exclusive BASES events such as the BASES Bus Start-up Tour in order to develop relationships with BASES affiliates and become more connected with entrepreneurial opportunities on campus.

       p <b>Sign up to be a BASES Friend <a href='https://docs.google.com/a/stanford.edu/forms/d/1VjaFHnDhJHD54ZIryGGEjVKpNJGul4LINK7tgVDvcq8/viewform'>here</a>!</b> Note that BASES Friends is open to students at Stanford University at this time.

       p If you have any questions, please contact Christine Quan at <a href='mailto:christine.quan@stanford.edu'>christine.quan@stanford.edu</a>.

    include ../footerFilesOthers.jade   
