#content {
  width: 936px;
}

.sponsorTiles {
  margin-bottom: 0;
}

.tile {
  -webkit-transition: 0.25s;
  transition: 0.5s;
  background-color: transparent;
  /*box-shadow: 1px 1px 1px #bbb;*/
}

.tile:hover {
  background: #e0eeee;
  cursor: pointer;
}

.platinumTile {
  height: 300px;
  width: 440px;
  display: block;
  margin: 6px auto;
  padding: 10px;
}

.platinumTile img {
  width: 420px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: auto;
}

.goldTile {
  height: 140px;
  width: 300px;
  display: inline-block;
  margin: 6px;
  padding: 10px;
}

.goldTile img {
  width: 260px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: auto;
}

.silverTile img {
  width: 180px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: auto;
}

#acc img {
  top: 50px;
}

#seq img {
  top: 70px;
}

#founderorg img {
  top: 55px;
}

#svb img {
  width: 120px;
}

.silverTile {
  height: 100px;
  width: 225px;
  display: inline-block;
  margin: 4px;
  padding: 10px;
}

#db {
  width: 100px;
}

#dropbox img {
  width: 160px;
}

/*.tile {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.tile:hover {
  cursor: pointer;
  filter: none;
  -webkit-filter: grayscale(0%);
}*/
