.hackspace.container{
  width: 968px;
  margin: 0 auto;

  margin-top: 51px;
  padding-top: 20px;

  font-family: "Open Sans", sans-serif;
}

.headerImage{
  width: 400px;
  margin: 0 auto;
  display: block;
}

.workshops{
  margin-top: 70px;
}

.workshopBtn{
  display: block;
}

.workshopImage{
  width: 292px;
}

.wrap{
  min-height: 100%;
}

html,body{
  height: 100%;
}

.bannerImage{
  width: 100%;
}

.workshop_content{
}

.workshop_content a{
  display: inline-block;
}

.workshop_content a img{
  width: 100%;
}

.workshop_content h2{
  font-family: "Open Sans", sans-serif;
  font-size: 18pt;
  color: #234974;
  font-weight: bold;
}

.workshop_content p{
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  color: #234974;
}

.workshop_content .row.margin{
  margin-top: 50px;
}

.hackspace.workshop_content{
  margin-bottom: 40px;
}
