* {
  font-family: 'Open Sans'; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #666666; }

body {
  padding-top: 100px; }

a {
  color: #d02b2d; }
  a:hover {
    color: #d02b2d; }

.navbar {
  padding: 10px 20px;
  border-radius: 0;
  background-color: #fff;
  border: none; }
  .navbar .navbar-header .navbar-toggle {
    border: none;
    margin: 24px 10px; }
    .navbar .navbar-header .navbar-toggle .icon-bar {
      background-color: #333; }
  .navbar .navbar-header .navbar-brand {
    height: inherit; }
    .navbar .navbar-header .navbar-brand img {
      height: 50px; }
  .navbar .navbar-collapse {
    text-align: center; }
    .navbar .navbar-collapse .navbar-nav li a {
      padding: 0;
      margin: 30px 15px;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
      color: #333;
      transition: color 0.4s ease; }
      .navbar .navbar-collapse .navbar-nav li a:hover {
        color: #d02b2d; }
        .navbar .navbar-collapse .navbar-nav li a:hover:before {
          opacity: 1;
          -webkit-transform: scaleX(1);
          transform: scaleX(1); }
      .navbar .navbar-collapse .navbar-nav li a:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        opacity: 0;
        background-color: #d02b2d;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease; }

.footer {
  background-color: #222;
  color: #fff; }
  .footer .info {
    font-weight: lighter;
    margin: 20px; }
  .footer .social {
    margin: 20px; }
    .footer .social a {
      padding: 0 5px;
      margin: 0 10px;
      display: inline-block;
      color: #fff; }
      .footer .social a:hover {
        color: #d02b2d; }

.container {
  max-width: 970px; }

.section {
  padding: 30px 20px; }

.bg-wrapper {
  width: 100%; }

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  float: none; }

.empty-column {
  display: table-cell; }

.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  background: linear-gradient(rgba(57, 75, 89, 0.57), rgba(57, 30, 30, 0.57)), url(/staging/images/basesCover.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }
  .header .title {
    font-size: 28px;
    margin-bottom: 20px; }
  .header .description {
    font-size: 13px;
    line-height: 2em;
    font-weight: lighter;
    letter-spacing: 0.5px; }
  .header .btn-transparent {
    margin: 30px 0 30px; }

.btn-transparent {
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 100px;
  background: transparent;
  padding: 5px 30px;
  letter-spacing: 2px;
  font-weight: lighter;
  margin: 0; }
  .btn-transparent:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2); }

#category-bg {
  background-color: #fff; }

.category .title {
  font-size: 32px;
  letter-spacing: 2px;
  margin-right: 50px;
  text-transform: uppercase;
  display: inline-block; }

.category .subtitle {
  font-size: 16px;
  color: #283E6C;
  font-weight: lighter;
  letter-spacing: 1px;
  display: inline-block; }

.category .container-fluid {
  margin-top: 30px;
  padding: 0; }
  .category .container-fluid .col-md-9 {
    padding: 0; }
  .category .container-fluid .description {
    letter-spacing: 1px;
    font-weight: lighter;
    color: #000;
    line-height: 2em; }
    .category .container-fluid .description .learn-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0 0 60px;
      height: 80px;
      border-left: solid 3px #fff; }
      .category .container-fluid .description .learn-container .btn-transparent {
        font-size: 14px; }
  .category .container-fluid .col-md-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; }
    .category .container-fluid .col-md-3 img {
      width: 180px;
      height: 180px;
      border-radius: 100px; }

#inspire .title {
  color: #b32f3f; }

#inspire .learn-container {
  border-color: #4F2152; }
  #inspire .learn-container .btn-transparent {
    color: #4F2152;
    border-color: #4F2152; }

#create .title {
  color: #1272b3; }

#create .learn-container {
  border-color: #EFC301; }
  #create .learn-container .btn-transparent {
    color: #EFC301;
    border-color: #EFC301; }

#launch .title {
  color: #117979; }

#launch .learn-container {
  border-color: #03568C; }
  #launch .learn-container .btn-transparent {
    color: #03568C;
    border-color: #03568C; }

.slideshow {
  background: black;
  color: #fff; }
  .slideshow ul.bjqs-controls .bjqs-prev a {
    background: url("../images/icon_arrow.png") no-repeat;
    background-size: contain;
    background-position: center right;
    top: 40%;
    height: 6em;
    width: 4em;
    left: 2em !important;
    text-indent: -100000px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .slideshow ul.bjqs-controls .bjqs-next a {
    background: url("../images/icon_arrow.png") no-repeat;
    background-size: contain;
    background-position: center right;
    top: 40%;
    height: 6em;
    width: 4em;
    right: 2em !important;
    text-indent: -100000px; }
  .slideshow li {
    background-position: center center; }
    .slideshow li div {
      display: table;
      height: 100vh;
      width: 100%; }
      .slideshow li div div {
        display: table-cell;
        vertical-align: middle; }

#speakers li .content {
  font: 2.5em "Freight", serif;
  line-height: 1.5em;
  margin: 0 auto;
  width: 500px;
  max-width: 80%;
  padding-top: 100px;
  position: relative; }
  #speakers li .content:before {
    background: url("../images/icon_quote.png") no-repeat;
    background-size: contain;
    content: '';
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 225px; }
  #speakers li .content .author, #speakers li .content .title {
    display: block;
    font: 0.4em "Gotham", Georgia, Times, serif;
    text-align: right; }
  #speakers li .content .author {
    font-weight: 700;
    margin: 3em 0 0.5em; }
    #speakers li .content .author:before {
      content: '- '; }

#contact-bg {
  background-color: #a9a8aa; }

.contact .title {
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px; }

.contact .heading {
  font-weight: lighter;
  color: #fff;
  font-size: 18px; }

.contact .info {
  margin-top: 20px;
  font-weight: lighter;
  color: #eee; }

/*# sourceMappingURL=style.css.map */