* {
  font-family: 'Open Sans';
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #666666;
}

.navbar {
  .navbar-header {
    .navbar-brand {
      height: inherit;
      img {
        height: 50px;
      }
    }
  }
  .navbar-collapse {
    text-align: center;
    .navbar-nav {
      // display: inline-block;
      // float: right;
      // vertical-align: top;
    }
  }
}