doctype 5
html

  head
    title BASES | Board of Advisors
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#sponsors
      div#cover
        div#hero 
        div#heroText Board of Advisors
      div#content 
        div.text
            BASES thanks its Board of Advisors for all of the insights, guidance, and wisdom each individual has lent to our members and organization.
        h1 Ryan Akkina
        hr.accent
        div.text 
         p <img src ='/images/akkina.png' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Ryan served as the President of BASES during the 2007-2008 academic year. While at Stanford, Ryan also cofounded a video-focused startup called ReelSurfer, which later attracted funding from various investors including YCombinator. After graduation, Ryan worked as a management consultant at McKinsey & Company, and then joined the MIT Investment Management Company, where he is a member of the Global Investment Staff. He focuses primarily on investments in marketable securities, as well as real assets, growth stage private equity, and venture capital. Originally from Colorado, Ryan currently lives in Cambridge, MA.
        h1 Jonathan Berger
        hr.accent
        div.text 
         p <img src ='/images/berger.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Jonathan started out as an officer on the E-Challenge team, and went on to be CTO and then President of BASES in 2004. Since school, he's been a product manager at Google twice and helped start two companies Picurio (Y Combinator) and Katango (Kleiner Perkins, acquired by Google). 
        h1 Dimitri Dadiomov 
        hr.accent
        div.text
         p <img src ='/images/dimitri.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Dimitri served as co-President of BASES in 2005-2006 and graduated in 2007. After school, he joined Intellectual Ventures in Seattle, working to launch IV’s first ever spinout company, TerraPower, that attracted investment from Bill Gates and is today commercializing a new generation of nuclear energy. Dimitri served as an Entrepreneur in Residence at Foundation Capital, and joined Better Place, a company launched out of a white paper he helped write at Stanford, as one of the first employees. Better Place raised $750m to build a transportation system that can run a whole country without oil, and commercially launched in Israel and Denmark in 2012.
        h1 Rebecca Hwang
        hr.accent
        div.text
         p <img src ='/images/hwang.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Rebeca Hwang is a Co-founder and CEO of the San Francisco-based startup, YouNoodle, which focuses on helping companies and governments engage with communities of entrepreneurs and innovators for open innovation and co-creation processes. Recently listed by Forbes as one of their 20 inspiring young female founders to follow on Twitter and recognized by the World Economic Forum as a recipient of the Young Global Leaders award, Rebeca was educated in the US, receiving both her undergraduate and graduate degrees from MIT. She went on to pursue a PhD on Social Network Theory at Stanford University. During this time,she co-founded the Cleantech Open (CTO), now the largest cleantech competition in the US. Rebeca was the lead organizer of the BASES Social E-Challenge Competition for four years.
        h1 Jeffrey Koseff
        hr.accent
        div.text 
         p  Jeffrey Koseff, the Perry L. McCarty Director, Stanford Woods Institute for the Environment since 2004, joined the faculty of the Department of Civil and Environmental Engineering in 1984, after getting his Ph.D (1983) and MS (1978) degrees at Stanford. Prior to coming to Stanford, Koseff worked as a consulting engineer in South Africa, where he received a B.Sc in Civil Engineering at the University of Witwatersrand in 1976. Koseff's research area falls in the emerging interdisciplinary domain of environmental fluid mechanics and focuses on the interaction between physical and biological systems in natural aquatic environments. Koseff served as the Chair of Civil and Environmental Engineering from 1995 to 1999, and the Senior Associate Dean of Engineering from 1999 to 2003. He has also served on the Board of Governors of The Israel Institute of Technology, and was also a member of the Visiting Committees of the Civil and Environmental Engineering department at Carnegie-Mellon University, The Iowa Institute of Hydraulic Research, and The WHOI-MIT Joint Program. He is a former member of the Independent Science Board of the Bay/Delta Authority.
        h1 Tom Kosnik
        hr.accent
        div.text 
         p Tom Kosnik is a Consulting Professor in the Department of Management Science and Engineering, Stanford Technology Ventures Program (STVP), at Stanford School of Engineering. He is an adjunct faculty member for National University of Singapore Overseas Colleges Program in Silicon Valley, and a cofounder of Gear Up Ventures, a global partnership that helps entrepreneurs in organizations large and small to create new markets and disrupt existing markets. Tom is a founding member of the Board of Advisor (1996).
        h1 Othman Laraki
        hr.accent
        div.text
         p <img src ='/images/laraki.png' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Othman Laraki is an entrepreneur and investor, who was Twitter’s Vice President of Product, responsible for Growth, International and Revenue. Prior to Twitter, Othman cofounded MixerLabs (creator of GeoAPI), which was acquired by Twitter in 2009. Before that, he was at Google, where he led several products, including performance efforts, the Google Toolbar, Google Gears and early Firefox extensions. Othman holds degrees in computer science and management from Stanford and MIT. Othman also serves on the board of directors of ESI Group, a publicly-traded French software company. Othman served as the Co-President of BASES in 98-99. He is @othman on Twitter.
        h1 Ruby Lee
        hr.accent
        div.text
         p <img src ='/images/ruby.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" >  Ruby is currently an associate product manager at Google, where she works with engineers on setting product vision and testing new features. Prior to Google, she worked on developing a data visualization platform for the first complete model of a cell. She has also interned at a startup building inexpensive, efficient DNA sequencing technology. As a member of BASES, Ruby served as the co-president, CFO, and director of E-Bootcamp between 2009 and 2013. Raised in Shrewsbury, Massachusetts, Ruby graduated from Stanford in 2013 with a B.S. in Bioengineering and M.S. in Computer Science.
        h1 Heesun Lho
        hr.accent
        div.text
         p <img src ='/images/lho.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Heesun is currently living in Seoul, Korea and working on Business Development and Strategy at CLO, a 3D virtual fashion startup. Prior to her move, Heesun was VP of Projects at YouNoodle, a startup based in San Francisco focused on building a meaningful platform for entrepreneurs around the world. Working closely with product and large-scale campaigns, Heesun helped develop YouNoodle's technology as well as implement and support entrepreneurship programs. Heesun received her M.A. in Education and B.A. in Human Biology from Stanford University, where she also served as Co-President of BASES (Business Association of Stanford Entrepreneurial Students). Heesun is an advisor for BASES as well as Duke Startup Challenge.
        h1 Mary McCann
        hr.accent
        div.text
         p <img src ='/images/mccann.jpg' height = "60%" align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Mary is currently an analyst at Qatalyst Partners, a global financial advisory firm in San Francisco focusing on giving strategic and M&A advice to technology companies. Prior to Qatalyst, she interned at SK Telecom Ventures, a corporate venture capital firm Silicon Valley. Mary was involved in BASES from 2009 to 2012 as President, Vice President of E-Challenge, and Officer. Originally from Japan and Georgia, Mary graduated from Stanford University with a B.S. in Civil Engineering with a focus in clean energy.
        h1 Charles Naut
        hr.accent
        div.text
         p <img src ='/images/naut.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Charles was Vice President of the BASES Social E-Challenge in 2011 and then Co-President of BASES in 2012. Graduating from Stanford in 2012 with a B.S. in Computer Science and a concentration in information, Charles is currently getting his big data fix as a program manager for Microsoft Bing's core relevance team. Charles has worked on the intersection of technology and a variety of different sectors from energy (Con Edison) to law (SIPX.com) to finance (Morgan Stanley) and beyond.
        h1 Eli Rabek
        hr.accent
        div.text
         p <img src ='/images/rabek.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Eli is the Partnerships Director at YouNoodle, a role which pairs him with universities, companies and organizations around the world in the development of business plan competitions and innovation challenges. His favorite days are those spent helping organizations support their entrepreneurs by designing programs that provide tools and resources for their growth. Before YouNoodle, Eli worked in Madrid and later in San Francisco for Opinno, a global network of innovation centers located in the main technology hubs around the world. While at Opinno, Eli collaborated with M.I.T.'s Technology Review magazine to host the TR35 Young Innovators Awards in Spain and Latin America.
        h1 Mehran Sahami
        hr.accent
        div.text 
         p <img src ='/images/mehran.png' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Mehran Sahami is a Professor and Associate Chair for Education in the Computer Science department at Stanford University.  He is also the Robert and Ruth Halperin University Fellow in Undergraduate Education.  Prior to joining the Stanford faculty, he was a Senior Research Scientist at Google for several years.  His research interests include computer science education, machine learning, and web search.  He is co-chair of the ACM/IEEE-CS joint task force on Computer Science Curricula 2013, which is responsible for creating curricular guidelines for college programs in Computer Science at an international level.  He has published over 50 technical papers and has over 20 patent filings.  He received his BS, MS, and Ph.D. in Computer Science from Stanford University. 
        h1 Alvin Tse
        hr.accent
        div.text
         p <img src ='/images/tse.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Born and raised in Hong Kong, Alvin graduated from Stanford University in 2010 with a focus on entrepreneurship, where he also served as the Co-President of BASES. He started a small mobile studio with two cofounders during his Stanford days which successfully exited a year after graduation. After spending 6 years in Silicon Valley, Alvin has moved to Beijing in May 2012 to head up Flipboard's China expansion. In his spare time, he could be found brainstorming all kinds of venture ideas and looking for the next good cup of coffee or tea.
        h1 Ricky Yean
        hr.accent
        div.text
         p <img src ='/images/yean.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" >  As the CEO of Crowdbooster, Ricky wants everyone to understand how to get more out of social media. Ricky first began experimenting with Twitter in 2008 and quickly became fascinated by the potential for new relationships between us and the people and organizations that we love. Crowdbooster is funded by Y Combinator and prominent angel investors, and serves clients like Lil Wayne, JetBlue, LA Times, and Ben & Jerry’s. Before Crowdbooster, Ricky graduated with a BA in Science, Technology & Society from Stanford, where he served as BASES co-president.
    include ../footerFilesOthers.jade   
