doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#sponsors
      div#cover
        div#hero 
        div#heroText <img src = '/images/eChallengeLogo.png'> Board of Advisors
      div#content 
        h1 Jonathan Berger
        hr.accent
        div.text 
         p <img src ='http://bases.stanford.edu/core/images/uploads/berger.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Jonathan started out as an officer on the E-Challenge team, and went on to be CTO and then President of BASES in 2004. Since school, he's been a product manager at Google twice and helped start two companies Picurio (Y Combinator) and Katango (Kleiner Perkins, acquired by Google). 
        h1 Rebecca Hwang
        hr.accent
        div.text
         p <img src ='http://bases.stanford.edu/core/images/uploads/hwang.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Rebeca Hwang is a Co-founder and CEO of the San Francisco-based startup, YouNoodle, which focuses on helping companies and governments engage with communities of entrepreneurs and innovators for open innovation and co-creation processes. Recently listed by Forbes as one of their 20 inspiring young female founders to follow on Twitter and recognized by the World Economic Forum as a recipient of the Young Global Leaders award, Rebeca was educated in the US, receiving both her undergraduate and graduate degrees from MIT. She went on to pursue a PhD on Social Network Theory at Stanford University. During this time,she co-founded the Cleantech Open (CTO), now the largest cleantech competition in the US. Rebeca was the lead organizer of the BASES Social E-Challenge Competition for four years.
        h1 Ricky Yean
        hr.accent
        div.text
         p <img src ='http://bases.stanford.edu/core/images/uploads/yean.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" >  As the CEO of Crowdbooster, Ricky wants everyone to understand how to get more out of social media. Ricky first began experimenting with Twitter in 2008 and quickly became fascinated by the potential for new relationships between us and the people and organizations that we love. Crowdbooster is funded by Y Combinator and prominent angel investors, and serves clients like Lil Wayne, JetBlue, LA Times, and Ben & Jerry’s. Before Crowdbooster, Ricky graduated with a BA in Science, Technology & Society from Stanford, where he served as BASES co-president.
        h1 Othman Laraki
        hr.accent
        div.text
         p <img src ='http://bases.stanford.edu/core/images/uploads/laraki.png' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Othman Laraki is an entrepreneur and investor, who was Twitter’s Vice President of Product, responsible for Growth, International and Revenue. Prior to Twitter, Othman cofounded MixerLabs (creator of GeoAPI), which was acquired by Twitter in 2009. Before that, he was at Google, where he led several products, including performance efforts, the Google Toolbar, Google Gears and early Firefox extensions. Othman holds degrees in computer science and management from Stanford and MIT. Othman also serves on the board of directors of ESI Group, a publicly-traded French software company. Othman served as the Co-President of BASES in 98-99. He is @othman on Twitter.
        h1 Eli Rabek
        hr.accent
        div.text
         p <img src ='http://bases.stanford.edu/core/images/uploads/rabek.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Eli is the Partnerships Director at YouNoodle, a role which pairs him with universities, companies and organizations around the world in the development of business plan competitions and innovation challenges. His favorite days are those spent helping organizations support their entrepreneurs by designing programs that provide tools and resources for their growth. Before YouNoodle, Eli worked in Madrid and later in San Francisco for Opinno, a global network of innovation centers located in the main technology hubs around the world. While at Opinno, Eli collaborated with M.I.T.'s Technology Review magazine to host the TR35 Young Innovators Awards in Spain and Latin America.
        h1 Alvin Tse
        hr.accent
        div.text
         p <img src ='http://bases.stanford.edu/core/images/uploads/tse.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Born and raised in Hong Kong, Alvin graduated from Stanford University in 2010 with a focus on entrepreneurship, where he also served as the Co-President of BASES. He started a small mobile studio with two cofounders during his Stanford days which successfully exited a year after graduation. After spending 6 years in Silicon Valley, Alvin has moved to Beijing in May 2012 to head up Flipboard's China expansion. In his spare time, he could be found brainstorming all kinds of venture ideas and looking for the next good cup of coffee or tea.
        h1 Dimitri Dadiomov 
        hr.accent
        div.text
         p <img src ='http://bases.stanford.edu/core/images/uploads/dimitri.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Dimitri served as co-President of BASES in 2005-2006 and graduated in 2007. After school, he joined Intellectual Ventures in Seattle, working to launch IV’s first ever spinout company, TerraPower, that attracted investment from Bill Gates and is today commercializing a new generation of nuclear energy. Dimitri served as an Entrepreneur in Residence at Foundation Capital, and joined Better Place, a company launched out of a white paper he helped write at Stanford, as one of the first employees. Better Place raised $750m to build a transportation system that can run a whole country without oil, and commercially launched in Israel and Denmark in 2012.
        h1 Mary McCann
        hr.accent
        div.text
         p <img src ='/images/mccann.jpg' height = "60%" align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Mary is currently an analyst at Qatalyst Partners, a global financial advisory firm in San Francisco focusing on giving strategic and M&A advice to technology companies. Prior to Qatalyst, she interned at SK Telecom Ventures, a corporate venture capital firm Silicon Valley. Mary was involved in BASES from 2009 to 2012 as President, Vice President of E-Challenge, and Officer. Originally from Japan and Georgia, Mary graduated from Stanford University with a B.S. in Civil Engineering with a focus in clean energy.
        h1 Heesun Lho
        hr.accent
        div.text
         p <img src ='http://bases.stanford.edu/core/images/uploads/lho.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Heesun is currently living in Seoul, Korea and working on Business Development and Strategy at CLO, a 3D virtual fashion startup. Prior to her move, Heesun was VP of Projects at YouNoodle, a startup based in San Francisco focused on building a meaningful platform for entrepreneurs around the world. Working closely with product and large-scale campaigns, Heesun helped develop YouNoodle's technology as well as implement and support entrepreneurship programs. Heesun received her M.A. in Education and B.A. in Human Biology from Stanford University, where she also served as Co-President of BASES (Business Association of Stanford Entrepreneurial Students). Heesun is an advisor for BASES as well as Duke Startup Challenge.
        h1 Charles Naut
        hr.accent
        div.text
         p <img src ='http://bases.stanford.edu/core/images/uploads/naut.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" > Charles was Vice President of the BASES Social E-Challenge in 2011 and then Co-President of BASES in 2012. Graduating from Stanford in 2012 with a B.S. in Computer Science and a concentration in information, Charles is currently getting his big data fix as a program manager for Microsoft Bing's core relevance team. Charles has worked on the intersection of technology and a variety of different sectors from energy (Con Edison) to law (SIPX.com) to finance (Morgan Stanley) and beyond.
        h1 Ruby Lee
        hr.accent
        div.text
         p <img src ='http://bases.stanford.edu/core/images/uploads/ruby.jpg' align = 'left' style = "padding-right : 12px; padding-bottom : 1px" >  Ruby is currently an associate product manager at Google, where she works with engineers on setting product vision and testing new features. Prior to Google, she worked on developing a data visualization platform for the first complete model of a cell. She has also interned at a startup building inexpensive, efficient DNA sequencing technology. As a member of BASES, Ruby served as the co-president, CFO, and director of E-Bootcamp between 2009 and 2013. Raised in Shrewsbury, Massachusetts, Ruby graduated from Stanford in 2013 with a B.S. in Bioengineering and M.S. in Computer Science.

 
    include ../footerFilesOthers.jade   
