doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#sponsors
      div#cover
        div#hero 
        div#heroText <img src = '/images/eChallengeLogo.png'> SPONSORS
      div#content 
        h1 Platinum Sponsors
        hr.accent
        div.text
         p <center> <a href = 'http://www.nea.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-NewEnterpriseAssociates.png'> </a></center>
         p <center> <a href = 'http://www.nasdaqomx.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-NASDAQQMX.png'></a></center>
         p <center> <a href = 'http://www.paypal.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-Paypal.png'></a></center>
         p <center> <a href = 'http://www.perkinscoie.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-PerkinsCole.png'></a></center>
         p <center> <a href = 'http://www.sequoiacap.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-SequoiaCapital.png'></a></center>
        h1 Gold Sponsors
        hr.accent
        div.text
         p <center> <a href = 'http://www.lightspeedvp.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-LightspeedVenturePartners.png'> </a></center>
         p <center> <a href = 'http://www.morgenthaler.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-Morgenthaler.png'></a></center>
         p <center> <a href = 'http://www.nbvp.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-NorthBridgeVenturePartners.png'></a></center>
         p <center> <a href = 'http://www.omm.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-OMelvenyMeyersLLP.png'></a></center>
        h1 Silver Sponsors
        hr.accent
        div.text
         p <center> <a href = 'http://www.dandb.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-DunBradstreetCredibilityCorporation.png'> </a></center>
         p <center> <a href = 'http://www.hcp.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-HighlandCapital.png'></a></center>
         p <center> <a href = 'http://www.javelinvp.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-JavelinVenturePartners.png'></a></center>
         p <center> <a href = 'http://www.meruscap.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-MerusCapital.png'></a></center>
         p <center> <a href = 'http://www.mdv.com/'><img src = 'http://bases.stanford.edu/core/images/uploads/sponsor-MohrDavidow.png'></a></center>  
        
    include ../footerFilesOthers.jade   
