doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#sponsors
      div#cover
        div#hero 
        div#heroText SPONSORS
      div#content 
        h1 Platinum Sponsor
        hr.accent
        div.text
         div.platinum
          p <a href = 'http://www.paypal.com/'><img src = '/images/paypal.png' style = "padding-right: 10px"></a> 
        h1 Gold Sponsors
        hr.accent
        div.text
         div.platinum
          p <a href = "http://www.svb.com/"> <img src = "/images/logo-svb-block.png" style = "padding-right: 10px"> </a> <a href = 'http://www.morgenthaler.com/'><img src = '/images/morgenthaler.png' style = "padding-right: 10px"></a> <a href = 'http://www.perkinscoie.com/'><img height = 55px" src = '/images/perkinscole.jpg' style = "padding-right: 10px"></a> <a href = 'http://www.sequoiacap.com/'><img src = '/images/sequoia.png' style = "padding-right: 10px"></a> <a href = "http://www.wilmerhale.com/"> <img src = '/images/wh-logo.png' style = "padding-right: 10px"> </a> <a href = 'http://www.lightspeedvp.com/'><img src = '/images/lsvp.png' style = "padding-right: 10px"> </a> 
        h1 Silver Sponsors
        hr.accent
        div.text
         div.platinum
          p <a href = 'http://www.dandb.com/'><img src = '/images/dunbradstreet.png' style = "padding-right: 10px"> </a> <a href = 'http://www.hcp.com/'><img src = '/images/hcp.png' style = "padding-right: 10px"></a> <a href = 'http://www.meruscap.com/'><img src = '/images/merus.png' style = "padding-right: 10px"></a> 
        
    include ../footerFilesOthers.jade   
