doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#sponsors
      div#cover
        div#hero 
        div#heroText SPONSORS
      div#content 
        
        h1 Platinum Sponsor
        hr.accent
        div.text
         div.platinum
          p <a href = 'http://www.paypal.com/'><img src = '/images/paypal.png' style = "padding-right: 10px"></a> 

        h1 Gold Sponsors
        hr.accent
        div.text
         div.platinum
          p <a href = "http://www.svb.com/"> <img src = "/images/logo-svb-block.png" style = "padding-right: 10px"> </a> <a href = 'http://www.morgenthaler.com/'><img src = '/images/morgenthaler.png' style = "padding-right: 10px"></a> <a href = 'http://www.perkinscoie.com/'><img height = 55px" src = '/images/perkinscole.jpg' style = "padding-right: 10px"></a> <a href = 'http://www.sequoiacap.com/'><img src = '/images/sequoia.png' style = "padding-right: 10px"></a> <a href = "http://www.wilmerhale.com/"> <img src = '/images/wh-logo.png' style = "padding-right: 10px"> </a> <a href = 'http://www.lightspeedvp.com/'><img src = '/images/lsvp.png' style = "padding-right: 10px"> </a> 

        h1 Silver Sponsors
        hr.accent
        div.text
         div.platinum
          p <a href = 'http://www.dandb.com/'><img src = '/images/dunbradstreet.png' style = "padding-right: 10px"> </a> <a href = 'http://www.hcp.com/'><img src = '/images/hcp.png' style = "padding-right: 10px"></a> <a href = 'http://www.meruscap.com/'><img src = '/images/merus.png' style = "padding-right: 10px"></a> 

        h1 Our Partners
        hr.accent
        div.text
          p
            | BASES is a non-profit student organization. The scale and success of our programs would not be possible without the support of our partners. 
          p
            | For nearly two decades, our partners have done much more than fund our programs. Every year, BASES members benefit immeasurably from the time our partners devote to our mentorship programs, judging panels, office hours, and speaker series.  
          p
            | BASES’s mission is to empower the next generation of entrepreneurs. Our partners provide us with the resources and experience to do so. Working together, we cannot wait to see which leaders and innovators BASES’s next twenty years will produce. 

        h1 Sponsor BASES
        hr.accent
        div.text
          p
            | BASES creates a customized strategy for each of our partners to ensure we achieve their partnership objectives. A dedicated BASES Account Executive works with each sponsor to leverage our organization and resources to maximize our partners’ impact on campus. 
          p
            | Some of the main ways we support our partners include:

        div.textList
          ul
            li Strengthening their <b>brand presence</b> on campus
            li <b>Recruiting</b> the best Stanford programmers and engineers
            li Developing meaningful <b>relationships</b> with student entrepreneurs 
            li <b>Exclusive access</b> to the most exciting startups and technologies coming out of Stanford
              
        h1 Contact Us
        hr.accent
        div.text
          p Jonathan Lu (<a href='mailto:jonlu@stanford.edu'>jonlu@stanford.edu</a>), VP of Business Development.
        
    include ../footerFilesOthers.jade   
