doctype html
html

  head
    title BASES | CNECT
    include ../headerFilesOthers.jade
  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText CNECT
      div#content
        h1 Overview
        hr.accent
        div.text
          h4 CNECT Platform
          p This year, BASES is launching CNECT (Central Network of Entrepreneurial Collegiate Teams), the TechCrunch for college campuses. CNECT will become an online platform for student entrepreneur communities across the nation to share ideas and promote relevant events. Our objective is to facilitate greater conversation and cooperation between student entrepreneurs and provide a central hub of relevant information for the greater community of business-minded students. Contributors will include Stanford, MIT, Syracuse, Columbia, Berkeley, Northwestern, and Harvard.

        h1 Contact Us
        hr.accent
        div.text
          p Jasmine Park (<a href='mailto:jpark18@stanford.edu'>jpark18@stanford.edu</a>) - VP

    include ../footerFiles.jade