doctype html
html

  head
    title BASES | CreateSpace
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText CreateSpace
      div#content.createspace
        h1 Overview
        hr.accent
        div.text
         p CreateSpace aims to accelerate the growth of the hacker community both within BASES and in the Stanford Community. We do this through our weekly hacking hours, by bringing people in to host technical workshops, and by hosting hackathons.

        h1 Programs
        hr.accent
        div.text
          h4 Hacking Hours
          p
            <a href='https://www.facebook.com/events/1482540352050970/' target="_blank">Facebook Event</a> <br /> A weekly meetup on campus where student teams from various technical groups  can work and receive mentorship on personal projects. Students with technical experience volunteer to be mentors, and help their peers grow their technical skills.

          h4 Startup Collab
          p A quarter-long project initiative where small groups of students partner with a company in order to solve an interesting problem that the company faces.

          h4 Coding Bootcamp
          p A once-per-quarter bootcamp event that aims to teach students how to apply academic coding skills from Stanford’s introductory CS courses to real-world projects.

        h1 Associated Programs
        hr.accent
        div.text
          p In association with other student groups BASES also hosts:

          h4 GoodHacks
          p GoodHacks is Stanford’s first hackathon centered on social good. This 24 hour hackathon will provide student with an opportunity to apply their technical skills and contribute to social impact efforts on the world’s pressing issues. A significant portion of the money raised for this event will go directly to the nonprofits present at the event.

          h4 HackOverflow
          p HackOverflow is a large hackathon co-hosted by Stanford Women in Computer Science and BASES. It is aimed at getting women and minorities interested in hackathons, engineering, and the process of “building.”

          h4 BlackOverflow
          p BlackOverflow is the first group for Stanford African-American Computer Science students and is a key BASES partner. BlackOverflow provides mentorship to African-American students both on campus and at local Bay Area high schools

          h4 PuzzleHunt
          p Puzzlehunt is a yearly problem-solving challenge co-hosted by the Stanford Association for Computing Machinery (ACM) and BASES. Over the course of a day, students form groups and solve logic puzzles and brain teasers under time pressure for prizes. This is a unique event to recruit technical talent that departs from the saturated hackathon-model.

        h1 Contact Info
        hr.accent
        div.text
          p Gene Lewis (<a href='mailto:glewis17@stanford.edu'>glewis17@stanford.edu</a>) - VP
          p Sigberto Alarcon (<a href='mailto:salarcon@stanford.edu'>salarcon@stanford.edu</a>) - VP
    include ../footerFiles.jade
