doctype 5
html

  head
    title BASES | Freshman Battalion
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover.coverBig
        div#heroFreshmanBat.hero
        div.heroText <img src = "/images/freshmanBatLogo.png"> Freshman Battalion
      div#content
        h1 Welcome to Stanford, 19!
        hr.accent
        div.text
          p Entrepreneurship, start-ups, innovation. The pillars that make Silicon Valley unique.
          p Interested in joining a squad that is passionate about nurturing new, crazy, revolutionary ideas and using these interests and skills to create an impact on the world?
          p Come to the <b> Freshman Battalion Info Session </b> to learn more on <b>Sept. 27 (Sunday)</b> from <b> 4-5 pm </b> in the <b>Arrillaga Dining Multipurpose Room</b> (on your right when you enter the Arrillaga Dining Hall).
          p Email Christine at <a href="mailto:christine.quan@stanford.edu">christine.quan@stanford.edu</a> for any questions.
        h1 Overview
        hr.accent
        div.text
         p The Frosh Battalion program identifies outstanding Stanford freshmen to participate in an entrepreneurship immersion program.
         p When thinking of entrepreneurship, we have learned to focus only on innovations in technology and Computer Science. In reality, entrepreneurship is about using our passions (whether in cooking, math, writing, biology, music, sports, politics, or any other area) to create change in our communities.

         p Starting first with fall recruitment, the Battalion program gives members opportunities to learn more about the entrepreneurial space in the Silicon Valley by engaging in multiple events with the Silicon Valley startup community. You may join events such as Lessons in Life lunches with startup founders, Social Entrepreneurship keynotes and breakout groups, BASES Bus trips to local tech companies, and CreateSpace code camps.
         p At the end of Fall quarter, members may join a BASES officer team to act on the organizing committee itself and help plan programs such as the BASES Challenge, Startup Lunches, Lessons in Life, Women in Entrepreneurship Summit, and other events.
        h1 Contact Info
        hr.accent
        div.text
          p Christine Quan (<a href="mailto:christine.quan@stanford.edu">christine.quan@stanford.edu</a>)
    include ../footerFilesOthers.jade
