doctype html
html

  head
    title BASES | Freshman Battalion
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover.coverBig
        div#heroFreshmanBat.hero
        div.heroText <img src = "/images/freshmanBatLogo.png"> Freshman Battalion
      div#content
        h1 Welcome to Stanford, 19!
        hr.accent
        div.text
          p Interested in entrepreneurship, start-ups, and innovation? Want to join a squad that is passionate about nurturing new, crazy ideas? Want to use these interests and skills to create an impact on the world? Want opportunities to meet VCs, startup founders, CEOs, and more? Want to learn how to network and how to pitch? Want to meet an amazing group of like-minded peers? If you answered yes to all these questions:
          p <a href="http://bit.ly/joinbases">JOIN BASES</a>
          p NEXT STEPS
          p 1. Fill the form <a href="http://bit.ly/joinbases">here</a> by Oct 4th 11:59PM. The purpose of this is just to get to know better - BASES is open to anyone who is interested in joining as a member. For more information, check out our info session slides <a href="https://docs.google.com/presentation/d/1uSs_4YNbdJika4CrLKNpa19QlqF136eqQUb6lxR2CZQ/edit#slide=id.g8f87427e2_00">here</a>.
          p 2. To remain a member, you will have to attend three BASES events per quarter. You can see upcoming BASES events <a href="http://bit.ly/bases-calendar">here</a>.
          p 3. To join the officer team, attend coffee chats to get in touch with the VPs you are interested in. Doing this helps us get to know you better and see if there's a good fit. Coffee chat times are here so you can start reaching out to the relevant VPs and telling them when you want to meet. Please DO email in advance - these times are just availability - you still have to set up the meetings.
          p We look forward to learning more about you all!
          p -The BASES Team-
          p Email Christine at <a href="mailto:christine.quan@stanford.edu">christine.quan@stanford.edu</a> for any questions.
        h1 Overview
        hr.accent
        div.text
         p The Frosh Battalion program identifies outstanding Stanford freshmen to participate in an entrepreneurship immersion program.
         p When thinking of entrepreneurship, we have learned to focus only on innovations in technology and Computer Science. In reality, entrepreneurship is about using our passions (whether in cooking, math, writing, biology, music, sports, politics, or any other area) to create change in our communities.

         p Starting first with fall recruitment, the Battalion program gives members opportunities to learn more about the entrepreneurial space in the Silicon Valley by engaging in multiple events with the Silicon Valley startup community. You may join events such as Lessons in Life lunches with startup founders, Social Entrepreneurship keynotes and breakout groups, BASES Bus trips to local tech companies, and CreateSpace code camps.
         p At the end of Fall quarter, members may join a BASES officer team to act on the organizing committee itself and help plan programs such as the BASES Challenge, Startup Lunches, Lessons in Life, Women in Entrepreneurship Summit, and other events.
        h1 Contact Info
        hr.accent
        div.text
          p Christine Quan (<a href="mailto:christine.quan@stanford.edu">christine.quan@stanford.edu</a>)
    include ../footerFiles.jade
