doctype 5
html

  head
    title BASES | Programs
    include ../headerFilesOthers.jade
  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText Programs
      div#content
        h1 Inspire
        hr.accent
        div.text
          h3 Connects
          h6 Entrepreneurial Thought Leader (ETL) Lecture Series
          p ETL connects Stanford students with some of the most entrepreneurially minded and inspiring professionals in the country. Past speakers include Mark Zuckerberg, Marissa Meyer, Sheryl Sandberg, Melinda Gates, Reid Hoffman, Jack Dorsey, Laurene Powell Jobs, and Marc Andreessen.

          h6 BASES Bus
          p BASES Bus takes Stanford students on tours of companies and startups around Silicon Valley. Each bus tour is application based, accepting up to 20 top Stanford students. Past Bus tour destinations have included Facebook, Twitter and Applied Predictive Technologies.

          h6 Adventures
          p BASES Adventures puts a small group of students and a special guest in a dynamic problem solving environment. These events are great team building and bonding exercises. Past Adventures have included Escape the Room, rafting and hot-air ballooning.

          h6 Lessons in Life
          p Lessons in Life (LiL) are small lunches held every quarter, hosted every quarter between a sponsor and up to eight students. The focus of LiL is placed on the guest speaker’s life story, rather than his or her company.


          h3 External Relations
          h6 BASES Startup Career Fair
          p Every February, BASES hosts Stanford’s second largest career fair, attracting 1,000+ students and 70 companies. The fair attracts top programmers and engineers and is the only Stanford career fair focused on startups.

          h6 Startup Lunches
          p Our External Relations team invites the founders and CEOs from sponsor companies to have lunch with high-quality, pre-selected students in intimate, high-impact settings. Past guests include Joe Lonsdale and Kevin Hartz, and past companies represented include Palantir, Thumbtack, ZenPayroll, and AdRoll. This is a fantastic opportunity for students to get to know companies on a more personal level.

          h6 VC-Startup Mixer
          p Entering its fourth year, the BASES VC Mixer brings together the larger Stanford entrepreneurial community and 20+ VCs and law firms at a fun mixer-style event.


          h3 Social Impact
          h6 Social Impact Kickoff Panel
          p In October, the BASES Social Impact team will be kicking off the year with a high visibility event emphasizing opportunities for the Stanford community to engage in high impact work. (what will students be doing…)Three panelists will discuss what social entrepreneurship means to them. After the panel, we will host an expo of companies working in social entrepreneurship.

          h6 Social E-mmersion Course
          p From January to April, a group of 15 selected students will enroll in our “Social E-mmersion course.” For 10 weeks, they will learn about the different pieces of the social entrepreneurship ecosystem and how they piece together. Students will engage in lectures and discussions with Stanford faculty in addition to visiting social impact organizations, from for-profit social ventures to non-profits, foundations, impact investing firms, and accelerators.

          h6 Tackling Today’s Troubles
          p Every month, we will bring in an expert to discuss a social problem and possible solutions with 10-15 Stanford students. The goal of Tackling Today’s Troubles is to expose students to a variety of ways to engage in social entrepreneurship.

          h6 Social Impact Fair (Haas Fair)
          p Stanford’s Haas Center for Public Service holds an annual Social Impact Fair to expose students to social impact internships and careers. This year, BASES will bring more business-related opportunities and marketing to the Social Impact Fair.

          h6 Social Impact Case Competition
          p The BASES Social Impact team will hold a 12-hour event in which groups of Stanford students work to solve a business problem a partnering social enterprise is facing. Throughout the event, we will hold workshops on case competitions and discussions with the social enterprise. Finally, the event will end with group presentations and outstanding teams receiving prizes.


          h3 CNECT
          h6 CNECT Platform
          p This year, BASES is launching CNECT (Central Network of Entrepreneurial Collegiate Teams), the TechCrunch for college campuses. CNECT will become an online platform for student entrepreneur communities across the nation to share ideas and promote relevant events. Our objective is to facilitate greater conversation and cooperation between student entrepreneurs and provide a central hub of relevant information for the greater community of business-minded students. Contributors will include Stanford, MIT, Syracuse, Columbia, Berkeley, Northwestern, and Harvard.


          h3 Treks
          h6 Treks (Thanksgiving and Spring Break Trip)
          p BASES Treks are semiannual trips during Stanford’s Thanksgiving and Spring breaks. Treks takes 10-15 Stanford students on trips around the country to explore context-specific definitions and manifestations of entrepreneurship. Treks trips are planned around existing connections, many of which come from sponsors.
        h1 Create
        hr.accent
        div.text
          h3 CreateSpace
          h6 Hacking Hours
          p A weekly meetup on campus where student teams from various technical groups  can work and receive mentorship on personal projects. Students with technical experience volunteer to be mentors, and help their peers grow their technical skills.

          h6 Startup Collab
          p A quarter-long project initiative where small groups of students partner with a company in order to solve an interesting problem that the company faces.

          h6 Coding Bootcamp
          p A once-per-quarter bootcamp event that aims to teach students how to apply academic coding skills from Stanford’s introductory CS courses to real-world projects.

          h6 GoodHacks
          p GoodHacks is Stanford’s first hackathon centered on social good. This 24 hour hackathon will provide student with an opportunity to apply their technical skills and contribute to social impact efforts on the world’s pressing issues. A significant portion of the money raised for this event will go directly to the nonprofits present at the event.

          h6 HackOverflow
          p HackOverflow is a large hackathon co-hosted by Stanford Women in Computer Science and BASES. It is aimed at getting women and minorities interested in hackathons, engineering, and the process of “building.”

          h6 BlackOverflow
          p BlackOverflow is the first group for Stanford African-American Computer Science students and is a key BASES partner. BlackOverflow provides mentorship to African-American students both on campus and at local Bay Area high schools

          h6 PuzzleHunt
          p Puzzlehunt is a yearly problem-solving challenge co-hosted by the Stanford Association for Computing Machinery (ACM) and BASES. Over the course of a day, students form groups and solve logic puzzles and brain teasers under time pressure for prizes. This is a unique event to recruit technical talent that departs from the saturated hackathon-model.
        h1 Launch
        hr.accent
        div.text
          h3 BASES Challenge
          p The BASES Challenge is Stanford’s oldest and most competitive annual entrepreneurship competition. It is a great opportunity for BASES’s sponsors to see the latest trends on campus through judging and mentoring. Attracting over 200 companies a year, the BASES Challenge includes the following programs.

          h6 Online Feedback Forum
          p A new initiative, the online feedback forum will give Stanford entrepreneurs the chance to share and critique each other’s ideas, prototypes, and business plans. This will get more students excited about the Challenge competition and give sponsors an exclusive opportunity to discover some of the best ideas coming out of Stanford. At the end of fall quarter, BASES will host a mixer for the students with the most “up-voted” ideas and our sponsors.

          h6 Kickoff
          p Held in January, the Kickoff event introduces the BASES Challenge competition to the Stanford community in an exciting way. At the event, Stanford students hear from a keynote speaker, interact with our past finalists in a demo-day style setting, meet with sponsors, and find potential team members. Last year’s keynote speaker was Michael Baum, Founder and CEO of Founder.org. There were 275 total attendees at last year’s Kickoff.

          h6 Judging Rounds
          p After teams submit applications for the BASES Challenge startup competition, they pitch their projects to sponsors at several judging rounds. The first judging round gives Challenge teams a chance to obtain valuable feedback on their projects. 108 teams were selected to participate in the first judging round last year, with 51 teams advancing to the second judging round at Finale.

          h6 Workshops
          p Workshops give Challenge participants opportunities to improve skills in key areas that are essential to entrepreneurial projects. Last year, 50 Challenge participants attended a pitching workshop with Chris Lipp, author of The Startup Pitch: A Proven Formula to Win Funding. This year we are looking to incorporate more workshops on topics like needfinding, prototyping, and business plans.

          h6 Office Hours
          p Office hours give Challenge teams a chance to gain constructive feedback on their projects from industry experts. About 40 Challenge teams participated in office hours last year.

          h6 Finale
          p Finale is the final event in the BASES Challenge competition, where teams showcase their startups to the public and the prize money winners are determined. BASES Challenge awards a total of $100,000 in prize money each year, including prizes for overall best ventures, best social ventures, and crowd favorites. In addition to public demos and the final judging round, attendees have the chance to listen to a keynote speaker talk about his or her experiences with entrepreneurship. Past winners include Kiva, One Acre Fund, Boosted Boards, D.Light Design, and Samasource.
    include ../footerFilesOthers.jade