doctype 5
html

  head
    title BASES | Professional Development
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText Professional Development
      div#content 
        h1 Overview
        hr.accent
        div.text 
         p BASES offers events and programs to connect student entrepreneurs and provide them the skills to get started. More details on this developing program coming soon! 
        h1 Contact Info
        hr.accent
        div.text
          p Steve Kim (wyskim93@stanford.edu) - VP
          p Tara Balakrishnan (taragb@stanford.edu) - Director
    include ../footerFilesOthers.jade   
