doctype 5
html

  head
    title BASES | Social Impact
    include ../headerFilesOthers.jade
  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText Social Impact
      div#content
        h1 Overview
        hr.accent
        div.text
          h4 Social Impact Kickoff Panel
          p In October, the BASES Social Impact team will be kicking off the year with a high visibility event emphasizing opportunities for the Stanford community to engage in high impact work. Three panelists will discuss what social entrepreneurship means to them. After the panel, we will host an expo of companies working in social entrepreneurship.

          h4 Social E-mmersion Course
          p From January to April, a group of 15 selected students will enroll in our “Social E-mmersion course.” For 10 weeks, they will learn about the different pieces of the social entrepreneurship ecosystem and how they piece together. Students will engage in lectures and discussions with Stanford faculty in addition to visiting social impact organizations, from for-profit social ventures to non-profits, foundations, impact investing firms, and accelerators.

          h4 Tackling Today’s Troubles
          p Every month, we will bring in an expert to discuss a social problem and possible solutions with 10-15 Stanford students. The goal of Tackling Today’s Troubles is to expose students to a variety of ways to engage in social entrepreneurship.

          h4 Social Impact Fair (Haas Fair)
          p Stanford’s Haas Center for Public Service holds an annual Social Impact Fair to expose students to social impact internships and careers. This year, BASES will bring more business-related opportunities and marketing to the Social Impact Fair.

          h4 Social Impact Case Competition
          p The BASES Social Impact team will hold a 12-hour event in which groups of Stanford students work to solve a business problem a partnering social enterprise is facing. Throughout the event, we will hold workshops on case competitions and discussions with the social enterprise. Finally, the event will end with group presentations and outstanding teams receiving prizes.
        h1 Contact Us
        hr.accent
        div.text
          p Nick Hershey (<a href='mailto:nhershey@stanford.edu'>nhershey@stanford.edu</a>) - VP
          p Vicki Niu (<a href='mailto:vniu@stanford.edu'>vniu@stanford.edu</a>) - VP

    include ../footerFilesOthers.jade