doctype html
html

  head
    title BASES | Startup Lunch
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div.cover.coverBig
      div#heroStartupLunch.hero
      div.heroText Startup Lunch
    div#content 
      h1 Overview
      hr.accent
      div.text 
       p The BASES Startups Lunches are a series of talks given by the founders and top executives of startups to a group of 15-20 Stanford students. The talks are an interactive experience, aiming for the founders and the execs to share with students their success and failure in founding or running the startups, and the lessons learned. The entrepreneurial community at Stanford, including both undergraduate and graduate student bodies, has benefited significantly from talks given by people such as Kevin Hartz, founder of Eventbrite, Joe Lonsdale, co-founder of Palantir, Adora Cheung, founder of Homejoy, etc.
      h1 Contact Info
      hr.accent
      div.text
        p If you are interested in hearing more about the BASES Startup Lunches, please contact Victoria Zuo at (<a href='mailto:mzuo804@stanford.edu'>mzuo804@stanford.edu</a>)
    include ../footerFiles.jade   
