doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#hero
      div#heroText Alumni
    div#content 
      h1 Alumni
      hr.accent
      div.text 
        p BASES alumni range from engineers to marketers who have founded a range of companies in industries from  biotechnology to social media marketing analysis. BASES is is strengthening and reconnecting its alumni network this year. 
        p If you're a BASES alumni and would like to stay in the loop, please email Stephany Yong at <a href = "#"> syong@stanford.edu </a> with your Stanford graduation year, BASES team and position, and how you would like to be involved with the organization. 
        p
        p <strong> Matt Pauker </strong> and <strong> Rishi Kacker </strong> were on the winning team of the BASES 2002 E Challenge with their Identicrypt software security (now <a href = "http://www.voltage.com/company/">Voltage Security</a>), and they are now listed among the <a href = "http://www.youmotivation.com/inspirational-articles/30-successful-young-entrepreneurs-infographic-7377"> "Top 30 Richest Young Entrepreneurs Around the World".</a>
        p
        p As the CEO of Crowdbooster, <strong> Ricky Yean </strong> wants everyone to understand how to get more out of social media. Ricky began experimenting with Twitter in 2008 and quickly became fascinated by the potential for new relationships between us and the people and organizations that we love. Crowdbooster is funded by Y Combinator and prominent angel investors, and serves clients like Lil Wayne, JetBlue, LA Times, and Ben & Jerry’s. Before Crowdbooster, Ricky graduated with a BA in Science, Technology and Society from Stanford, where he served as BASES co-president.
    include ../footerFilesOthers.jade   

