doctype 5
html

  head
    title BASES | Alumni
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#blank
    div.cover
      div.hero
      div.heroText Alumni
    div#content 
      h1 Alumni
      hr.accent
      div.text 
        p BASES alumni range from engineers to marketers who have founded companies in industries that range from  social media marketing analysis to biotechnology to high-tech companies. BASES is strengthening and reconnecting its alumni network this year. 
        p If you are a BASES alum and would like to stay in the loop, please email Mackenzie Yaryura (<a href='mailto:myaryura@stanford.edu'>myaryura@stanford.edu</a>) and Thomissa Comellas (<a href='mailto:thomissa@stanford.edu'>thomissa@stanford.edu</a>) with your Stanford graduation year as well as your past BASES team and position. We would love to keep you involved with the organization!

      h1 Alumni Spotlight
      hr.accent

      div.text
        h3 Guido Appenzeller
        table
          tr
            td(style='vertical-align: top') <img src ='/images/guidoappenzeller.png' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
            td
              p Guido Appenzeller was involved in BASES in the first years of its existence. He describes his BASES involvement as pivotal for his later life and credits BASES for launching his entrepreneurial career at Stanford. Through BASES he enjoyed meeting entrepreneurs who had successfully launched start-ups and he learned many of the details involved in founding and running a company. In 2002 he participated in the BASES E-Challenge, which led to him co-founding Voltage Security. He stayed with Voltage Security as co-founder and CTO until 2008, helping to grow it to profitability and over 1,000 enterprise customers. After a two-year stay at Stanford from 2008 to 2010 he left again to start Big Switch Networks, a networking start-up that has raised over $45M in venture capital today. Guido enjoys start-up life for the opportunity to change the world, to compete and build something out of nothing. In 2014 Guido left Big Switch and joined VMWare as Chief Technology Strategy Officer of the NSBU.

        h3 Ron Gutman
        table
          tr
            td(style='vertical-align: top') <img src ='/images/rongutman.png' align = 'left' style = "padding-right : 15px; padding-bottom : 1px" height = 250px>
            td
              p Ron Gutman is the current founder and CEO of HealthTap, as well as Curator of TedX Silicon Valley. Back when he was still a Stanford student, Ron ran the BASES E-Challenge Business Plan Competition. He really appreciates that BASES introduced him to a network of individuals who have gone on to do incredible things. Clearly an innovator and visionary, Ron started researching multidisciplinary health while a graduate student at Stanford. He followed his passion and mission to innovate the healthcare field through his company HealthTap, which is now the fastest growing digital health start-up of all time. For budding entrepreneurs (like current BASES members), he suggests to learn what values are most important to you, and stick to them. Also, be prepared to act at any moment to seize the opportunity.

      h1 Alumni Directory 
      hr.accent
      
      h3 2014
      hr.accent
      div.textList
        ul
          li John Bolander
          li Sophia Ginez
          li Julia Guenther
          li Ishan Puri

      h3 2013
      hr.accent
      div.textList
        ul
          li Jesse Clayburgh
          li Andy Fang
          li Charlie Janac
          li Ruby Lee
          li Travis McCain
          li Taylor Nguyen
          li Pooja Shah
          li Xin Shan
          li Kaia Simmons
          li Kevin Xu

      h3 2012
      hr.accent
      div.textList
        ul
          li Meghbartma Gautam
          li Matthew Gebre
          li Matthew Goodyear
          li Zissis Konstas
          li Ker Wei Kwee
          li Nora Lindstrom
          li Brian Louie
          li Nruthya Madappa
          li Mary McCann
          li Diego Molino
          li Charles Naut
          li Scheid Trevos
          li Nikil Viswanathan
          li Pak Man Yuen

      h3 2011
      hr.accent
      div.textList
        ul
          li Liu Beyang
          li DC (Dilanka) Jayasundera
          li Richard Lo
          li Alex Oppenheimer
          li Shravan Reddy
          li Truong Salina
          li Harshjit Sethi
          li Joyce Truong
          li Jon Zhang

      h3 2010
      hr.accent
      div.textList
        ul
          li Andrew Beck
          li Tran David
          li Hirav Gandhi
          li Tiffany Lin
          li Mitchell Mom
          li Dilys Sun
          li Dai Wang
          li Ricky Yean
      
      h3 2009
      hr.accent
      div.textList
        ul
          li Alicia DeSantola
          li Heesun Lho
          li Tachie-Menson Rachael
          li Eric Showen
          li Vridhi Tuli
      
      h3 2008
      hr.accent
      div.textList
        ul
          li Brandon Farwell
          li Andrew Gadson
          li Srinivas Jampani
          li Rishi Mallik
          li Veronique Moore
          li Sunil Parekh
          li Akkina Ryan
          li Jeffrey Sefa-Boakye

      h3 2007
      hr.accent
      div.textList
        ul
          li Dimitri Dadiomov
          li Eytan Daniyalzade
          li Adolph Dean
          li Rebeca Hwang
          li Elvina Mintarno
          li Brian Noguchi
          li Chun-Kai Wang


      h3 2006
      hr.accent
      div.textList
        ul
          li Ankur Jain
          li Kevin Lee
          li Vinay Mahagaokar
          li Mike Rothenberg

      h3 2005
      hr.accent
      div.textList
        ul
          li Guido Appenzeller
          li Chirag Bhatt
          li Madhu Chamarty
          li Eddy Hartanto
          li Sameera Inapakutika
          li Ryan Junee
          li Andrew Mo
          li Gutman Ron
          li John Shapiro
          li Neal Vora
      
      h3 2004
      hr.accent
      div.textList
        ul
          li Jonathan Berger
          li Brian Biggott
          li Alla Gonopolsky

      h3 2003
      hr.accent
      div.textList
        ul
          li David Guilfoyle
          li Shawn Kerrigan
          li Shawn Kerrigan
          li Shijun Liu
          li Meghani Sumir
          li Alper Tekin

      h3 2002
      hr.accent
      div.textList
        ul
          li Marchick Adam
          li Anand Chandrasekaran
          li Tim Choi
          li Nicholas Mourlas
          li Elita Ng
          li Frank Siereveld
      
      h3 2001
      hr.accent
      div.textList
        ul
          li Vikram Bala
          li Justin Choi
          li Kaan Ersun

      h3 2000
      hr.accent
      div.textList
        ul
          li Kutlu Kazanci
          li Othman Laraki
          li Mareza Larizadeh

      h3 1999
      hr.accent
      div.textList
        ul
          li Alex Cowan
          li Hongjie Hu
          li Mark Tong
          li Erin Turner

      h3 1998
      hr.accent
      div.textList
        ul
          li Erik Straser

        //- p
        //- p <strong> Matt Pauker </strong> and <strong> Rishi Kacker </strong> were on the winning team of the BASES 2002 E Challenge with their Identicrypt software security (now <a href = "http://www.voltage.com/company/">Voltage Security</a>), and they are now listed among the <a href = "http://www.youmotivation.com/inspirational-articles/30-successful-young-entrepreneurs-infographic-7377"> "Top 30 Richest Young Entrepreneurs Around the World".</a>
        //- p
        //- p As the CEO of Crowdbooster, <strong> Ricky Yean </strong> wants everyone to understand how to get more out of social media. Ricky first began experimenting with Twitter in 2008 and quickly became fascinated by the potential for new relationships between us and the people and organizations that we love. Crowdbooster is funded by Y Combinator and prominent angel investors, and serves clients like Lil Wayne, JetBlue, LA Times, and Ben & Jerry’s. Before Crowdbooster, Ricky graduated with a BA in Science, Technology and Society from Stanford, where he served as BASES co-president.
      h1 Alumni Outreach Directors
      hr.accent
      div.text
        p Mackenzie Yaryura (<a href='mailto:myaryura@stanford.edu'>myaryura@stanford.edu</a>)
        p Thomissa Comellas (<a href='mailto:thomissa@stanford.edu'>thomissa@stanford.edu</a>)
        p Angela Sy (<a href='mailto:angelasy@stanford.edu'>angelasy@stanford.edu</a>)
    include ../footerFilesOthers.jade   

