doctype 5
html

  head
    title BASES | Past Winners
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#blank
    div.cover.coverBig
      div#heroPastWinners.hero
      div.heroText PAST WINNERS
    div#content 
      h1 <a href = 'http://www.ravellaw.com/'> Ravel </a>
      hr.accent
      div.text 
       h6 E-Challenge 2012, 2nd Place
       p Ravel is a legal search platform for lawyers and law students with a clean, intuitive interface that provides visualization of how cases rank and connect. It also offers features that enable annotation of case law and research collaboration. 
       p Ravel leverages recent advances in the fields of network analysis and data visualization to show not just a case’s relevance but also how case law evolves and how legal topics cluster. Co-founders Daniel Lewis and Nik Reed both graduated from Stanford Law School in 2012. 
       p They have been working on the project for almost two years, first through independent research, then via advice from professors in the CS department, further developing the idea in law courses, and then launching at the Stanford d.school. 
       p Via the BASES competition, Daniel and Nik were able to hone their business plan, iterate on their idea and eventually garner the attention of several venture capitalists. Within days of their final pitch, they received their first term sheet, eventually raising a Seed Round with NEA, NorthBridge and Ulu Ventures.  
      h1 <a href = 'http://www.wello.co/'> Wello </a>
      hr.accent
      div.text
        h6 E-Challenge 2012, 3rd Place
        p Wello is a new fitness company that is changing the way that people get and stay fit by delivering virtual personal training. Wello connects clients with a live fitness trainer over two-way video. 
        p This means that the trainer sees and hears the client and vice versa. It is just like in-person training sessions, but Wello workouts are more convenient, affordable, and can be done at home. Private 1-on-1 and small group workouts are available. 
        p Participating in the BASES 150K Challenge was a great experience for Wello. The founders, Ann and Leslie, were were able to publicly demo their product, and they also gained access to some incredible investors and advisors with whom they have built relationships since the program.
      h1 <a href = 'http://www.yiftee.com/'> Yiftee </a>
      hr.accent
      div.text
        h6 E-Challenge 2012, Honorable Mention
        p Better than a poke or a post, Yiftee lets you send thoughtful gifts from your smart phone or the web in seconds to say Thanks, Happy Birthday or Just Because. Your friends are notified on Facebook, email or text instantly and they pick up their gifts at favorite local merchants. 
        p Yiftees are good for local shops because they generate profitable business for them, drive foot traffic into stores and require no technology, no discounting and no cost to the merchant. 
        p Founder Donna Novitsky says, "The BASES E-Challenge really upped our game. We were able to tap into some world class professional resources and participating in the presentations and demonstrations gave us focus to achieve our goals. It was a great experience for our whole team."
      h1 <a href = 'http://www.benchwise.org/'> Benchwise </a>
      hr.accent
      div.text
        h6 E-Challenge 2012, Honorable Mention
        p Benchwise is the Yelp of life science research products, a $40 billion market that is highly inefficient. Up to 50% of the products that scientists buy are either ill-suited or misused, resulting in tremendous waste of money and time. 
        p At the core of the problem is the lack of an easy way for scientists to share their product knowledge. We are using social networking to remove the frictions of this market, becoming its leading coordinator and simultaneously capturing value. 
        p Founder Milton Yu says, "Participating in BASES E-Challenge was one of our best decisions! It helped sharpen our strategy, connect with advisors, mentors and investors that would otherwise be inaccessible, and also put us in touch with a group of motivated entrepreneurs that we became great friends with."
      h1 <a href = 'http://www.carbonlighthouse.com/'> Carbon Lighthouse </a>
      hr.accent
      div.text
        h6 Social E-Challenge 2012, 2nd Place
        p Carbon Lighthouse makes it profitable for commercial and industrial buildings to become carbon neutral. By collecting and analyzing 1,000x more data than typically gathered in buildings, we are able to deliver energy efficiency projects that cut utility costs by 10% to 30% with little to no new capital. 
        p Next, Carbon Lighthouse and its clients make donations to Carbon Lighthouse Association, a not-for-profit entity that competes with power plants for pollution permits. The combined package is profitable for clients, and balances whatever carbon impact from the building could not be eliminated on-site. 
        p In the past two years, Carbon Lighthouse has completed 90+ projects in California and Oregon, delivering average savings of $2.84 per square foot, and reducing carbon dioxide emissions by 40,000,000 pounds. Carbon Lighthouse is a mission driven organization and remains 100% employee owned. 
        p The support of grant and fellowship competitions like BASES Social-E enabled Carbon Lighthouse to raise seed capital, develop its engineering and operational practices, and reach profitability on client revenue alone. Now, Carbon Lighthouse can continue to grow organically and stay true to its environmental mission of making it profitable for organizations to protect our planet.
    include ../footerFilesOthers.jade   
