doctype html
html

  head
    title BASES
    include ../../headerFilesOthers.jade
    link(rel="stylesheet", href="/stylesheets/hackspace.css")

  body
    include ../../navBarOthers.jade
    .wrap
      img.bannerImage(src="/images/hackspace/website_workshop_banner.png")
      .hackspace.container.workshop_content
        .row
          .col-md-5
            h2 Download Starter Files
            p To get started, download the appropriate starter files for your system. 
            .btns.row
              a.col-md-6(href="https://docs.google.com/uc?export=download&id=0B6O3gDtvPi9fVzZFeFFDRjBJNDQ", target="_blank")
                img(src="/images/hackspace/download_mac.png")
              a.col-md-6(href="https://docs.google.com/uc?export=download&id=0B6O3gDtvPi9fM2s5akpReEZTaFk")
                img(src="/images/hackspace/download_windows.png")
          .col-md-6.col-md-offset-1
            h2 View AFS Instructions
            p Before you can publish your website to the world you need to get set up on your Stanford AFS.
            .btns.row
              a.col-md-5(href="https://docs.google.com/uc?export=download&id=0B6O3gDtvPi9fZEtGSXg0b3RyeXc")
                img(src="/images/hackspace/instructions_btn.png")
        .row.margin
          .col-md-12
            h2 Beyond the workshop
            p Congratulations! You've made your first website, and can go brag to all your friends. There's a lot more to learn about websites though. Hackspace has put together a PDF for the ambitious among you who want to take it to the next level.
            .btns.row
              a.col-md-3(href="https://docs.google.com/uc?export=download&id=0B6O3gDtvPi9fOWszN1RTUXVURW8")
                img(src="/images/hackspace/learn_more.png")

    include ../../footerFiles.jade   
