doctype 5
html
    head
        title BASES | Executive Team
        include headerFilesOthers.jade
    body
        include navBarOthers.jade
        div#sponsors
            div#cover
                div#hero
                div#heroText Executive Team
            div#content
                div.text
                    p BASES is the premier student entrepreneurship organization on campus. We bring together the most driven Stanford students who are passionate about building the entrepreneurship community on campus while getting on the ground and practicing those skills ourselves.
                    p BASES is comprised of 18 executive board members and 78 officers. The eleven teams within BASES run a diverse range of programs promoting the student entrepreneurship community - inspiring, creating, and launching ideas.

                    h1 Co-Presidents
                    hr.accent
                    h2 Andrea Sy
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/andrea.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p An international student from the Philippines, Andrea want to find ways to harness technology and scale it in emerging markets. Her life goal is to leverage her interest in organizational behavior and data science to create positive social impact while solving interesting problems. When Andrea is not working with BASES, she loves drinking drip coffee, playing volleyball, dancing, and traveling!

                    h2 Brandon Garcia
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/brandon.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Brandon seeks to understand the world around him on a variety of different levels, from a comprehension of molecular interactions to a firm grasp of organizational behavior. He appreciates innovative consumer products, well-designed UX, and effective leadership styles. Brandon hopes to one day be able to return to his hometown, Miami, FL, and help grow the young entrepreneurial community.

                    h1 COO
                    hr.accent
                    h2 Angela Sy
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/angela.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Angela loves food, technology, and everything in between. (If you like food, let her know your favorite restaurant!!) She is very interested in organizational growth and understanding how to develop great leaders on a team. Angela wants to keep learning forever - whether it's unfamiliar coding languages or a new sport.

                    h1 Professional Development
                    hr.accent
                    h2 Tara Balakrishnan (Director)
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/tara.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Tara is interested in the application of computer science, specifically machine learning, to economics. She is working on projects ranging from predicting critical societal events from social network and search engine data, to network analysis to track the adoption of new technologies, and creating a video annotating tool at deebrief.com - feel free to let her know what you think! Tara hopes to one day help shape technology policy in the United States.

                    h1 Business Development
                    h2 Jonathan Lu (VP)
                    hr.accent
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/jonathan.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Born and raised in Hong Kong, Jonathan loves to travel and meet new people. He's the eldest of two sets of twins, and enjoys hiking, biking and playing tennis. Jonathan is also an adventurous foodie, serving a wicked molten lava cake with homemade coconut ice cream.

                    h1 CFO
                    hr.accent
                    h2 Stephany Yong
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/stephany.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p With a background and interest in journalism and media, Stephany loves exploring the intersection between technology and storytelling and how the two can compellingly communicate information to large audiences. She is excited about technology that empowers individuals and enterprises to collaborate and build awesome experiences and products!

                    h1 BASES Branding
                    hr.accent
                    h2 Arushi Jain (VP)
                    hr.accent
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/arushi.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Arushi is an aspiring marketing strategist with a foundation in analytics interested in the intersection of technology and creativity in business operations. A lover of creative nonficiton and literary journalism, storytelling guides how she perceives both the professional and personal world. Come talk to her about modern art, dance, and films!
                                
                    h2 Clay Garner (Director of Content)
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/clay.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Clay is passionate about liberation technologies, social entrepreneurship, and global development. He is also a part-time C-pop singer-songwriter, looking to support entrepreneurial communities around the world.

                    h1 Hackspace
                    hr.accent
                    h2 Jason Teplitz (VP)
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/jason.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Jason is excited about the possiblities that arise when people from diverse background learn how to turn their ideas into reality. He has been attending hackathons as a hacker, organizer, mentor, and sponsor for 4 years and is dedicated to growing a community of builders here at Stanford. Jason also loves comedy, and on rare occasions you might find him performing at an open mic.

                    h1 ETL
                    hr.accent
                    h2 Chad Kamisugi (VP)
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/chad.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Chad is most excited by organizational behavior and is energized by the challenge of figuring out how to align interests between and within organizations. He also really enjoys the outdoors and often goes hiking, fishing, and diving back home in Hawaii.

                    h2 Akaash Nanda (VP)
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/akaash.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Though a techie at heart, Akaash has a soft spot for good food, great views, long hikes, worldly music, and offbeat adventures. He has a keen interest in cognitive neuroscience and is fascinated with how our understanding of the brain can shape products, teams, and interactions effectively. Akaash is always up for a good book recomendation, as well.

                    h1 External Relations
                    hr.accent
                    h2 Victoria Zuo (VP)
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/victoria.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Victoria is a junior extremely interested in learning about and experimenting new things. She loves drawing and making random gadgets.

                    h1 BASES Core
                    hr.accent
                    h2 April Yu (Director)
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/april.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p April loves exploring the various ways technology can improve and even replace actions and habits in our daily lives, whether it be how we evaluate our workout or how we shop at the mall. She is also very passionate about facilitating connections between others and creating lifelong friendships.

                    h2 Shivani Baisiwala (VP)
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/shivani.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Shivani is fascinated by the possibilities biological materials and breakthroughs provide to build systems with huge medical potential. When she's not in lab though, Shivani is always up for good food and conversation. Do get in touch!

                    h1 BASES Challenge
                    hr.accent
                    h2 Michael Longoria (Director)
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/michael.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Michael is interested and passionate about learning at the intersection between tech and finance, as well as developing the skills necessary to understand the developing world around him. He is a radio DJ and loves bringing music, new and old, to people's ears. Michael strives to promote a healthy body, mind, and spirit with every choice he makes.

                    h2 Kristine Chen (VP)
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/kristine.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Kristine is passionate about understanding and bridging the gap between for-profit models and social impact on a global scale.

                    h1 Frosh Battalion
                    hr.accent
                    h2 Evelyn Xue (VP)
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/evelyn.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Evelyn loves physical spaces, building prototypes, and designing for the future. Her current goal is to build my own 500 sq ft IKEA home.

                    h2 Aditya Dev Gupta (VP)
                    table
                        tr
                            td(style='vertical-align: top; padding-bottom: 10px') <img src ='/images/exec/aditya.jpg' style = "padding-right : 15px; padding-bottom : 1px;" height = 250px >
                            td
                                div.text
                                p Aditya is an aspiring technology investment banker with a background in computer science and economics. In the longer term, his goal is to direct his passion for technology and business towards a corporate strategy or product role in industry. Aditya is particularly curious about the Internet landscape in India, Digital Media, Security Software, and Vertical SaaS. On campus, he enjoys teaching introductory computer science as a Section Leader.

        include footerFilesOthers.jade
