doctype 5
html

  head
    title BASES | Get Involved
    include headerFilesOthers.jade
  body
    include navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText Get Involved
      div#content
        h1 As a Stanford Student
        hr.accent
        div.text
          p We welcome all Stanford students to join BASES as a General Member.
          h4 BASES Member Privileges
          ol
            li Be a part of an entrepreneurial community of driven and like-minded peers interested in impact and innovation.
            li First look for all selective BASES events such as Lessons in Life, Startup Lunches, and BASES Bus startup tours.
            li Exposure to larger entrepreneurial community in Silicon Valley through visits to local companies and organizations, interactions with founders and executives of startups, VCs, and other firms, and special gatherings to utilize the BASES network.
          p <a href='http://bit.ly/joinbases' target='_blank'>Sign up</a> to become a BASES General Member. Members are required to attend 3 BASES events each quarter.
          p If you have any questions, please contact Christine Quan at <a href='mailto:christine.quan@stanford.edu'>christine.quan@stanford.edu</a>.

        h1 As a Company
        hr.accent
        div.text
          p BASES hosts many events throughout the year with industry partners. Partners are invited to interact with BASES and Stanford students as speakers at startup lunches, judges at the annual BASES $100k Startup Challenge, hosts at startup career fairs, and more. If you are interested in learning more, please contact Jonathan Lu at <a href='mailto:jonlu@stanford.edu'>jonlu@stanford.edu</a>.

        h1 As a Community Member
        hr.accent
        div.text
          p Are you interested in joining the BASES community and staying up to date with BASES events and local entrepreneurial activities?
          p The BASES Digest is your weekly email digest summing up the best events happening in and around the Stanford entrepreneurship community. The Digest reaches thousands of subscribers across the Silicon Valley and around the world.
          p <a class="digest-subscribe-link" href='http://eepurl.com/bBvuGb' target='_blank'>Subscribe</a> to the BASES Digest.

    include footerFiles.jade