link(rel='stylesheet', href='/libraries/Flat-UI-master/bootstrap/css/bootstrap.css')
link(rel='stylesheet', href='/libraries/Flat-UI-master/css/flat-ui.css')
link(rel='stylesheet', href='/stylesheets/libTweaks.css')
link(rel='stylesheet', href='/stylesheets/styleOthers.css')
link(rel='stylesheet', href='/stylesheets/fonts.css')
link(rel='stylesheet', href='/stylesheets/pageTemplate.css')
link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")