doctype 5
html

  head
    title BASES
    include headerFiles.jade

  body
    include navBarMain.jade
    div#home.slide.fullscreen 
      div.banner Business Association of Stanford Entrepreneurial Students
        hr.line-banner
        div.slide-banner-motto Empowering the next generation of Stanford entrepreneurs and beyond

    div#programs.slide
      div.slide-header
        div.slide-title - Programs -
      div.arrow-down
      div.slide-content
        div.container
          div.slide-description 
            div.slide-description-heading 10+
            | programs, including a startup challenge, an entrepreneurship bootcamp, and a program for freshmen at Stanford University.
          hr.divider
          div.row
            div.col-md-3
              div.card#test
                div.card-title BASES Challenge
                div.card-content Hello World!
            div.col-md-3
              div.card
                div.card-title E-Bootcamp
                div.card-content Hello world!
            div.col-md-3
              div.card
                div.card-title ETL
                div.card-content Hello world!
            div.col-md-3
              div.card
                div.card-title Hackspace
                div.card-content Hello world!
          div.row
            div.col-md-3
              div.card
                div.card-title Professional Development
                div.card-content Hello World!
            div.col-md-3
              div.card
                div.card-title Core
                div.card-content Hello world!
            div.col-md-3
              div.card
                div.card-title Freshman Battalion
                div.card-content Hello world!
            div.col-md-3
              div.card
                div.card-title Internship
                div.card-content Hello world!

    div#history.slide
      div.slide-header
        div.slide-title - History -
      div.arrow-down
      div.slide-content

    div#getInvolved.slide
      div.slide-header
        div.slide-title - Get Involved -
      div.arrow-down
      div.slide-content

    div#media.slide
      div.slide-header
        div.slide-title - Media -
      div.arrow-down
      div.slide-content

    div#partners.slide
      div.slide-header
        div.slide-title - Partners -
      div.arrow-down
      div.slide-content

    include footerFiles.jade
