doctype 5
html

  head
    title BASES
    include headerFiles.jade

  body
    include navBarMain.jade
    div#home.slide.fullscreen 
      div.banner Business Association of Stanford Entrepreneurial Students
        hr.line-banner
        div.slide-banner-motto Empowering the next generation of Stanford entrepreneurs and beyond
      div.block.left
        <a class = "btn btn-block btn-danger mainScreen" role = "button" href = "https://www.younoodle.com/competitions/bases_challenge_2014"> Apply to BASES Challenge 2013-14 </a> 
      div.block.right
        <a class = "btn btn-block btn-danger mainScreen" role = "button" href = "#"> Subscribe to the Digest </a>
      <div class = "clear"></div>
    div#about.slide.bg1
      div.slide-header
        div.slide-title - About -
      div.arrow-down
      div.slide-content
        div.container
          div.slide-description-about The Business Association of Stanford Entrepreneurial Students (BASES) is at the heart of student entrepreneurship at Stanford University. As one of the most established student-run entrepreneurship organizations in the world, BASES promotes entrepreneurship education at Stanford University in order to empower the next generation of entrepreneurs. We work with exceptional students, thought leaders and prominent professors and investors to unite the worlds of innovation, academia and industry. Our programs include the 
            b BASES Challenge, Entrepreneurial Thought Leaders' Seminar, SVI Hackspace, E-Bootcamp and Freshman Battalion.
    div#programs.slide.bg2
      div.slide-header
        div.slide-title - Programs -
      div.arrow-down
      div.slide-content
        div.container
          div.slide-description 
            div.slide-description-heading 10+
            | programs, including a startup challenge, an entrepreneurship bootcamp, and a program for freshmen at Stanford University.
          hr.divider
          div.row
            div.col-md-4
              div.card#test
                div.card-info
                  div.card-title BASES Challenge
                  div.card-content The BASES Challenge is Stanford’s premiere entrepreneurial event that looks to create, inspire and fund innovative Stanford startups through business plan competitions – E-Challenge and Social E-Challenge – and product demos – Product Showcase.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/socialEChallenge"> Social E-Challenge </a>
                  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/eChallenge"> E-Challenge </a>
                  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/productShowCase"> Product Showcase</a>
            div.col-md-4
              div.card
                div.card-info
                  div.card-title E-Bootcamp
                  div.card-content The premiere international conference for student entrepreneurs with up-and-coming startups to learn and network through panels, workshops, expos and a final pitch competition.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/eBootCamp"> E-Bootcamp </a>
            div.col-md-4
              div.card
                div.card-info
                  div.card-title ETL
                  div.card-content Stanford University's ETL is a weekly speaker series, co-hosted by BASES and the Stanford Technology Ventures Program, that brings innovation leaders from business, finance, technology, education and philanthropy to share their insights with aspiring entrepreneurs from all over the world.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/etl"> ETL </a>
          div.row
            div.col-md-4
              div.card
                div.card-info
                  div.card-title Hackspace
                  div.card-content An open hackspace for students and the Silicon Valley community to meet, work, host events and build next generations products and startups.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/hackspace"> Hackspace </a>
            div.col-md-4
              div.card
                div.card-info
                  div.card-title Professional Development
                  div.card-content BASES offers events and programs to connect student entrepreneurs and provide them the skills to get started.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/profDev"> Professional Development </a>
            div.col-md-4
              div.card
                div.card-info
                  div.card-title Freshman Battalion
                  div.card-content A year-long immersion program that identifies the brightest and most entrepreneurial Stanford freshmen to participate in the BASES core through a pitching competition, startup tours and a spring startup internship.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/programs/freshmanBat"> Freshman Battalion </a>

    div#history.slide.bg1
      div.slide-header
        div.slide-title - History -
      div.arrow-down
      div.slide-content
        div.container
          div.row
            div.col-md-6
              div.card
                div.card-info
                  div.card-title Alumni
                  div.card-content BASES was founded in 1996 by a group of five Stanford students with the aim of bringing together the worlds of engineering, innovation and business together. Over the years, BASES has grown from a platform to celebrate and reward student entrepreneurs with fantastic business ideas to the multi-faceted organization it is today that seeks to educate, inspire and fund the entrepreneurs of tomorrow.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/history/alumni"> Alumni </a>
            div.col-md-6
              div.card
                div.card-info
                  div.card-title Past Winners
                  div.card-content Winners of the BASES Challenge have gone on to disrupt the technology, nonprofit and education spheres.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/history/pastWinners"> Past Winners </a>

    div#getInvolved.slide.bg2
      div.slide-header
        div.slide-title - Get Involved -
      div.arrow-down
      div.slide-content
        div.container
          div.row
            div.col-md-4
              div.card
                div.card-info
                  div.card-title Career Fair
                  div.card-content BASES connects the most innovative companies in the Valley with top engineering, business and marketing talent at Stanford University. Our external relations team is currently in the process of planning the Winter 2014 BASES Career Fair.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/getInvolved/careerFairs"> Career Fair </a>
            div.col-md-4
              div.card
                div.card-info
                  div.card-title Digest
                  div.card-content The BASES Digest is your weekly email digest summing up the best events happening in and around the Stanford entrepreneurship community. The Digest reaches thousands of subscribers across the Silicon Valley and around the world. 
                    | Sign up for the BASES mailing list
                    | , or email us at
                    | digest.bases@gmail.com.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "#"> Subscribe to the Digest </a>
            div.col-md-4
              div.card
                div.card-info
                  div.card-title Registration
                  div.card-content Thank you for your interest in BASES, the premier business and entrepreneurship student group of Silicon Valley. We typically open applications for membership in the late spring and early fall of each school year. Please email the presidents with any questions.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "#"> Registration </a>

    div#media.slide.bg1
      div.slide-header
        div.slide-title - Media -
      div.arrow-down
      div.slide-content
        div.container
          div.row
            div.col-md-4
              div.card
                div.card-info
                  div.card-title Events
                  div.card-content In this section please find photos and videos from our programs.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "media/events"> Events </a>
            div.col-md-4
              div.card
                div.card-info
                  div.card-title In the News
                  div.card-content BASES programs, alumni and past winners have been grabbing headlines in for years, and have been featured by TechCrunch, VentureBeat and NBC News. For media inquiries, please contact us.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "media/inTheNews"> In the News </a>
            div.col-md-4
              div.card
                div.card-info
                  div.card-title Branding Guidelines
                  div.card-content Need a BASES logo? Please help yourself – as long as you comply with our visual guidelines. If you need a different format or size, please contact us.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "media/brandingGuidelines"> Branding Guidelines </a>

    div#partners.slide.bg2
      div.slide-header
        div.slide-title - Partners -
      div.arrow-down
      div.slide-content
        div.container
          div.row
            div.col-md-6
              div.card
                div.card-info
                  div.card-title Sponsors
                  div.card-content We would like to thank our sponsors for their continued support of our programs.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/partners/sponsors"> Sponsors </a>
            div.col-md-6
              div.card
                div.card-info
                  div.card-title Board of Advisors
                  div.card-content The BASES Board of Advisors is a group of industry innovators, thought leaders and BASES alumni, advising leadership on methods and best practices to best to uphold the BASES mission.
                div.card-nav
                  <a class = "btn btn-block btn-danger" role = "button" href = "/partners/boardOfAdvisors"> Board of Advisors </a>


    include footerFiles.jade
