doctype 5
html

  head
    title BASES
    include header_files.jade

  body
    include navBarMain.jade
    div#home.slide.fullscreen 
      div.slide-main Business Association of Stanford Entrepreneurial Students
        hr.line-main
        div.slide-main-motto Empowering the next generation of Stanford entrepreneurs and beyond.

    div#programs.slide
      div.slide-header
        div.slide-title - Programs -
      div.arrow-down
      div.slide-content
        div.container
          div.row
            div.col-md-3
              div.card
                div.card-title BASES Challenge
                div.card-description Hello World!
            div.col-md-3
              div.card
                div.card-title E-Bootcamp
                div.card-description Hello world!
            div.col-md-3
              div.card
                div.card-title ETL
                div.card-description Hello world!
            div.col-md-3
              div.card
                div.card-title Hackspace
                div.card-description Hello world!
          div.row
            div.col-md-3
              div.card
                div.card-title Professional Development
                div.card-description Hello World!
            div.col-md-3
              div.card
                div.card-title Core
                div.card-description Hello world!
            div.col-md-3
              div.card
                div.card-title Freshman Battalion
                div.card-description Hello world!
            div.col-md-3
              div.card
                div.card-title Internship
                div.card-description Hello world!

    div#history.slide
      div.slide-header
        div.slide-title - History -
      div.arrow-down
      div.slide-content

    div#getInvolved.slide
      div.slide-header
        div.slide-title - Get Involved -
      div.arrow-down
      div.slide-content

    div#media.slide
      div.slide-header
        div.slide-title - Media -
      div.arrow-down
      div.slide-content

    div#partners.slide
      div.slide-header
        div.slide-title - Partners -
      div.arrow-down
      div.slide-content

    include footer_files.jade
