extends layout

block content

  div#home.slide.fullscreen

  div#programs.slide

  div#history.slide

  div#getInvolved.slide

  div#media.slide

  div#blog.slide

  div#sponsors.slide

  div#boardOfAdvisors.slide