doctype 5
html

  head
    title BASES
    link(rel='stylesheet', href='/libraries/Flat-UI-master/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/libraries/Flat-UI-master/css/flat-ui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    include navBarMain.jade
    div#home.slide.fullscreen
    div#programs.slide
    div#history.slide
    div#getInvolved.slide
    div#media.slide
    div#blog.slide
    div#partners.slide

    script(type='text/javascript', src='/libraries/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/javascripts/scrollNavigation.js')