doctype 5
html
  head
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="/stylesheets/style.css")
    title BASES

  body
    div#home.slide.fullscreen
    div#programs.slide
    div#history.slide
    div#getInvolved.slide
    div#media.slide
    div#blog.slide
    div#sponsors.slide
    div#partners.slide
