doctype 5
html

  head
    title BASES
    include header_files.jade

  body
    include navBarMain.jade
    div#home.slide.fullscreen

    div#programs.slide
      div.slide-header
      div.arrow-down
      div.slide-content

    div#history.slide
      div.slide-header
      div.arrow-down
      div.slide-content

    div#getInvolved.slide
      div.slide-header
      div.arrow-down
      div.slide-content

    div#media.slide
      div.slide-header
      div.arrow-down
      div.slide-content

    div#blog.slide
      div.slide-header
      div.arrow-down
      div.slide-content

    div#partners.slide
      div.slide-header
      div.arrow-down
      div.slide-content

    include footer_files.jade