doctype 5
html

  head
    title BASES
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div#home.slide.fullscreen
    div#programs.slide
    div#history.slide
    div#getInvolved.slide
    div#media.slide
    div#blog.slide
    div#sponsors.slide
    div#partners.slide

    script(type='text/javascript', src='/javascripts/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/javascripts/scrollNavigation.js')