div.navbar.navbar-inverse.navbar-fixed-top
      ul.nav.navbar-right
        li
          a.logo(href='/')
            img(src='/images/basesLogo.png')
      ul.nav.navbar-left
        li
          a(href='/#programs') Programs
          ul
            li
              a(href='/programs/basesChallenge') BASES Challenge
            li
              a(href='/programs/eBootCamp') E-Bootcamp
            li
              a(href='/programs/etl') ETL
            li
              a(href='/programs/hackspace') Hackspace
            li
              a(href='/programs/profDev') Professional Development
            li
              a(href='/programs/core') Core
            li
              a(href='/programs/freshmanBat') Freshman Battalion
            li
              a(href='/programs/internship') Internship
        li
          a(href='/#history') History
          ul
            li
              a(href='/history/pastWinners') Past Winners
            li
              a(href='/history/alumni') Alumni
        li
          a(href='/#getInvolved') Get Involved
          ul
            li
              a(href='/getInvolved/careerFairs') Career Fairs
            li
              a(href='/getInvolved/digest') Digest
            li
              a(href='/getInvolved/registration') Registration
        li
          a(href='/#media') Media
          ul
            li
              a(href='/media/events') Events
            li
              a(href='/media/inTheNews') In The News
            li
              a(href='/media/brandingGuidelines') Branding Guidelines
        li
          a(href='/blog') Blog
        li
          a(href='/#partners') Partners
          ul
            li
              a(href='/partners/sponsors') Sponsors
            li
              a(href='/partners/boardOfAdvisors') Board of Advisors