div.navbar.navbar-inverse.navbar-fixed-top
      ul.nav
        li
          a.navbarLogo(href='/')
            img(src='/images/basesLogo.png')
      ul.nav
        li
          a(href='/#programs') Programs
          ul
            li
              a(href='/programs/challenge') BASES Challenge
            li
              a(href='/programs/etl') ETL
            li
              a(href='/programs/hackspace') Hackspace
            li
              a(href='/programs/profDev') Professional Development
            li
              a(href='/programs/freshmanBat') Freshman Battalion
            li
              a(href='/programs/WIE') Women in Entrepreneurship
        li
          a(href='/#history') History
          ul
            li
              a(href='/history/pastWinners') Past Winners
            li
              a(href='/history/alumni') Alumni
            li
              a(href='/history/eBootCamp') E-Bootcamp

        li
          a(href='/#getInvolved') Get Involved
          ul
            li
              a(href='/getInvolved/careerFairs') Career Fairs
            li
              a(href='/getInvolved/startupLunch') Startup Lunch
            li
              a(href='/getInvolved/lessonsInLife') Lessons in Life
            li
              a(href='/#getInvolved') Digest
            li
              a(href='/#getInvolved') Join the Team
            li
              a(href='/getInvolved/friends') Friends
        li
          a(href='/#partners') Partners
          ul
            li
              a(href='/partners/sponsors') Sponsors
            li
              a(href='/partners/boardOfAdvisors') Board of Advisors
        li
          a(href='/blog') Blog
        li
          a(href='/eGuide') E-Guide
        li
          a(href='/about') Executive Team
