.navbar-fixed-top {
  background-color: #990000;
  border-radius: 0;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.8);
}

.navbar-inverse .nav > li > a {
  border-color: #860000;
  border-bottom: none;
  color: #eacccc;
  font-family: "Open Sans";
  font-weight: 400;
}

.navbar .nav > li:first-child > a {
  border-radius: 0;
  border-left: 2px solid #860000;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #ffffff;
}

.navbar .nav ul a:hover {
  background-color: #990000;
}

.navbar-inverse .nav > li.active > a,
.navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .nav > li.active > a:focus {
  background-color: #c6280e;
}

.navbar .nav > li > a.navbarLogo {
  padding: 0px 10px 0px 10px;
}

.navbar .nav > li > a.navbarLogo > img {
  height: 50px;
}

.navbar .nav ul a {
  font-family: "Open Sans";
  font-weight: 300;
}

.btn-danger {
  background: #333 !important;
}

.btn-danger:hover {
  background: #34495e !important;
}