body {
	/*height: 100%;*/
}

.text {
	font-family: "Open Sans", sans-serif;
}

.text p {
	font-weight: 300;
	font-size: 20px;
	color: #555;
	line-height: 1.8;
	padding-bottom: 10px;
}

.textList {
	font-weight: 300;
	font-size: 20px;
	color: #555;
	line-height: 1.8;
	padding-bottom: 10px;
}

h1, h2 {
	font-family: "Crimson Text", serif;
	font-weight: 400;
}

h1 {
	font-size: 45px;
	color: #990000;
	text-align: right;
}

h2 {
	font-size: 36px; 
	color: #333;
	margin-bottom: 10px; 
}

#cover {
	width: 100%;
	height: 550px;
	overflow: hidden;
	background: #222;
}

#hero {
	width: 100%;
	height: 650px;
	background-image: url('/images/eChallenge.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.85;
}
#heroHackSpace {
	width: 100%;
	height: 650px;
	background-image: url('/images/Panoramic.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.85;
}

#heroPastWinners {
	width: 100%;
	height: 650px;
	background-image: url('/images/PastWinners.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.85;
}

#heroCareerFairs {
	width: 100%;
	height: 650px;
	background-image: url('/images/CareerFairs.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.85;
}

#heroProductShowcase {
	width: 100%;
	height: 650px;
	background-image: url('/images/ProductShowcase.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.85;
}
#herosocialE {
	width: 100%;
	height: 650px;
	background-image: url('/images/socialEChallenge.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.85;
}

#heroInTheNews{
	width: 100%;
	height: 650px;
	background-image: url('/images/Media.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.85;
}
#heroText {
	font-family: "Bebas-Neue";
	font-size: 130px;
	width: 100%;
	height: 100px;
	color: #ffffff;
	text-align: center;
	position: relative;
	margin: 0 auto;
	top: -450px;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#heroText img {
	width: auto;
	height: 200px;
}

#content {
	width: 90%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
}

.accent {
	margin-top: 10px !important;
	border-top: 1px solid #dedede;
}