body {
	/*height: 100%;*/
}

.text {
	font-family: "Open Sans", sans-serif;
}

.text p {
	font-weight: 300;
	font-size: 18px;
	color: #555;
	line-height: 1.8;
	padding-bottom: 10px;
}

.text div {
	font-weight: 300;
	font-size: 18px;
	color: #555;
	line-height: 1.8;
	padding-bottom: 10px;
	text-align: center;
}

.textList {
	font-weight: 300;
	font-size: 15px;
	color: #555;
	line-height: 1.8;
	padding-bottom: 10px;
}

h1, h2 {
	font-family: "Crimson Text", serif;
	font-weight: 400;
}

h1 {
	font-size: 45px;
	color: #990000;
	text-align: right;
}

h2 {
	font-size: 36px;
	color: #333;
	margin-bottom: 10px;
}

.cover {
	width: 100%;
	height: 160px;
	overflow: hidden;
	background: #222;
}

.coverBig {
	height: 650px;
}

.hero {
	width: 100%;
	height: 200px;
	background-image: url('/images/eChallenge.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.85;
}

.coverBig .hero {
	height: 650px;
}

.heroText {
	font-family: "Bebas-Neue";
	font-size: 90px;
	width: 100%;
	color: #ffffff;
	text-align: center;
	position: relative;
	margin: 0 auto;
	top: -170px;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.coverBig .heroText {
	top: -450px;
}

.heroText img {
	width: auto;
	height: 200px;
}

#calendar {
	width: 100%;
	height: 600px;
}

#coverPrograms {
	height: 500px;
}

#coverPrograms .hero {
	height: 510px;
	background-position-y: -250px;
}

#coverPrograms .heroText {
	top: -330px;
}

#heroETL {
	background-image: url('/images/rabinowitz.jpg');
}

#heroFreshmanBat {
	background-image: url('/images/freshmanBat.jpg');
}

#heroPastWinners {
	background-image: url('/images/PastWinners.jpg');
}

#heroCareerFairs {
	background-image: url('/images/CareerFairs.jpg');
}

#heroStartupLunch {
	background-image: url('/images/StartupLunch.jpg');
}

#coverFriends {
	height: 600px;
}

#heroFriends {
	height: 650px;
	background-image: url('/images/milkyway.jpg');
}

#heroProductShowcase {
	background-image: url('/images/ProductShowcase.jpg');
}

#herosocialE {
	background-image: url('/images/socialEChallenge.jpg');
}

#heroWIE {
	height: 650px;
	background-image: url('/images/wie/wie.jpeg');
}

#heroInTheNews{
	height: 650px;
	background-image: url('/images/Media.jpg');
}

#herobrandingGuideLines{
	height: 650px;
	background-image: url('/images/brandingGuideLines.jpg');
}

#heroEGuide {
	height: 650px;
	background-image: url('/images/eguidehome.jpg');
}

#heroEGuideClasses {
	height: 650px;
	background-image: url('/images/eguideclasses.jpg');
}

#heroEGuideGroups {
	height: 650px;
	background-image: url('/images/eguidegroups.jpg');
}

#heroEGuideResources {
	height: 650px;
	background-image: url('/images/eguideresources.jpg');
}

#heroEGuideLabs{
	height: 650px;
	background-image: url('/images/eguidelabs.jpg');
}

#content {
	width: 70%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
 	padding-bottom: 10px;
}

#content-new {
	width: 70%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
 	margin-bottom: 10px;
}

#eguidecontents {
	font-size: 30px;
}

#eguidelink {
	font-size: 18px;
}

.accent {
	margin-top: 10px !important;
	border-top: 1px solid #dedede;
}

.createspace a.btn, .createspace a.btn:hover{
  color: #FFFFFF !important;
}

a.anchor{
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}

.text .subprogram-title {
	text-align: left;
	margin-left: 20px;
	padding: 0;
}

.text .etl-speaker {
	text-align: left;
	margin-bottom: 15px;
	padding: 0;
}

.text .etl-speaker p {
	margin: 0;
	padding: 0;
}

.text .etl-speaker .etl-date {
	text-decoration: underline;
}

.text .socImpact-event div {
	text-align: left;
	margin: 5px 0;
	padding: 0;
}

.past-winners {
	margin-bottom: 30px;
}

.past-winners-category {
	font-size: 32px;
}

.socImpact-event .main-info {
	font-weight: 500;
	text-decoration: underline;
}

.large-photo-container {
	text-align: center;
}

.large-photo-container img {
	width: 80%;
	margin: 30px 0;
}

.exec-box {
	margin: 10px 0 20px;
	text-align: center;
}

.exec-box img {
	width: 80%;
	cursor: pointer;
}

.exec-box h2 {
	font-size: 1.8em;
	margin: 0;
}

.exec-box h6 {
	font-size: 1.3em;
}

#weiwei img {
	height: 143px;
	width: auto;
}

h2.officer-name {
	cursor: pointer;
	font-size: 26px;
	padding: 0;
	margin: 10px 0;
	display: table;
}

.pop-up {
  display: none;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #333;
  background-color: rgba(0,0,0,0.3);
}

.pop-up .center-box {
  background-color: #fff;
  width: 700px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
}

.pop-up .center-box .name-text {
	font-size: 28px;
	margin-bottom: 25px;
	font-family: "Open Sans", sans-serif;
}

.pop-up .center-box .info-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}

.boa .text p {
	overflow: hidden;
}

.boa-pic {
	height: 200px;
}