body {
	/*height: 100%;*/
}

.text {
	font-family: "Open Sans", sans-serif;
}

.text p {
	font-weight: 300;
	font-size: 18px;
	color: #555;
	line-height: 1.8;
	padding-bottom: 10px;
}

.text div {
	font-weight: 300;
	font-size: 18px;
	color: #555;
	line-height: 1.8;
	padding-bottom: 10px;
	text-align: center;
}

.textList {
	font-weight: 300;
	font-size: 15px;
	color: #555;
	line-height: 1.8;
	padding-bottom: 10px;
}

h1, h2 {
	font-family: "Crimson Text", serif;
	font-weight: 400;
}

h1 {
	font-size: 45px;
	color: #990000;
	text-align: right;
}

h2 {
	font-size: 36px;
	color: #333;
	margin-bottom: 10px;
}

#blank {
	width: 100%;
	height: 45px;
}

.cover {
	width: 100%;
	height: 160px;
	overflow: hidden;
	background: #222;
}

.coverBig {
	height: 650px;
}

.hero {
	width: 100%;
	height: 200px;
	background-image: url('/images/eChallenge.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.85;
}

.coverBig .hero {
	height: 650px;
}

.heroText {
	font-family: "Bebas-Neue";
	font-size: 90px;
	width: 100%;
	color: #ffffff;
	text-align: center;
	position: relative;
	margin: 0 auto;
	top: -170px;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.coverBig .heroText {
	top: -450px;
}

.heroText img {
	width: auto;
	height: 200px;
}

#heroETL {
	background-image: url('/images/rabinowitz.jpg');
}

#heroFreshmanBat {
	background-image: url('/images/freshmanBat.jpg');
}

#heroPastWinners {
	background-image: url('/images/PastWinners.jpg');
}

#heroCareerFairs {
	background-image: url('/images/CareerFairs.jpg');
}

#heroStartupLunch {
	background-image: url('/images/StartupLunch.jpg');
}

#coverFriends {
	height: 600px;
}

#heroFriends {
	height: 650px;
	background-image: url('/images/milkyway.jpg');
}

#heroProductShowcase {
	background-image: url('/images/ProductShowcase.jpg');
}

#herosocialE {
	background-image: url('/images/socialEChallenge.jpg');
}

#heroWIE {
	height: 650px;
	background-image: url('/images/wie/wie.jpeg');
}

#heroInTheNews{
	height: 650px;
	background-image: url('/images/Media.jpg');
}

#herobrandingGuideLines{
	height: 650px;
	background-image: url('/images/brandingGuideLines.jpg');
}

#heroEGuide {
	height: 650px;
	background-image: url('/images/eguidehome.jpg');
}

#heroEGuideClasses {
	height: 650px;
	background-image: url('/images/eguideclasses.jpg');
}

#heroEGuideGroups {
	height: 650px;
	background-image: url('/images/eguidegroups.jpg');
}

#heroEGuideResources {
	height: 650px;
	background-image: url('/images/eguideresources.jpg');
}

#heroEGuideLabs{
	height: 650px;
	background-image: url('/images/eguidelabs.jpg');
}

#content {
	width: 70%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
 	margin-bottom: 10px;
}

#content-new {
	width: 70%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
 	margin-bottom: 10px;
}

#eguidecontents {
	font-size: 30px;
}

#eguidelink {
	font-size: 18px;
}

.accent {
	margin-top: 10px !important;
	border-top: 1px solid #dedede;
}

.hackspace a.btn, .hackspace a.btn:hover{
  color: #FFFFFF !important;
}

a.anchor{
	display: block;
	position: relative;
	top: -100px;
	visibility: hidden;
}
