html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.fullscreen {
  height: 100%;
  width: 100%;
}

.slide {
  min-height: 400px;
  width: 100%;
}

#home {
  background-image: url('/images/basesCover.jpg');
  background-position:center;
  background-size: cover;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
}

.navbar-fixed-top {
  background-color: #990000;
  border-radius: 0;
}

.navbar-inverse .nav > li > a {
  border-color: #860000;
  color: #eacccc;
}

.navbar .nav > li:first-child > a {
  border-radius: 0;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: #ffffff;
}

.navbar .nav ul a:hover {
  background-color: #990000;
}