html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.fullscreen {
  height: 100%;
  width: 100%;
}

.slide {
  min-height: 400px;
  width: 100%;
}

#home {
  background-image: url('/images/basesCover.png');
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
}

.navbar-fixed-top {
  background-color: #990000;
  border-radius: 0;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.8);
}

.navbar-inverse .nav > li > a {
  border-color: #860000;
  border-bottom: none;
  color: #eacccc;
}

.navbar .nav > li:first-child > a {
  border-radius: 0;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: #ffffff;
}

.navbar .nav ul a:hover {
  background-color: #990000;
}

.navbar .nav > li > a.logo {
  padding: 0px 20px 0px 0px;
}

.navbar .nav > li > a.logo > img {
  height: 50px;
}