html, body {
  width: 100%;
  margin: 0;
  background-color: #F7F0F2;
}

.fullscreen {
  height: 100%;
  width: 100%;
}

.slide {
  min-height: 600px;
  width: 100%;
}

.slide-header {
  height: 100px;
  background-color: #850312;
  box-shadow: 3px 3px 3px #999999;
}

.main-body {
  background-color: #ffffff;
  width:100%;
  height:100%;
}

.banner {
  display: inline-block;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  font-size: 50px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 25px;
  color: #000000;
  width: 100%;
  text-shadow: #5c5c5c 0.05em 0.05em 0.05em;
  text-align: center;

}

.line-banner {
  opacity: 0.5;
  width: 80%;
  border-color: #000000;
}

.slide-banner-motto {
  font-size: 25px;
  text-align: center;
  font-style: italic;
  color: #000000 ;
  font-weight: bold;
  text-shadow: black 0.00em 0.00em 0.00em;
}

.slide-title {
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ffffff;
  font-size: 50px;
}

.slide-description {
  font-size: 30px;
  text-align: center;
}

.slide-description-heading {
  color: #666666;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
}

.arrow-down {
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #c6280e;
  margin: 0 auto;
  margin-bottom: 30px;
}

hr.divider {
  background: url('/images/divider.png') 0 0 no-repeat;
  border: 0;
  height: 10px;
  width: 100%;
  margin: 40px 0px 40px 0px;
}

.card {
  min-height: 400px;
  margin-bottom: 30px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

.card-title {
  text-align: center;
  font-weight: bold;
  color: #c6280e;
  font-size: 30px;
  margin-bottom: 20px;
}

.card-content {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#home {
  background-image: url('/images/basesCover.png');
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
  padding-top: 180px;
}

#content > h1 > a {
  color : #990000;
}
#content > h1 > a:hover {
  color : #BD6F6F;
}
#sponsors {
  background-color : #ffffff;
}
.images {
  display: table-cell; vertical-align: middle 
}
.footer {
  height: 60px;
  line-height: 35px;
  background: #34495e;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  font-weight: 300;
}