html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #666666;
}

.fullscreen {
  height: 100%;
  width: 100%;
}

.slide {
  min-height: 600px;
  width: 100%;
}

.slide-header {
  height: 100px;
  background-color: #c6280e;
}

.slide-title {
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: #ffffff;
  font-size: 50px;
}

.slide-description {
  font-size: 30px;
  color: #999999;
  text-align: center;
}

.slide-description-heading {
  color: #666666;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
}

.arrow-down {
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #c6280e;
  margin: 0 auto;
  margin-bottom: 30px;
}

hr.divider {
  background: url('/images/divider.png') 0 0 no-repeat;
  border: 0;
  height: 10px;
  width: 100%;
  margin: 40px 0px 40px 0px;
}

.card {
  min-height: 400px;
  margin-bottom: 30px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

.card-title {
  text-align: center;
  font-weight: bold;
  color: #c6280e;
  font-size: 30px;
  margin-bottom: 20px;
}

.card-description {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#home {
  background-image: url('/images/basesCover.png');
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
}