doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#heroInTheNews
      div#heroText Branding Guidelines
    div#content 
      h1 Guidelines
      hr.accent
      div.text 
       p Need a BASES logo? Please help yourself to official BASES team logos. If you need a different format or size, please contact Stephany Yong at <a href = "#"> syong@stanford.edu</a>.
       p <a href = "https://docs.google.com/document/d/1wfZH5CAqQGgAYSRLuH28wmFYykXBINJYUrnqMzu8gOo/edit"> BASES Style Guide </a>
       p <a href = "https://www.dropbox.com/sh/krehzp9fbsc68hv/_M45-t1W9_"> BASES Logo </a>
       p <a href = "https://www.dropbox.com/sh/gvorq4jah0cbwn3/TAKoCrS6Bh"> BASES Programs' Logos </a>
    

    include ../footerFilesOthers.jade   

