doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#heroInTheNews
      div#heroText In the News
    div#content 
      h1 Overview
      hr.accent
      div.text 
       p BASES programs, alumni and past winners have been grabbing headlines for years, and have been featured by TechCrunch, VentureBeat and NBC News. For media inquiries, please contact Stephany Yong at <a href = "#"> syong@stanford.edu </a>
      h1 Press Coverage in 2013
      hr.accent
      div.text
        p <i>November 21, 2013</i> <br/> <a href = "http://venturebeat.com/2013/11/20/bases-challenge-kickoff-with-quora-cofounder-at-stanford/"> BASES Challenge Kickoff with Quora Cofounder at Stanford </a>
        p <i>September 30, 2013</i> <br/> <a href=  "http://www.thedishdaily.com/event/2013/09/30/stanford-bases-etl-dave-mcclure-founder-partner-500-startups"> Stanford BASES ETL – Dave McClure, Founder and Partner, 500 Startups </a>
        p <i>July 25, 2013</i> <br/> <a href=  "http://www.stratiotechnology.com/new/news/"> BASES 150K Challenge </a>
        p <i>May 25, 2013</i> <br/> <a href=  "http://vator.tv/news/2013-05-25-stanford-bases-a-model-for-university-entrepreneurs"> Stanford BASES—a model for university entrepreneurs </a>
        p <i>May 20, 2013</i> <br/> <a href=  "http://spectrum.ieee.org/tech-talk/at-work/start-ups/dueling-innovations-compete-in-stanford-challenge"> Innovations, Profound and Whimsical, Compete in Stanford Challenge</a>
        p <i>May 14, 2013</i> <br/> <a href=  "http://www.forbes.com/sites/jasonma/2013/05/14/student-entrepreneurship-is-humming-at-elite-universities/2/"> Student Entrepreneurship is Humming at Elite Universities  </a>
        p <i>May 12, 2013</i> <br/> <a href=  "http://www.stanforddaily.com/2013/05/12/bases-awards-150000-to-startups-in-annual-challenge/"> BASES awards $150,000 to startups in annual challenge </a>
        p <i>May 11, 2013</i> <br/> <a href=  "http://gigaom.com/2013/05/11/the-best-student-entrepreneurs-at-stanford-are-working-on-health-tech-and-energy/"> The best student entrepreneurs at Stanford are working on health tech and energy </a>
      h1 Press Coverage in 2012
      hr.accent
      div.text
        p <i>October 22, 2012</i> <br/> <a href=  "http://www.stanforddaily.com/2012/10/22/zuckerberg-kalanick-among-speakers-at-startup-school-2012/"> Zuckerberg, Kalanick among speakers at startup school </a>
        p <i>July 1, 2012</i> <br/> <a href=  "http://stanfordreview.org/article/bases-150k-challenge-gives-stanford-student-ventures-flight/"> BASES 150K Challenge Gives Stanford Student Ventures Flight </a>
        p <i>June 8, 2012</i> <br/> <a href=  "http://blogs.law.stanford.edu/newsfeed/2012/06/08/stanford-law-3ls-win-bases-business-plan-competition-for-legal-search-platform/"> Stanford Law School 3LS Win BASES Business Plan Competition for Legal Search Platform </a>
        p <i>May 25, 2012</i> <br/> <a href=  "http://pandodaily.com/2012/05/25/pandolist-stanfords-top-5-world-changing-bases-finalists/"> PandoList:  Stanford’s Top 5 World-Changing BASES Finalists </a>
        p <i>May 23, 2012</i> <br/> <a href=  "http://www.businessinsider.com/congratulations-to-the-stanford-bases-final-winners-2012-5"> Congratulations to the Stanford BASES Final Winners </a>
        p <i>May 21, 2012</i> <br/> <a href=  "http://tusb.stanford.edu/2012/05/basesfinale.html"> BASES 150K Challenge End of Year Finale Tomorrow </a>
        p <i>May 20, 2012</i> <br/> <a href=  "http://techcrunch.com/2012/05/20/stanford-bases-finale/"> $150,000 Is Up For Grabs At Stanford’s BASES Finale This Week </a>



    include ../footerFilesOthers.jade   

