doctype 5
html

  head
    title BASES | Challenge
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#hero
      div#heroText Challenge
    div#content

      //Overview
      h1 Overview
      hr.accent
      div.text
        p BASES Challenge is an annual startup competition that awards funding to aspiring Stanford entrepreneurs. Students and alumni enter their business or social venture ideas to compete for  $100,000 in prize money and developmental opportunities. The application process begins with an electronic written application and culminates in two rounds of live judging. Please see below for further details.

      //Eligibility to Apply
      h1 Eligibility to Apply
      hr.accent
      div.text
        p At least one Stanford student (graduate or undergraduate) or alumnus must be on the team to compete. Teams are expected to physically attend both the first judging round and Finale. Teams may pitch over a video communication platform (i.e. Skype, Google+) for the first round of judging given extenuating circumstances. However, at least one team member must be able to pitch on the day of Finale, <b>May 8, 2015</b>. Finale will take place at the Arrillaga Alumni Center on the Stanford campus.

      //Prizes + Opportunities
      h1 Prizes + Opportunities
      hr.accent
      h2 Overall
      div.textList
        ul
          <li><b>$20,000</b> Best Overall Venture</li>
          <li><b>$15,000</b> Runner-Up</li>
          <li><b>$10,000</b> Second Runner-Up</li>
      h2 Social
      div.textList
        ul
          <li><b>$20,000</b> Best Social Venture</li>
          <li><b>$15,000</b> Runner-Up</li>
          <li><b>$10,000</b> Second Runner-Up</li>
      h2 Other
      div.textList
        ul
          <li><b>$10,000</b> total in category and special prizes</li>

      //Timeline
      h1 Timeline
      hr.accent
      div.textList
        ul
          <li><b>Jan 19:</b> Applications go live</li>
          <li><b>Mar 07:</b> Applications due at 11:59pm</li>
          <li><b>Apr 09 - Apr 10:</b> Initial Judging Round</li>
          <li><b>Apr 12 - May 1:</b> Workshops + Office Hours</li>
          <li><b>May 08:</b> Finale Event</li>

      //Structure
      h1 Structure
      hr.accent
      div.text
        p The structure of BASES Challenge is slightly different from that of previous years.
        p This year, Challenge has been consolidated into one comprehensive competition. As such, all applicants will submit the same application.
        p Each teams will be judged on a holistic set of criteria, making ALL teams eligible to win in the “Best Overall Venture” category. Additionally, each team will be judged on a non-inclusive separate set of judging criteria focused on the venture’s social impact.  Top scoring teams in the social category will have the opportunity to give a separate pitch at Finale for the “Best Social Venture” prize.
        p Teams who are entered into both pitching rounds at Finale (Overall and Social) will have the opportunity to compete for both prizes. In the event a team wins in both categories, they will only receive the larger of the two prize amounts.

      //Application
      h1 Application
      hr.accent
      div.text
        p Apply at <a href='http://bit.ly/BASESChallenge2015'>http://bit.ly/BASESChallenge2015</a>

      //Contact Info
      h1 Contact Info
      hr.accent
      div.text
        p Kristine Chen (<a href='mailto:kchen7@stanford.edu'>kchen7@stanford.edu</a>) - VP
        p Michael Longoria (<a href='mailto:ml1293@stanford.edu'>ml1293@stanford.edu</a>) - Director
        p Danielle Dobos (<a href='mailto:ddobos@stanford.edu'>ddobos@stanford.edu</a>) - Director
    include ../footerFilesOthers.jade
