doctype 5
html

  head
    title BASES | Challenge
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#hero 
      div#heroText Challenge
    div#content 
      h1 Overview
      hr.accent
      div.text 
       p BASES Challenge is Stanford’s premiere entrepreneurial competition that seeks to inspire, develop, and fund Stanford affiliated startups by allowing teams to present their ventures to industry leaders for their share of 100K in prize money and mentorship opportunities. 
      h1 BASES Challenge 2014 Winners
      hr.accent
      h3 Product Showcase

      div.textList
        ul
          li <b>1st</b> - Switchmate
          li <b>2nd</b> - Rabbit Prototyping
          li <b>3rd</b> - Napwell

      h3 E-Challenge

      div.textList
        ul
          li <b>1st</b> - Allertope
          li <b>2nd</b> - Madorra
          li <b>3rd</b> - Peeps

      h3 Social-E

      div.textList
        ul
          li <b>1st</b> - Beeline
          li <b>2nd</b> - Elevado
          li <b>3rd</b> - Pocketlab

      h1 Previous Competition Winners
      hr.accent

      div.textList
        ul
          li Calcula Technologies
          li Oculeve
          li HemoX
          li Rapid Suturing (Logimend)
          li Second
          li Ekho Technologies
          li Adaptive Hearing Solutions
          li Microdrop
        
      h1 Contact Info
      hr.accent
      div.text
        p Kristine Chen (kchen7@stanford.edu) - VP
        p Michael Longoria (ml1293@stanford.edu) - Director
        p Danielle Dobos (ddobos@stanford.edu) - Director
    include ../footerFilesOthers.jade   
