doctype html
html

  head
    title BASES | Challenge
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText Challenge
      div#content
        //Overview
        h1 Overview
        hr.accent
        div.text
          p BASES Challenge is Stanford’s oldest and most competitive annual entrepreneurship competition. Students and alumni enter their business or social venture ideas to compete for $100,000 in prize money and developmental opportunities. The application process begins with an electronic written application and culminates in two rounds of live judging.

        //Eligibility to Apply
        h1 Eligibility to Apply
        hr.accent
        div.text
          p At least one Stanford student (graduate or undergraduate) or alumnus must be on the team to compete. Teams are expected to physically attend both the first judging round and Finale. Teams may pitch over a video communication platform (i.e. Skype, Google+) for the first round of judging given extenuating circumstances. However, at least one team member must be able to pitch on the day of Finale, May 6, 2016. Finale will take place at the Arrillaga Alumni Center at Stanford.
          h6 <a href='http://bit.ly/BASESChallenge2016' target='_blank' style='color:#990000;'>Apply Now!</a>

        //Prizes + Opportunities
        h1 Prizes + Opportunities
        hr.accent
        h2 Overall
        div.textList
          ul
            li <b>$25,000</b>  Best Overall Venture (Chosen from Category Winners)
        h2 Consumer Category Prizes
        div.textList
          ul
            li <b>$15,000</b> Best Consumer Venture
            li <b>$7,500</b> Consumer Runner-Up
        h2 Enterprise Category Prizes
        div.textList
          ul
            li <b>$15,000</b> Best Enterprise Venture
            li <b>$7,500</b> Enterprise Runner-Up
        h2 Biotech/Medtech Category Prizes
        div.textList
          ul
            li <b>$15,000</b> Best Biotech/Medtech Venture
            li <b>$7,500</b> Biotech/Medtech Runner-Up
        h2 Social Category Prizes
        div.textList
          ul
            li <b>$15,000</b> Best Social Venture
            li <b>$7,500</b> Social Runner-Up
        h2 Other
        div.textList
          ul
            li Exclusive opportunities like a spot in a biotech accelerator program (TBD)

        //Timeline
        h1 Timeline
        hr.accent
        div.textList
          ul
            li <b>Jan 21:</b> Applications go live
            li <b>Feb 19:</b> Applications due at 11:59pm
            li <b>Apr 07 - Apr 08:</b> Initial Judging Round
            li <b>Apr 11 - May 05:</b> Workshops + Office Hours
            li <b>May 06:</b> Finale Event</li>

        //Structure
        //- h1 Structure
        //- hr.accent
        //- div.text
          p The structure of BASES Challenge is slightly different from that of previous years.
          p This year, Challenge has been consolidated into one comprehensive competition. As such, all applicants will submit the same application.
          p Each teams will be judged on a holistic set of criteria, making ALL teams eligible to win in the “Best Overall Venture” category. Additionally, each team will be judged on a non-inclusive separate set of judging criteria focused on the venture’s social impact.  Top scoring teams in the social category will have the opportunity to give a separate pitch at Finale for the “Best Social Venture” prize.
          p Teams who are entered into both pitching rounds at Finale (Overall and Social) will have the opportunity to compete for both prizes. In the event a team wins in both categories, they will only receive the larger of the two prize amounts.


        //Photos
        h1 Photos
        hr.accent
        <img src ='/images/challenge/kickoff_1.jpg' style = "padding-right : 15px; padding-bottom : 10px;" height = 250px >
        <img src ='/images/challenge/kickoff_2.jpg' style = "padding-right : 15px; padding-bottom : 10px;" height = 250px >
        <img src ='/images/challenge/kickoff_3.jpg' style = "padding-right : 15px; padding-bottom : 10px;" height = 250px >
        <img src ='/images/challenge/kickoff_4.jpg' style = "padding-right : 15px; padding-bottom : 10px;" height = 250px >
        <img src ='/images/challenge/kickoff_5.jpg' style = "padding-right : 15px; padding-bottom : 10px;" height = 250px >
        <img src ='/images/challenge/kickoff_6.jpg' style = "padding-right : 15px; padding-bottom : 10px;" height = 250px >
        <img src ='/images/challenge/kickoff_7.jpg' style = "padding-right : 15px; padding-bottom : 10px;" height = 250px >
        <img src ='/images/challenge/kickoff_10.jpg' style = "padding-right : 15px; padding-bottom : 10px;" height = 250px >
        <img src ='/images/challenge/kickoff_8.jpg' style = "padding-right : 15px; padding-bottom : 10px;" height = 250px >
        <img src ='/images/challenge/kickoff_9.jpg' style = "padding-right : 15px; padding-bottom : 10px;" height = 250px >

        h1 Programs
        hr.accent
        div.text
          h6 Kickoff
          p Held in January, the Kickoff event introduces the BASES Challenge competition to the Stanford community in an exciting way. At the event, Stanford students hear from a keynote speaker, interact with our past finalists in a demo-day style setting, meet with sponsors, and find potential team members. Last year’s keynote speaker was Michael Baum, Founder and CEO of Founder.org. There were 275 total attendees at last year’s Kickoff.

          h6 Online Feedback Forum
          p A new initiative, the online feedback forum will give Stanford entrepreneurs the chance to share and critique each other’s ideas, prototypes, and business plans. This will get more students excited about the Challenge competition and help them form dynamic teams.

          h6 Judging Rounds
          p After teams submit applications for the BASES Challenge startup competition, they pitch their projects to sponsors at several judging rounds. The first judging round gives Challenge teams a chance to obtain valuable feedback on their projects. 108 teams were selected to participate in the first judging round last year, with 51 teams advancing to the second judging round at Finale.

          h6 Workshops
          p Workshops give Challenge participants opportunities to improve skills in key areas that are essential to entrepreneurial projects. Last year, 50 Challenge participants attended a pitching workshop with Chris Lipp, author of The Startup Pitch: A Proven Formula to Win Funding. This year we are looking to incorporate more workshops on topics like needfinding, prototyping, and business plans.

          h6 Office Hours
          p Office hours give Challenge teams a chance to gain constructive feedback on their projects from industry experts and fellow Challenge participants. About 40 Challenge teams participated in office hours last year.

          h6 Finale
          p Finale is the final event in the BASES Challenge competition, where teams showcase their startups to the public and the prize money winners are determined. BASES Challenge awards a total of $100,000 in prize money each year. In addition to public demos and the final judging round, attendees have the chance to listen to a keynote speaker talk about his or her experiences with entrepreneurship. Past winners include Kiva, One Acre Fund, Boosted Boards, D.Light Design, and Samasource.

        //Contact Info
        h1 Contact Info
        hr.accent
        div.text
          p Ryan Matsumoto (<a href='mailto:rmats414@stanford.edu'>rmats414@stanford.edu</a>) - VP


        h1.past-winners Past BASES Challenge Winners

        h1.past-winners-category Consumer 2016
        hr.accent
        div.text
          h6 #[a(href='#') Wrenchers] - 1st Place
          p Wrenchers is an educational platform, providing the skills and knowledge car owners need to keep their cars on the road. We do that by providing mentorship on demand and curated parts and tools.
          p Car maintenance and repair is a constant in America, representing 2.5% of the average household budget or $1689 per annum. For our target user, a young adult who is fluent in the internet but was never offered shop class in high school, there is only one option when it comes to maintaining their vehicle: hiring a mechanic at a dealership or auto shop.  Unfortunately, these experiences are particularly distasteful involving resulting in large amounts of distrust as a result of an awkward asymmetry of information.
          p Almost all users in this category assume they cannot work on their own car.  They lack the confidence and are averse to the downside risk of damaging one of their most valuable assets.  Even then, if that user wanted to begin doing DIY maintenances and repairs, the available resources are awkward, fragmented and unreliable.  Even for experienced users, combing through manuals, online forums, and YouTube videos is frustrating and time consuming.

          h6 #[a(href='#') LumosTech] - Runner Up
          p LumosTech is making a smart sleep mask that can help people fall asleep, maintain better sleep, and wake up feeling refreshed. Nearly 40% of Americans do not get enough sleep, and insufficient sleep can lead to numerous medical and professional consequences. A major cause of poor sleep is a schedule that is out of sync with the biological circadian clock. Disrupted circadian rhythms can be caused by jet lag and shift-work, and are common in teenagers, students, elderly individuals, athletes, travelers, or night owls who need to wake up early for work. Although there are many products that provide sleep tracking information, we offer the first scientifically-validated product that moves beyond passive monitoring to actively improving sleep quality.
          p Our mask and companion smartphone app mathematically model circadian phase and track sleep timing. With this information, we use the body’s natural response to sunlight to improve sleep with light from LEDs during the night. We reduce sleep latency by improving before-bed sleep hygiene with our sleep coaching and sunset simulator. While our user is sleeping, we quickly adjust sleep phase using short light pulses (without disrupting sleep), so their biological circadian clock can be aligned with desired sleep schedules. Finally, we increase morning alertness, reduce sleep inertia, and improve sympathetic tone via our dawn simulator. These Stanford-patented technologies have been scientifically validated in human trials by Stanford researchers, and are exclusively licensed to LumosTech. With this technology, we can help athletes align sleep-wake cycles for peak performance, reduce jet lag in frequent travelers, and maintain a healthy, regular sleep cycle in the 40-60% of the population that suffers from a chronically misaligned sleep schedule (“social jet lag”).

        h1.past-winners-category Enterprise 2016
        hr.accent
        div.text
          h6 #[a(href='#') Arch] - 1st Place and Grand Prize Winner
          p Arch enables lean hardware for the industrial internet of things.  16,000 new connected device products are coming to market every year.  For the electronics, the brains of these devices, 75% is exactly the same, but the last quarter is unique.  Because of that last quarter, companies will spend $24B reinventing their devices from scratch over the next 5 years. Instead with Arch, the best IoT applications can be built completely in software without any electrical engineering expertise.  We provide the first complete device-to-cloud framework where customized electronics can be produced 5x faster and 10x cheaper than ever before. Our devices are industry-grade, secured out-of-the-box, and ultra-low power achieving best-of-class from small pilot deployments through millions of units at scale. Through our initial focus on water and agriculture infrastructure, we will be producing over a thousand units by the end of the year.  Our mission is to empower IoT innovation to create sustainable global infrastructure and it is our privilege to share that mission at the BASES Challenge this year.

          h6 #[a(href='#') Nova Credit] - Runner Up
          p Nova is an international consumer credit data analytics platform that enables immigrants to access credit. When immigrants arrive in the US, they are stuck in a Catch-22 where they cannot access credit because they don't have credit history and cannot build credit history because they don't have access to credit. Our team has experienced the challenges of immigration in the US and is passionate about facilitating easier integration into US communities.
          p We believe the immigrant lending Catch-22 is fundamentally a data problem and our solution is to connect lenders to better data. Nova compiles "credit passports" from (i) international credit reports and (ii) credit proxies (mobile, payments, utilities, etc). We sell credit passports to lenders for a fee and enable US lenders to develop a holistic view of an international credit applicant's borrowing history.
          p Over time, Nova will become the first global consumer credit data hub: not only bringing data to the US, but also reporting back overseas. As the world flattens through greater penetration in technology, mobile and banking, Nova is well positioned to ride these tailwinds to make immigration easier and become a steward for migrants around the world.
          p People move. Credit history doesn't. We're changing that.

        h1.past-winners-category Social Impact 2016
        hr.accent
        div.text
          h6 #[a(href='#') Tombia River Energy Company] - 1st Place
          p TREC provides cost-effective and reliable off-grid power to Nigerian industry through the capture and distribution of otherwise flared natural gas.
          p We are addressing two complementary problems - the lack of electricity in Africa’s largest economy and the global environmental issue of gas flaring. Power is scarce in Nigeria, and the electricity infrastructure is very poor. As a result, hospitals will lose power in the middle of operations, factories will run for only a few hours a day, and office buildings will ration which departments can turn on the lights. At the same time, large volumes of natural gas are flared in Nigeria. In addition to being economically wasteful, flaring in Nigeria annually produces greenhouse gases equivalent to the emissions of 7 million cars.
          p TREC has developed a solution to acquire otherwise flared associated gas from oil operators, process it, and transport it to industrial and commercial customers. We will utilize existing, cutting-edge skid-mounted compressor technology to capture gas at the flow station, separate out methane, compress it into CNG, store it, and transport it via truck. TREC will reduce the cost of electricity, create a cleaner environment, and power Nigeria’s economic growth.

          h6 #[a(href='#') HandHero] - Runner Up
          p HandHero is solving the problem of inadequate or non-existent physical therapy for remote burn patients in the developing world, empowering them to prevent lifelong disability in a way not currently possible.
          p 11 million burn injuries occur globally each year, disproportionately affecting poor rural patients who use open fires in the home for cooking, lighting, and heating. Severe burn injuries affecting the hands are very common, especially among women and children, and can result in permanent disability if improperly treated. This presents a significant global health issue, since hand function is critical for individuals to lead independent and productive lives. Proper treatment involves reconstructive surgery followed by long-term physical therapy, the latter of which is essential yet extremely inaccessible and greatly lagging behind rising surgical resources. HandHero solves this problem by providing young burn survivors an affordable and user-friendly orthotic device that enables them to rebuild hand function and rejoin their communities.

        h1.past-winners-category Medtech 2016
        hr.accent
        div.text
          h6 #[a(href='#') Helios Medical] - 1st Place
          p We are a team of physicians and nurses working together to solve a silent yet deadly crisis in American hospitals. Central Venous Catheters (CVCs) and Peripherally Inserted Central Catheters (PICCs) are among the most widely used instruments in medical institutions, particularly for oncology, dialysis, and ICU patients. These lines can remain in the deep veins and hearts of patients for months to years. However, these lines are highly prone to bacterial infiltration. When this occurs, they lead to serious bloodstream infections and death. Hundreds of thousands of patients are diagnosed with CVC/PICC infections every year, and tens of thousands continue to die. Helios Medical was built to help eliminate these bloodstream infections and mitigate unwarranted risk to patients.

          h6 #[a(href='#') Viz.ai] - Runner Up
          p viz.ai is a cloud based, medical imaging, machine learning company. We use deep learning to do the job of the expert radiologist by analyzing ultrasound images in the cloud and providing doctors with instant results that they can act upon in real time. It is 10x faster and significantly accurate than an expert. It allows non-radiologists to perform the scan in house with a simple point and shoot action.
          p Our team consists of leading medical experts and deep learning engineers. We are firmly guided by clinical need rather than data availability. We have started by tackling the beachhead market of hip dysplasia in newborn infants, an important market that our team has world-class expertise in. We have built up a unique and proprietary data set.
          p Through our international Collaborative for Ultrasound Deep Learning (CUDL) we have scanned over 1000 babies in 6 academic centers, and had our work validated in two leading academic journals. Our focus is on growing quickly to take advantage of power laws associated with data network effects, and monetizing through distributor partnerships with large OEMs and healthcare systems.
          p Doctors benefit through faster, more accurate results, increased reimbursement and reduced costs. Patients are diagnosed earlier and get their results in real time. Payers save money. It’s like having the world’s best radiologist next door and available 24/7.

        h1.past-winners-category Business 2015
        hr.accent
        div.text
          h6 <a href = 'https://audacyspace.com/'> Audacy </a> - 1st Place
          p Audacy solves the communication problem for the commercial space industry.
          p Currently, each space company builds its own ground stations to communicate with its spacecraft. However geography and politics mean that no matter how many ground stations are built, 30% earth coverage is the maximum achievable limit.
          p It is clear that communications is currently the bottleneck of the commercial space industry. Apart from their expense, ground stations cannot handle anywhere near the data rate generated by modern spacecraft, which for earth-imaging satellites can be terabytes of data every day. Timeliness of data is critical for many companies, so the >70% blackout time represents a significant loss of revenue.
          p Audacy’s constellation of relay satellites provides 100% continuous coverage of all earth-moon space to client spacecraft. It uses the latest wireless multi-access technology to serve high data rates to hundreds of simultaneous users, negating ground stations and removing barriers of entry to the space industry. Companies simply buy a Verizon-style data subscription plan, install an Audacy-approved radio on their spacecraft, and their communications are sorted.
          p There is no doubt that this great consumer need for continuous spacecraft communication will eventually be satisfied, it is simply a question of when and by whom.

          h6 <a href = '#'> Aperture Medical </a> - 2nd Place
          p End-stage renal disease (ESRD) affects more than 2 million men, women, and children worldwide. For these patients, renal-replacement therapy is a life-sustaining treatment and reliable access to the bloodstream for hemodialysis is their lifeline. Arteriovenous fistulas and grafts – surgically created connections between arteries and veins in the extremities – constitute the most prevalent and best options for hemodialysis access. However, due to scarring and narrowing of the blood vessels, these connections frequently fail within months and only 50-60% of connections last a full year. This translates to further invasive procedures, hospitalizations, and riskier modes of dialysis access for patients and a substantial economic burden to the healthcare system.
          p Our team aims to address this problem by targeting the most upstream biological event in the development blood vessel narrowing or stenosis. By targeting the root cause of stenosis, we aim to significantly improve the short and long-term patency of arteriovenous fistulas and grafts for patients with ESRD. Our solution is a one-time intervention at the time of creation that integrates easily into existing surgical procedures and leverages new scientific insights into vascular biology. With this novel approach we aim to bring innovation to this truly unmet clinical need.

          h6 <a href = 'http://www.xstreamtrucking.com/'> XStream </a> - 3rd Place
          p Long haul trucks have a gap between the tractor and the trailer and this is a significant driver of aerodynamic drag. 2/3rd of fuel spent at highway speed is spent overcoming aerodynamic drag and therefore every little bit of savings help. Overall smoothing over this gap saves 3-5% of fuel costs for trucks (confirmed by CFD and wind tunnel tests).
          p The gap exists to allow trucks to turn, but this ability is not required at high speeds. Therefore our device deploys at high speed to cover the gap and retracts when the truck is going slower. This allows us to achieve fuel savings on the highway without compromising on the trucks’ maneuverability at low speed.
          p Our product has a fully granted patent and a full scale prototype. As one of the most efficient fleets, Walmart recognizes this problem and is excited to test our product. They have offered to pay for extensive, scientific, controlled road tests of our prototype in early April.

        h1.past-winners-category Social Impact 2015
        hr.accent
        div.text
          h6 <a href = '#'> EVIMED </a> - 1st Place
          p Over 15% of patients undergoing central venous catheterization (CVC) have complications, including mechanical, infectious and thrombotic events. Nearly 5-15% of patients with CVC experience central line-associated bloodstream infections (CLABSI). It is the most common nosocomial (in-hospital) infection and results in prolonged length of stay (from 5-20 days), significant morbidity and an increase in crude mortality (from 12-25%). CVC infections remain common in the U.S., with over 80,000 CLABSIs each year. Most efforts to reduce CLABSI involve behavior modifications to mitigate patient risk during CVC insertion and maintenance - these behavior modifications fall short of solving the problem. A thoughtless solution is needed to eliminate this serious infection, save lives, and reduce wasteful spending.
          p We have developed a port protector device (EVIMED) that attaches to a needleless connector on a catheter hub. This port protector provides effortless sterilization releasing a combination of alcohol and chlorohexidine upon connection.The EVIMED eliminates the need for behavioral modification. Initial testing demonstrates our product will lower infections by over 50%! We have filed for a provisional patent, and the Stanford Vascular access team is excited to run a trial this Summer.        p We have developed a port protector device (EVIMED) that attaches to a needleless connector on a catheter hub. This port protector provides effortless sterilization releasing a combination of alcohol and chlorohexidine upon connection.The EVIMED eliminates the need for behavioral modification. Initial testing demonstrates our product will lower infections by over 50%! We have filed for a provisional patent, and the Stanford Vascular access team is excited to run a trial this Summer.        p We have developed a port protector device (EVIMED) that attaches to a needleless connector on a catheter hub. This port protector provides effortless sterilization releasing a combination of alcohol and chlorohexidine upon connection.The EVIMED eliminates the need for behavioral modification. Initial testing demonstrates our product will lower infections by over 50%! We have filed for a provisional patent, and the Stanford Vascular access team is excited to run a trial this Summer.

          h6 <a href = 'http://mitihealth.org/'> MitiHealth </a> - 2nd Place (Tie)
          p Across East Africa, private-sector health clinics and pharmacies play a critical, frontline role in providing medical care to millions of patients. In Kenya alone, there are more than 6,000 private pharmaceutical outlets that serve as the first and often only point of care for patients and act as a stopgap to the public healthcare system, where drug stockouts occur an estimated 68% of the time.
          p The supply chains that serve these pharmacies, however, are highly fragmented, and it is estimated that 20-45% of medicine sold in Sub-Saharan Africa and South-East Asia is counterfeit or substandard. This results in an estimated 700,000 deaths and $1.6 billion in diverted revenue yearly. These ineffective supply chains, combined with poor information on drug quality and operational inefficiencies, also lead to inflated costs and threaten the quality of care provided to patients .
          p Miti Health addresses these challenges by (1) providing an Android-based smartphone and tablet platform for healthcare providers; (2) certifying high-quality distributors of medication; and (3) building a recognizable brand to strengthen the market power of pharmacists. This integrated system expands patients’ access to affordable, quality healthcare, reduces counterfeit medications sold in East Africa, and provides better information for customers and healthcare providers.

          h6 <a href = '#'> Spectrum </a> - 2nd Place (Tie)
          p Buildings consume significant amounts of energy and are the single greatest contributor to greenhouse gas emissions in urban areas. Despite this demand on the environment, current architectural practice lacks tools that effectively inform architects of the life cycle environmental impact and cost implications of design decisions. The absence of analytical feedback on design decisions early in the design process require architecture firms to spend $2.8 annually on rework costs. Left without an integrated design assessment solution, the architecture industry will continue to waste money as well as be the single greatest contributor to global carbon emissions.
          p Spectrum is a software platform that provides automated feedback on architectural design decisions by seamlessly integrating with architect’s current design environment. The software plugs in to 3D building information modeling software and integrates cloud processing, computational algorithms, and a building materials database with life cycle assessment, costing, maintenance, and energy simulation software.
          p The algorithms quickly compute the carbon and cost performance of many design alternatives for various design parameters. An interactive dashboard provides sustainability metrics and allows real-time visualization of the current design’s performance relative to the alternatives. Ultimately the software enables architects to efficiently make decisions that meet their sustainability and budget goals.

        h1.past-winners-category Special Categories 2015
        hr.accent
        div.text
          h6 <a href = 'http://whitelightmedical.com/'> White Light Medical </a> - Medical Category
          p Spinal fusion is a widely-performed and increasingly prevalent surgical technique used to alleviate spinal instabilities and deformities. In the established paradigm, a pedicle probe is used to create the trajectory that a vertebral screw follows. It can be difficult to achieve a stable, or even safe, trajectory, so this technique is most often performed under fluoroscopic (X-ray) guidance resulting in radiation exposure 10-12 times greater than other musculoskeletal procedures. Of the approximately 500,000 spinal fusion surgeries performed annually in the U.S., over 20% of vertebral screws are misplaced, necessitating reoperations in 1 to 5% of all patients. Misplaced screws can cause an array of complications from tearing arteries or intestines to damaging nerve tissue which may result in partial or complete paralysis.
          p Our team has developed a low-cost, smarter pedicle probe, AccuSpine for the accurate placement of vertebral screws. Using an electromechanical method, AccuSpine continuously measures changes in force coupled with a path-identification algorithm to provide real-time navigational guidance for the surgeon, keeping the probe within the bone. Our team aims to reduce screw breach rates, operating room time and radiation exposure, therefore limiting the cost of the procedure while enhancing safety for both patients and doctors.

          h6 <a href = 'https://www.edentech.co/'> Eden </a> - Enterprise Category
          p Eden is solving the powerful consumer frustration related to technology installation and maintenance at the home. It is a hassle to install consumer electronics (e.g., TV mounting) and frustrating to repair and maintain it when it malfunctions (e.g., computer viruses). Further, there are currently no customer-oriented, on demand providers of tech support to turn to, as Geek Squad has a 1.5 star rating on Yelp! due to terrible customer service (despite having $2+ billion in sales).
          p As such, we built Eden, which provides on demand tech support for consumers. We have a platform of vetted, 5-star tech contractors who come right to the consumer, whenever they are needed. We are offering the traditional Geek Squad services using an Uber contractor model, and also have newer services related to home automation / internet of things. We are post-pilot / post-revenue and recently raised $100K+ of venture funding from a leading venture capital firm in Silicon Valley.

          h6 <a href = 'http://www.reflexrobotics.com/'> Cerulean Robotics (Reflex Robotics) </a> - Consumer Category
          p Video recording devices are now ubiquitous. As smartphones, GoPros, and DSLRs record our lives in high definition, we can get so caught up in capturing a moment that we often forget to enjoy the moment while it’s happening. More often than not, our videos don’t come out as we intend. Subjects are out of frame or the footage is not good quality, making even a mountain biking adventure for example turn out to be unwatchable. In our selfie generation, if we want to be in our own videos we have to have another person shooting the footage. Even professional camera operators have trouble tracking moving subjects while they themselves are moving.
          p Camtron is an intelligent and personal robotic cameraman. Camtron stabilizes your camera about 3 axes and intelligently tracks subjects using our advanced computer vision and machine learning algorithms without the use of a beacon. Simply identify a subject using our app, and our system will stay locked-on, even if it is in motion or the subject is obstructed momentarily. Camtron produces effortlessly smooth footage of your experience and leaves you free to enjoy without the hassle or worry that comes with other products.

        h1.past-winners-category Crowd Favorite 2015
        hr.accent
        div.text
          h6 <a href = '#'> FirstStep </a>
          p Asthma is a chronic inflammatory disease of the airways characterized by variable and recurring symptoms. The disease leads to episodes of wheezing, breathlessness and coughing​. Some people are able to control the disease and avoid severe exacerbations via existing therapies and the use of “asthma action plans,” but people with moderate or severe persistent asthma​ have difficulty doing so and frequently utilize costly health care services. One problem is that the action plans have relatively subjective criteria that rely on late signs of exacerbations. There is a need for more accurate, objective indicators of asthma status to enable families of pediatric asthma patients to better control the disease, ​analogous to the way glucometers enable a primarily home-­based control of diabetes.
          p Our innovation is a system for early detection of asthma exacerbations. It employs passive nighttime monitoring of physiologic parameters of an asthmatic patient and environmental factors combined with personalized analytics to provide early detection of an exacerbation. The information provided by the system can be used by patients and providers working under the framework of an asthma action plan to initiate the use of proven therapeutics that can alleviate the severity of the exacerbation. 

      include ../footerFiles.jade