doctype 5
html

  head
    title BASES | Connects
    include ../headerFilesOthers.jade
  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText Connects
      div#content
        h1 Overview
        hr.accent
        div.text
          h4 Entrepreneurial Thought Leader (ETL) Lecture Series
          p Stanford University's ETL is a weekly speaker series, co-hosted by BASES and the Stanford Technology Ventures Program (STVP), that brings innovation leaders from business, finance, technology, education, and philanthropy, to share their insights with aspiring entrepreneurs from all over the world. Sign up for the seminar by registering for MS&E 472.
          p Lectures are held every Wednesday of the quarter from 4:30-5:20pm in NVIDIA Auditorium, Huang Engineering Center. All lectures are free and open to the public.
          p <a href="http://etl.stanford.edu">ETL Website</a>
          h6 Fall 2015 Speaker Lineup
          div.etl-speaker
            p.etl-date September 30
            p <b>Stewart Butterfield</b>
            p Co-Founder & CEO, Slack

          div.etl-speaker
            p.etl-date October 7
            p <b>Christina Smolke</b>
            p Associate Professor of Bioengineering, Stanford School of Medicine

          div.etl-speaker
            p <b>Steve Jurvetson</b>
            p General Partner, DFJ

          div.etl-speaker
            p <b>Astro Teller</b>
            p Head, Google X

          div.etl-speaker
            p.etl-date October 14
            p <b>Jeff Seibert</b>
            p Head of Consumer Product, Twitter

          div.etl-speaker
            p.etl-date October 21
            p <b>James Beshara</b>
            p Co-Founder, Tilt

          div.etl-speaker
            p.etl-date October 28
            p <b>Lyndon Rive</b>
            p CEO, Solar City

          div.etl-speaker
            p.etl-date November 4
            p <b>Scott Cook</b>
            p Co-Founder, Intuit

          div.etl-speaker
            p.etl-date November 11
            p <b>Rebecca Lynn</b>
            p General Partner, Cansas Ventures

          div.etl-speaker
            p.etl-date November 18
            p <b>Britt Morin</b>
            p Founder & CEO, Brit + Co



          h4 BASES Bus
          p BASES Bus takes Stanford students on tours of companies and startups around Silicon Valley. Past Bus tour destinations have included Facebook, Twitter and Applied Predictive Technologies. This year, the BASES Bus will be visiting Dropbox and Lyft in the Fall.

          h4 Adventures
          p BASES Adventures puts a small group of students and a special guest in a dynamic problem solving environment. These events are great team building and bonding exercises. Past Adventures have included Escape the Room, rafting and hot-air ballooning.

          h4 Lessons in Life
          p Lessons in Life (LiL) are small lunches between a sponsor and up to eight students. The focus of LiL is placed on the guest speaker’s life story, rather than his or her company.

        h1 Contact Us
        hr.accent
        div.text
          p Zabreen Khan (<a href='mailto:zabreen@stanford.edu'>zabreen@stanford.edu</a>) - VP

    include ../footerFilesOthers.jade