doctype 5
html

  head
    title BASES :: Entrepreneurship Bootcamp
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#hero 
      div#heroText <img src = "/images/eBootCampLogo.png"> E-Bootcamp
    div#content 
      div.newText
        p Applications for E-Bootcamp 2013-14 are now open! Apply <a href = "http://tinyurl.com/ebootcampapp"> here.</a>
      h1 Overview
      hr.accent
      div.text 
        p E-Bootcamp is an intensive international conference held annually at Stanford University for intelligent, creative and scrappy student entrepreneurs. The goal of the conference is to <b>educate</b> participants by providing them with insider information from Silicon Valley stalwarts, <b>empower</b> participants by giving them invaluable skills to become a better entrepreneur, and <b>connect</b> participants by forming lasting relationships with other participants and mentors. 
        p Our line-up this year includes a startup tour, pitching and improv workshops, marketing initiatives, specialized panels, and mentoring sessions with all-star sponsors and partners. Participants will also have the opportunity to present their products in a competitive environment through a product showcase and pitch competition, attended by investors and Silicon Valley executives.
        p We hope that all participants will walk away from E-Bootcamp not only with a newfound appreciation for entrepreneurship and a set of useful skills, but also a sense of community.  
      h1 Entering E-Bootcamp
      hr.accent
      div.text
        p In order to be eligible, all applicants must be students who are currently enrolled in a university, at any degree level. Both international and US students are encouraged to apply!   Applicants must demonstrate a passion for entrepreneurship, as well as the creativity and perseverance necessary to prevail despite roadblocks or failures. 
        p The ideal bootcamper is as brilliant as they are ambitious, as crafty as they are competitive, and as creative as they are passionate. Applicants will be evaluated on their ability to contribute to the vibrant E-Bootcamp community.  The application consists of several personal questions as well as questions pertaining to the applicants’ current project.
        p Note: If an applicant and his or her team member both wish to attend E-Bootcamp, <b>both must submit their own application.</b>  Applications will be evaluated separately, and acceptance of one team member neither ensures nor denies acceptance to the other.
        p Applications are due <b>February 3rd, 2014 at 11:59 PM PT.</b>
          | The late deadline for applications is <b>February 10, 2014 at 11:59 PT.</b><br/>
        p Please keep in mind that we cannot guarantee your late deadline application will be read, as slots fill up quickly.
          | If accepted, you will be notified via email no later than March 1, 2014.
      h1 Past Speakers
      hr.accent
      div.text 
        p Past speakers have included
        ul.textList
            li Douglas Leone, Sequoia Capital
            li Vinod Khosla, Sun Microsystems
            li Marissa Mayer, Google
            li Jim Bartone, TiVo
            li Paul Graham, Y Combinator
            li Seth Sternberg, co-founder of Meebo
            li Max Levchin, PayPal
      h1 Event Information
      hr.accent
      div.text
        p E-Bootcamp 2013-14 will take place during April 17-20 2014.
        p E-Bootcamp is free of charge to all participants once they arrive on campus.  However, participants are responsible for transportation costs to and from Stanford.  If this presents a significant burden, we are offering limited financial aid, to be awarded based on the financial aid application found <a href = "http://www.tinyurl.com/ebootcampfa"/>here</a>.
        p Previous Events include:
        h6 Workshops
          p Lasting between 60-90 minutes, each workshop will be held in groups of 10 and led by Silicon Valley leaders. Bootcampers will have the full session to collaborate and receive feedback from leaders in their field. These small workshops will aggressively test startup viability and platform, focusing on:
          ul.textList
            li Product Development
            li Business Plans
            li Pitching
            li Improvisation
            li Design
        h6 Panels
          p Panels include 4-6 experts involved in various aspects of the start-up experience. General topics will be covered by VC’s, CEO’s and law firms in 60-90 minute sessions.

        h6 Keynotes
          p Guest speakers from Silicon Valley will give 1 hour keynote lectures to offer inspiration and advice to all E-Bootcamp participants. Often remembered as the weekend highlight, keynote speakers are carefully selected on their ability to embody the message of E-bootcamp, and impress a sense of urgency upon our entrepreneurs to continue dreaming, molding, and evolving their ideas. 

        h6 Speaker Rounds
          p Designed to highlight the failures, obstacles, and amazing successes experienced by prolific entrepreneurs across the nation, each speaker round gives E-Bootcampers the opportunity to hear the personal stories behind the face of “entrepreneurship.”

        h6 Startup Tour
          p During their time in Silicon Valley, Bootcampers will have the opportunity to tour some of the most influential companies in Silicon Valley, known around the world. Additionally, Bootcampers will also be able to visit, engage, and learn from developing start-ups in the area. All transportation will be provided and covered by the conference.

        h6 Competition
          p After three days of extensive workshops, E-Bootcamp culminates into a competition in which E-Bootcampers pitch their ideas to a panel of executive judges, filled with the biggest names in Silicon Valley. Each team gets the opportunity to put into perspective all they have learned from the E-bootcamp over the previous three days, and convince the judges to potentially ‘invest’ in their company. 
          p The pitching competition is a great way to test the real life viability of the bootcampers’ ideas and its potential to grow into a company. The winners of the competition get direct entry into a startup incubator over the summer and the incredible advantage to turn their ideas into reality. 
      h1 Press and Testimonials
      hr.accent
      div.text
        ul.textList
          li <a href = "http://www.stanforddaily.com/2011/04/11/bases-hosts-entrepreneurship-conference-for-start-ups/">The Stanford Daily</a>
          li <a href = "http://abclocal.go.com/kgo/story?section=news/business&id=8062302">The ABC 7 News</a>
          li <a href = "http://www.nea.com/blog/a-few-takeaways-from-e-bootcamp-2012">NEA</a>
          li <a href = "http://www.xconomy.com/san-francisco/2011/04/09/will-one-of-these-be-the-next-google-student-entrepreneurs-compete-at-stanford-video/">Xconomy</a>
          li <a href = "http://vator.tv/news/2013-05-25-stanford-bases-a-model-for-university-entrepreneurs">Vator TV</a>
          li <a href = "http://siliconstudents.com/spend-6-days-in-stanford-university-with-100-aspiring-entrepreneurs-from-all-around-the-world-at-e-bootcamp-2012/">Silicon Students</a>
      h1 Questions?
      hr.accent
      div.text 
        p Email us at ebootcamp.info@gmail.com
    include ../footerFilesOthers.jade   
