doctype 5
html

  head
    title BASES :: Entrepreneurship Bootcamp
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#hero 
      div#heroText <img src = '/images/eChallengeLogo.png'> E-Bootcamp
    div#content 
      h1 Overview
      hr.accent
      div.text 
        p E-Bootcamp is an intensive international conference designed specifically to target and strip away all of the potential weaknesses of our Bootcampers’ ideas and reforge them, ready for launch. 
        p Our demanding program includes pitching and design workshops, marketing initiatives, media rundowns, sector-specific critiquing, and mentoring sessions with our all-star sponsors and partners. 
        p During the conference, Bootcampers will have the opportunity to present their products in a competitive environment, including a product showcase and pitch competition, attended by investors and Silicon Valley stalwarts.  The four best entrepreneurs, chosen by our panel of esteemed judges, will be chosen to receive a grand prize package, offering them the tools they need to establish their startups.
      h1 Past Speakers
      hr.accent
      div.text 
        p Past speakers have included
        ul.textList
            li Douglas Leone, Sequoia Capital
            li Vinod Khosla, Sun Microsystems
            li Marissa Mayer, Google
            li Jim Bartone, TiVo
            li Paul Graham, Y Combinator
            li Seth Sternberg, co-founder of Meebo
            li Max Levchin, PayPal
      h1 Questions?
      hr.accent
      div.text 
        p Email us at ebootcamp.info@gmail.com
    include ../footerFilesOthers.jade   
