doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#eChallenge.slide.fullscreen
    div#eChallenge-header.slide
      div.slide-header
        div.slide-title  E - Challenge 
    div.main-body 
    include ../footerFilesOthers.jade 