doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#hero 
      div#heroText <img src = '/images/eChallengeLogo.png'> E-Challenge
    div#content 
      h1 Heading 1
      hr.accent
      h2 Heading 2
      div.text 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus arcu augue, tempor non ornare vel, semper sit amet arcu. Aenean id vehicula quam, eget pulvinar velit. Mauris sed tempor magna. Phasellus et lobortis leo, non malesuada urna. Nulla at odio pellentesque dui dignissim tincidunt quis nec nulla. Sed viverra erat nulla, vel ultricies felis laoreet sit amet. Vestibulum quis felis et dui elementum sollicitudin. In tempor purus at ornare vestibulum. Proin vel sem odio. Aenean ac rhoncus tellus. 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus arcu augue, tempor non ornare vel, semper sit amet arcu. Aenean id vehicula quam, eget pulvinar velit. Mauris sed tempor magna. Phasellus et lobortis leo, non malesuada urna. Nulla at odio pellentesque dui dignissim tincidunt quis nec nulla. Sed viverra erat nulla, vel ultricies felis laoreet sit amet. Vestibulum quis felis et dui elementum sollicitudin. In tempor purus at ornare vestibulum. Proin vel sem odio. Aenean ac rhoncus tellus.
      h2 Heading 2
      div.text 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus arcu augue, tempor non ornare vel, semper sit amet arcu. Aenean id vehicula quam, eget pulvinar velit. Mauris sed tempor magna. Phasellus et lobortis leo, non malesuada urna. Nulla at odio pellentesque dui dignissim tincidunt quis nec nulla. Sed viverra erat nulla, vel ultricies felis laoreet sit amet. Vestibulum quis felis et dui elementum sollicitudin. In tempor purus at ornare vestibulum. Proin vel sem odio. Aenean ac rhoncus tellus.
      h1 Heading 1
      hr.accent
      h2 Heading 2
      div.text 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus arcu augue, tempor non ornare vel, semper sit amet arcu. Aenean id vehicula quam, eget pulvinar velit. Mauris sed tempor magna. Phasellus et lobortis leo, non malesuada urna. Nulla at odio pellentesque dui dignissim tincidunt quis nec nulla. Sed viverra erat nulla, vel ultricies felis laoreet sit amet. Vestibulum quis felis et dui elementum sollicitudin. In tempor purus at ornare vestibulum. Proin vel sem odio. Aenean ac rhoncus tellus. 
      h2 Heading 2
      div.text 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus arcu augue, tempor non ornare vel, semper sit amet arcu. Aenean id vehicula quam, eget pulvinar velit. Mauris sed tempor magna. Phasellus et lobortis leo, non malesuada urna. Nulla at odio pellentesque dui dignissim tincidunt quis nec nulla. Sed viverra erat nulla, vel ultricies felis laoreet sit amet. Vestibulum quis felis et dui elementum sollicitudin. In tempor purus at ornare vestibulum. Proin vel sem odio. Aenean ac rhoncus tellus. 
    //- include ../footerFilesOthers.jade   