doctype 5
html

  head
    title BASES | E-Challenge
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#hero 
      div#heroText <img src = "/images/eChallengeLogo.png"> E-Challenge
    div#content 
      div.newText
        p E-Challenge 2013-14 is now over. Check back in October for information on the next BASES Challenge! 
      h1 Overview
      hr.accent
      div.text 
       p E-Challenge rewards teams with business ideas that have the potential to become viable and successful businesses. Past competition categories include cleantech, education, mobile, consumer/IT, and health. E-Challenge holds three rounds of judging during the winter and spring quarters. Judging focuses on quality of business concept, sustainable business models, scalability, market viability, and realizability. 
      h1 Entering E-Challenge
      hr.accent
      div.text 
        p To enter E-Challenge, please submit all materials through our <a href = "https://www.younoodle.com/competitions/bases_challenge_2014"> online application.</a> Submit a 200-word (max) summary of your business idea, a business model canvas (1-page max) that describes how your business idea would be executed (here is a link to a <a href = "http://www.businessmodelgeneration.com/canvas" >downloadable canvas</a>), and a slide deck with 3 slides (max) that you will use to present your business during a 2-minute pitch to a panel of VCs, entrepreneurs, and experts who are experienced in the industry track relevant to your business idea. 
        p The written component of your application (200-word summary and business model canvas) will be used to introduce your judges to your business concept and how you plan on realizing it. Your slide deck is optional, but if you choose to include it, can be used during your team's in-person pitch at Stanford University for the first round of judging in mid-February. Note that your team will be judged on the content of both the written component of the application and the pitch, although the material presented during your team's pitch will form the bulk of your judges' impressions of your business.
      h1 Eligibility and Restrictions
      hr.accent
      div.text 
        p All Stanford students, faculty, and alumni are eligible to enter. Though individuals not affiliated with Stanford University are encouraged to participate, any entering team must have at least one of its members affiliated with Stanford University. The size of a team is not restricted, and neither is the number of entries submitted by each person/team. 
        p Teams that have received prior outside investment from venture capital firms, private investors, or industry sources are not eligible to compete. Entrants who receive funding of any kind after officially entering E-Challenge may continue to compete and will be considered for the competition prizes. The source(s) of such financing, however, must be disclosed to the BASES Challenge Organizing Team immediately. Everything submitted to the competition must be original. The ideas, concepts, written documents, oral pitch, and all aspects of the submissions are original work of the team members and that they are not under any agreement or restrictions which prohibit or restrict his or her ability to disclose the idea or to use them to participate in E-Challenge.
        p The E-Challenge Organizing Team reserves the right to disqualify any entry that, in its judgment, violates the E-Challenge rules or the spirit of the competition.
      h1 Event Information
      hr.accent
      div.text 
        p BASES Challenge Entrepreneurship Mixer on Thursday, January 9 at 7pm, CoHo
        p BASES Challenge Application Deadline on Friday, January 24 at 11:59pm PST
        p E-Challenge First Round on Thursday, February 4, Huang Engineering Center Basement (time TBA)
        p E-Challenge Second Round on Thursday, March 4, Huang Engineering Center Basement (time TBA)
        p BASES Challenge Finale on Tuesday, May 20, Alumni Center (time TBA)
      h1 Contact Info
      hr.accent
      div.text
        p Kristine Chen (kchen7@stanford.edu) - VP
        p Michael Longoria (ml1293@stanford.edu) - Director
        p Danielle Dobos (ddobos@stanford.edu) - Director
    include ../footerFilesOthers.jade   
