doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div.main-body 
      div#cover
        div#hero 
        div#heroText <img src = '/images/eChallengeLogo.png'> E-Challenge
    include ../footerFilesOthers.jade   