doctype 5
html

  head
    title BASES | ETL
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#blank
    div.cover.coverBig
      div#heroETL.hero
      div.heroText <img src = "/images/etlLogo.png"> ETL
    div#content 
      h1 Overview
      hr.accent
      div.text 
        p Stanford University's ETL is a weekly speaker series, co-hosted by BASES and the Stanford Technology Ventures Program (STVP), that brings innovation leaders from business, finance, technology, education, and philanthropy, to share their insights with aspiring entrepreneurs from all over the world. Sign up for the seminar by registering for MS&E 472.
        p Lectures are held every Wednesday of the quarter from 4:30-5:30pm in NVIDIA Auditorium, Huang Engineering Center. All lectures are free and open to the public.
        p <a href='http://etl.stanford.edu'>ETL Website</a>
      h1 Nominate a Speaker
      hr.accent
      div.text
        p If you would like to nominate a speaker for The Entrepreneurial Thought Leaders Seminar Speaker Series please fill our this brief <a href='https://docs.google.com/forms/d/1rNlpUSJ0pGXFXu76V-s38WoN5D_B7rKtDUbUyWsD9x0/viewform?usp=send_form'>form</a>.
      h1 Contact Info
      hr.accent
      div.text
        p Akaash Nanda (<a href='mailto:akaashn@stanford.edu'>akaashn@stanford.edu</a>) - Co-VP
        p Chad Kamisugi (<a href='mailto:kamisugi@stanford.edu'>kamisugi@stanford.edu</a>) - Co-VP
      h1 Spring 2014-2015 Speaker Lineup
      hr.accent
      div.text
        p <u>Apr. 8</u>  <br/> <strong> Sean George </strong> <br/> President and COO, Invitae
        p <u>Apr. 15</u>  <br/> <strong> Ron Gutman </strong> <br/> Founder and CEO, HealthTap
        p <u>Apr. 22</u> <br/> <strong> Kyle Forster </strong> <br/>  Co-founder, Big Switch Networks
        p <u>Feb. 4</u> <br/> <strong> Kathleen Eisenhardt </strong> <br/> Professor, Stanford Engineering
        p <u>Feb. 11</u> <br/> <strong> Mike Rothenberg </strong> <br/> Founder, Rothenberg Ventures
        p <u>Feb. 18</u>  <br/> <strong> Chinedu Echeruo </strong> <br/> Partner, Constant Capital Partners
        p <u>Feb. 25</u> <br/> <strong> William Marshall </strong> <br/> Co-Founder and CEO, Planet Labs
        p <u>Mar. 4</u> <br/> <strong> Susan Koger </strong> <br/> Co-Founder and Chief Creative Officer, ModCloth
      h1 Winter 2014-2015 Speaker Lineup
      hr.accent
      div.text
        p <u>Jan. 14</u>  <br/> <strong> Jennifer Pahlka </strong> <br/> Founder & Executive Director, Code for America
        p <u>Jan. 21</u>  <br/> <strong> Shah Selbe </strong> <br/> Explorer, National Geographic Society
        p <u>Jan. 28</u> <br/> <strong> Jeanne Gang </strong> <br/> Founder & Principal, Studio Gang Architects
        p <u>Feb. 4</u> <br/> <strong> Alon Cohen </strong> <br/> Co-Founder, Houzz
        p <u>Feb. 11</u> <br/> <strong> Kathryn Gould </strong> <br/> Co-Founder, Foundation Capital
        p <u>Feb. 18</u>  <br/> <strong> John Collison </strong> <br/> Co-Founder, Stripe
        p <u>Feb. 25</u> <br/> <strong> Josh Reeves </strong> <br/> Founder, ZenPayroll
        p <u>Mar. 4</u> <br/> <strong> Laurene Powell Jobs </strong> <br/> Founder & Chair, Emerson Collective
      h1 Autumn 2014-2015 Speaker Lineup
      hr.accent
      div.text
        p <u>Oct. 1</u>  <br/> <strong> Kevin & Julia Hartz </strong> <br/> Founders, Eventbrite
        p <u>Oct. 8</u>  <br/> <strong> Elizabeth Wiseman </strong> <br/> Author, Multipliers
        p <u>Oct. 15</u> <br/> <strong> Tina Seelig </strong> <br/> Professor of the Practice, Stanford Engineering
        p <u>Oct. 22</u> <br/> <strong> Matt Rogers </strong> <br/> Co-Founder and VP of Engineering, Nest
        p <u>Oct. 29</u> <br/> <strong> Lew Cirne </strong> <br/> Founder and CEO, New Relic
        p <u>Nov. 5</u>  <br/> <strong> Jennifer Carolan </strong> <br/> Managing Director, New Schools Seed Fund
        p <u>Nov. 12</u> <br/> <strong> Tina Wells </strong> <br/> Founder and CEO, Buzz Marketing Group
        p <u>Nov. 19</u> <br/> <strong> Ben Horowitz </strong> <br/> Co-Founder and Partner, Andreessen Horowitz
      h1 Spring 2013-2014 Speaker Lineup
      hr.accent
      div.text
        p <u>April 9</u> <br/> <strong> Tristan Walker </strong> <br/> Founder and CEO, Walker and Company Brands <br /> EIR at Andreessen Horowitz
        p <u>April 16</u> <br/> <strong> Sal Khan </strong> <br/> Founder and Executive Director, Khan Academy
        p <u>April 23</u> (starts at 4 pm)<br/> <strong> Morris Chang </strong> <br/> Chairman, Taiwan Semiconductor Manufacturing Company <br /> <i> with Stanford University President John Hennessy </i>
        p <u>April 30</u> <br/> <strong> Ed Catmull </strong> <br/> President, Walt Disney and Pixar Animation Studios
        p <u>May 7</u> <br/> <strong> Linda Rottenburg </strong> <br/> Co-Founder and CEO, Endeavor Global
        p <u>May 14</u> <br/> <strong> Geoff Donaker </strong> <br/> Chief Operating Officer, Yelp
        p <u>May 21</u> <br/> <strong> Leah Busque </strong> <br/> Founder and CEO, Task Rabbit
        p <u>May 28</u> <br/> <strong> Heidi Roizen </strong> <br/> Operating Partner, DFJ
      h1 Winter 2013-2014 Speaker Lineup
      hr.accent
      div.text
        p <u>January 15</u> <br/> <strong> Halle Tecco </strong> <br/> Co-Founder and CEO, RockHealth
        p <u>January 22</u> <br/> <strong> Dave McClure </strong> <br/> Founding Partner, 500 Startups
        p <u>January 29</u> <br/> <strong> William Hsu </strong> <br/> Co-Founder and Managing Partner, MuckerLab
        p <u>February 5</u> <br/> <strong> Gunnar Carlsson and Gurjeet Singh </strong> <br/> Co-Founders, Ayasdi
        p <u>February 12</u> <br/> <strong> Bob Sutton </strong> <br/> Professor, Stanford University
        p <u>February 19</u> <br/> <strong> Cameron Strang </strong> <br/> Chairman and CEO of Warner Bros.
        p <u>February 26</u> <br/> <strong> Hemant Shah </strong> <br/> President and CEO, RMS
        p <u>March 5</u> <br/> <strong> Cameron Teitelman </strong> <br/> Founder and CEO, StartX
      h1 Autumn 2013-2014 Speaker Lineup
      hr.accent
      div.text 
        p <u>October 2</u> <br/> <strong> Matt Rabinowitz </strong> <br/> Founder and CEO, Natera
        p <u>October 9</u> <br/> <strong> Padmasree Warrior </strong> <br/> Chief Technology and Strategy Officer, Cisco
        p <u>October 16</u> <br/> <strong> Cyriac Roeding </strong> <br/> Co-Founder and CEO, Shopkick
        p <u>October 23</u> <br/> <strong> Steve Teig </strong> <br/> President and CEO, Tabula
        p <u>October 30</u> <br/> <strong> Bill Drayton </strong> <br/> Chair and CEO, Ashoka
        p <u>November 6</u> <br/> <strong> Scott Harrison </strong> <br/> Co-Founder and CEO, charity::water
        p <u>November 13</u> <br/> <strong> Mike Olson </strong> <br/> Chief Strategy Officer, Cloudera
        p <u>November 20</u> <br/> <strong> Sharon Vosmek </strong> <br/> CEO, Astia
    include ../footerFilesOthers.jade   
