doctype 5
html

  head
    title BASES :: ETL
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#hero 
      div#heroText <img src = '/images/eChallengeLogo.png'> ETL
    div#content 
      h1 Overview
      hr.accent
      div.text 
        p Stanford University's ETL is a weekly speaker series, co-hosted by BASES and the Stanford Technology Ventures Program (STVP), that brings innovation leaders from business, finance, technology, education, and philanthropy, to share their insights with aspiring entrepreneurs from all over the world. Sign up for the seminar by registering for MS&E 472.
      h1 Autumn 2013-2014 Speaker Lineup
      hr.accent
      div.text 
        p All lectures are held in in NVIDIA Auditorium.
        p <u>October 2</u> <br/> <strong> Matt Rabinowitz </strong> <br/> Founder and CEO, Natera
        p <u>October 9</u> <br/> <strong> Padmasree Warrior </strong> <br/> Chief Technology and Strategy Officer, Cisco
        p <u>October 16</u> <br/> <strong> Cyriac Roeding </strong> <br/> Co-Founder and CEO, Shopkick
        p <u>October 23</u> <br/> <strong> Steve Teig </strong> <br/> President and CEO, Tabula
        p <u>October 30</u> <br/> <strong> Bill Drayton </strong> <br/> Chair and CEO, Ashoka
        p <u>November 6</u> <br/> <strong> Scott Harrison </strong> <br/> Co-Founder and CEO, charity::water
        p <u>November 13</u> <br/> <strong> Mike Olson </strong> <br/> Chief Strategy Officer, Cloudera
        p <u>November 20</u> <br/> <strong> Sharon Vosmek </strong> <br/> CEO, Astia
    include ../footerFilesOthers.jade   
