doctype 5
html

  head
    title BASES :: ETL
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#hero 
      div#heroText <img src = '/images/eChallengeLogo.png'> ETL
    div#content 
      h1 Overview
      hr.accent
      div.text 
        p Stanford University's ETL is a weekly speaker series, co-hosted by BASES and the Stanford Technology Ventures Program (STVP), that brings innovation leaders from business, finance, technology, education, and philanthropy, to share their insights with aspiring entrepreneurs from all over the world. Sign up for the seminar by registering for MS&E 472.
      h1 Autumn 2013-2014 Speaker Lineup
      hr.accent
      div.text 
        p All lectures are held in in NVIDIA Auditorium.
        p October 2 <br/> <strong> Matt Rabinowitz </strong> <br/> Founder and CEO, Natera
    include ../footerFilesOthers.jade   
