doctype html
html

  head
    title BASES | External Relations
    include ../headerFilesOthers.jade
  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText External Relations
      div#content
        h1 Overview
        hr.accent
        div.text
          h4 BASES Startup Career Fair
          p Every January, BASES hosts Stanford’s second largest career fair, attracting 1,000+ students and 70 companies. The fair attracts top programmers and engineers and is the only Stanford career fair focused on startups.
          p Companies that attend the BASES Startup Career Fair will also have access to our resume talent portal, post jobs and opportunities on our entrepreneurship email newsletter, the BASES Digest, reaching over 5,000 people.


          h4 Startup Lunches
          p Our External Relations team invites the founders and CEOs from sponsor companies to have lunch with high-quality, pre-selected students in intimate, high-impact settings. Past guests include Joe Lonsdale and Kevin Hartz, and past companies represented include Palantir, Thumbtack, ZenPayroll, and AdRoll. This is a fantastic opportunity for students to get to know companies on a more personal level.

          h4 VC-Startup Mixer
          p Entering its fourth year, the BASES VC Mixer brings together the larger Stanford entrepreneurial community and 20+ VCs and law firms at a fun mixer-style event.

        h1 Contact Us
        hr.accent
        div.text
          p Aoxue Tang (<a href='mailto:axtang@stanford.edu'>axtang@stanford.edu</a>) - VP

    include ../footerFiles.jade