doctype 5
html

  head
    title BASES | Freshman Battalion
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#herofreshmanBat
      div#heroText <img src = "/images/freshmanBatLogo.png"> Freshman Battalion
    div#content 
      h1 Overview
      hr.accent
      div.text 
       p The Frosh Battalion program identifies 22 outstanding Stanford freshmen to participate in a year-long immersion program. 
       p Starting first with fall recruitment, the Battalion program gives members opportunities to learn more about the entrepreneurial space in the Silicon Valley by first engaging in a startup challenge that has teams of four conduct due diligence on an early stage company through SWOT analysis. 
       p Members then join a BASES team as an officer winter quarter to help plan events such as the BASES Challenge, E-Bootcamp and ETL Speaker Series. 
      h1 Recruitment
      hr.accent
      div.text
       p Recruitment is closed for the 2013-2014 school year. Please check back next fall! 
      h1 Contact Info
      hr.accent
      div.text
        p Evelyn Xue (qexue@stanford.edu) - Co-VP
        p Aditya Dev Gupta (gaditya@stanford.edu) - Co-VP
    include ../footerFilesOthers.jade   
