doctype 5
html

  head
    title BASES | Freshman Battalion
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#herofreshmanBat
      div#heroText <img src = "/images/freshmanBatLogo.png"> Freshman Battalion
    div#content 
      h1 APPLY NOW
      hr.accent
      div.text
        p Recruitment is OPEN for the 2014-2015 school year. We are looking for talented freshmen to join a core group of like-minded entrepreneurs. Connect with great BASES members, meet industry visionaries, and work on your own startup idea.
         p <a href='http://tinyurl.com/applyfb' target='_blank'>Applications</a> are due on <b> Sept. 28 (Sunday)</b> at 11:59 pm.
         p Email Evelyn at qexue@stanford.edu for any questions.
      h1 Overview
      hr.accent
      div.text 
       p The Frosh Battalion program identifies 22 outstanding Stanford freshmen to participate in a year-long immersion program. 
       p Starting first with fall recruitment, the Battalion program gives members opportunities to learn more about the entrepreneurial space in the Silicon Valley by first engaging in a startup challenge that has teams of four conduct due diligence on an early stage company through SWOT analysis. Industry leaders are invited as guest speakers to provide workshops and mentorship for the startup ideas of each freshman team.
       p Members then join a BASES team as an officer winter quarter to help plan events such as the BASES Challenge, ETL Speaker Series, and Hackspace competitions. 
      h1 Contact Info
      hr.accent
      div.text
        p Evelyn Xue (qexue@stanford.edu) - Co-VP
        p Aditya Dev Gupta (gaditya@stanford.edu) - Co-VP
    include ../footerFilesOthers.jade   