doctype 5
html

  head
    title BASES | Hackspace
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#heroHackSpace
      div#heroText Hackspace
    div#content.hackspace
      h1 Overview
      hr.accent
      div.text 
       p Hackspace is a common, open, free, hackspace to be a place to code, write, create, and launch ideas. It is a center to meet, work, and build next generation products and startups. 
      h1 Workshops
      hr.accent
      .text
        p 
          | Our hands-on workshops are the primary way that Hackspace engages with Stanford's hacking community. We teach people the skills necessary to turn their ideas into completed products.
          br
          a.btn.btn-primary(href="/programs/hackspace/workshops") Check out our workshops
      h1 Contact Info
      hr.accent
      div.text
        p Jason Teplitz (jteplitz@stanford.edu) - VP
    include ../footerFilesOthers.jade   
