doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#heroHackSpace
      div#heroText Hackspace
    div#content 
      h1 Overview
      hr.accent
      div.text 
       p Hackspace is a common, open, free, hackspace to be a place to code, write, create, and launch ideas. It is a center to meet, work, and build next generation products and startups. 
    include ../footerFilesOthers.jade   
