doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#heroHackSpace
      div#heroText Hackspace
    div#content 
      h1 Overview
      hr.accent
      div.text 
       p Hackspace is a common, open, free, hackspace for students and the wider Silicon Valley community to code, write, create, and launch their ideas. The central hackspace location is on the bottom floor of Stanford’s Huang Engineering Center, which acts as a center for hackers from Stanford and Silicon Valley to meet, work, host events and build next generation products and startups. 
    include ../footerFilesOthers.jade   
