doctype 5
html

  head
    title BASES | Programs
    include ../headerFilesOthers.jade
  body
    include ../navBarOthers.jade
    div#white-bg
      div#coverPrograms.cover
        div.hero
        div.heroText BASES Programs
      div#content
        div.text
          p BASES programs fall under three main categories - Inspire, Create, and Launch. We are the main vehicle for student-led entrepreneurship programming on Stanford’s campus, with the goal of bringing students from ideas to implementation to the launch of a startup. Through events with thought leaders and industry partners, we hope to inspire any student, with or without previous experience, to gain the skills to become an entrepreneur.
        h1 Inspire
        hr.accent
        div.text
          <a class="program-name" href='/programs/connects'>Connects</a>
          div.subprogram-title Entrepreneurial Thought Leader (ETL) Lecture Series
          div.subprogram-title BASES Bus
          div.subprogram-title Adventures
          div.subprogram-title Lessons in Life
          <a class="program-name" href='/programs/externalRelations'>External Relations</a>
          div.subprogram-title BASES Startup Career Fair
          div.subprogram-title Startup Lunches
          div.subprogram-title VC-Startup Mixer
          <a class="program-name" href='/programs/socImpact'>Social Impact</a>
          div.subprogram-title Social Impact Kickoff Panel
          div.subprogram-title Social E-mmersion Course
          div.subprogram-title Tackling Today’s Troubles
          div.subprogram-title Social Impact Fair (Haas Fair)
          div.subprogram-title Social Impact Case Competition
          <a class="program-name" href='/programs/cnect'>CNECT</a>
          div.subprogram-title CNECT Platform
        h1 Create
        hr.accent
        div.text
          <a class="program-name" href='/programs/createspace'>CreateSpace</a>
          div.subprogram-title Hacking Hours
          div.subprogram-title Startup Collab
          div.subprogram-title Coding Bootcamp
          div.subprogram-title GoodHacks
          div.subprogram-title HackOverflow
          div.subprogram-title BlackOverflow
          div.subprogram-title PuzzleHunt
        h1 Launch
        hr.accent
        div.text
          <a class="program-name" href='/programs/challenge'>BASES Challenge</a>
          p BASES Challenge is Stanford’s oldest and most competitive annual entrepreneurship competition. Students and alumni enter their business or social venture ideas to compete for $100,000 in prize money and developmental opportunities. The application process begins with an electronic written application and culminates in two rounds of live judging.

    include ../footerFilesOthers.jade