doctype 5
html

  head
    title BASES | Lessons in Life
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover.coverBig
        div#heroETL.hero
        div.heroText Lessons in Life
      div#content 
        h1 Overview
        hr.accent
        div.text 
          p The BASES Lessons in Life Series (LIL) provides opportunities for students to engage meaningfully with alumni, entrepreneurs, professors, and leaders in our community over an intimate meal. The purpose of these meals is to facilitate the exchange of candid thoughts, insights, and advice while catalyzing mentoring relationships. We hope guests will also benefit through getting to know current Stanford students much more genuinely while better understanding the student perspective. Meals are limited to 10 students and are held on the Stanford University campus. Admission to each event is through application only. If you have any questions or suggestions please do not hesitate to reach out to us at <a href='mailto:etl-leadership@lists.stanford.edu'>etl-leadership@lists.stanford.edu</a>.
        h1 Past Lessons in Life Guests
        hr.accent
        div.text
          p <strong> Daniel Kivatinos </strong> <br/> Co-Founder, drchrono
          p <strong> Mike Mettler </strong> <br/> Director of Product Management, Paypal
          p <strong> Krish Parikh </strong> <br/> Partner, Lightspeed Ventures
          p <strong> Abbas Milani </strong> <br/> Professor, Stanford University; Co-Director, Iran Democracy Project, Hoover Institution
        h1 Nominate a Guest
        hr.accent
        div.text
          p If you would like to nominate a guest for our BASES Lessons in Life Series please fill out this brief <a href='https://docs.google.com/forms/d/1zoTM5RjynPTkq-x2AxzXSE4-z8GbdTJJ1Pxc1dB4KGY/viewform?usp=send_form'>form</a>.
        h1 Contact Info
        hr.accent
        div.text
          p Akaash Nanda (<a href='mailto:akaashn@stanford.edu'>akaashn@stanford.edu</a>) - Co-VP
          p Chad Kamisugi (<a href='mailto:kamisugi@stanford.edu'>kamisugi@stanford.edu</a>) - Co-VP
    include ../footerFiles.jade   
