doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#heroProductShowcase
      div#heroText <img src = "/images/productShowCaseLogo.png"> Product Showcase
    div#content 
      div.newText
        p Applications for Product Showcase 2013-14 are now open! Apply <a href = "https://www.younoodle.com/podium/er/bases_product_showcase_2014/enter"> here.</a>
      h1 Overview
      hr.accent
      div.text 
        p Do you like to make things? Are you a rising entrepreneur? Do you have a demo-able product prototype that you'd like to show off? If the answer to any of these questions is yes, then Product Showcase is for you. Your classes have taught you how to make elaborate products; many of you probably have already. This contest is an ideal opportunity for you to build, refine and iterate on a product whose demo could equip you with the experience and funding to launch your product. 
        p The Product Showcase competition is as simple as it sounds. Any Stanford-affiliated group can make a product, and apply. The top-ranked projects will then have a chance to exhibit a demo-version of their product at the BASES Challenge Finale in the spring. We are expecting a very broad range of product entries in the competition: as long as the prototype works and does something new, anything goes! iPhone apps, surgical devices, and consumer electronics gadgets are only some examples of possible submissions.
      h1 Entering Product Showcase
      hr.accent
      div.text 
        p To enter Product Showcase, please submit all materials through our <a href = "https://www.younoodle.com/competitions/bases_challenge_2014"> online application.</a>
        p The philosophy behind the Product Showcase event is very hands-on. After submitting an online application and presenting an in-person pitch at the preliminary judging rounds, contestants have the chance to showcase their product at BASES Finale in May. While participants of the other two BASES challenges will present business plans, Product Showcase contestants will simply demonstrate their prototype at Finale, much like at a science fair.  Industry experts as well as Stanford Professors will judge the entries, and the winner will be announced at the end of the day.
      h1 Eligibility and Restrictions
      hr.accent
      div.text 
        p All Stanford students, faculty, and alumni are eligible to enter. Though individuals not affiliated with Stanford University are encouraged to participate, any entering team must have at least one of its members affiliated with Stanford University. The size of a team is not restricted, and neither is the number of entries submitted by each person/team. 
        p Everything submitted to the competition must be original. The ideas, concepts, written documents, oral pitch, and all aspects of the submissions are original work of the team members and that they are not under any agreement or restrictions which prohibit or restrict his or her ability to disclose the idea or to use them to participate in the Product Showcase. 
        p The Product Showcase Organizing Team reserves the right to disqualify any entry that, in its judgment, violates the BASES Challenge rules or the spirit of the competition.
      h1 Event Information
      hr.accent
      div.text 
        p Early Application Deadline: Friday, January 24, 2014
        p Early Judging Round: Tuesday, February 11, 2014
        p Regular Application Deadline (extended): Sunday, April 13th, 2014
        p Regular Judging Round: Tuesday-Wednesday, April 22-23, 2014
        p Product Showcase Demo Day (BASES Finale): Tuesday, May 20, 2014
      h1 Product Showcase VPs
      hr.accent
      div.text
        p Daryl Chang (dlchang@stanford.edu)
        p Brandon Garcia (bgarcia7@stanford.edu)
    include ../footerFilesOthers.jade   

