doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#heroProductShowcase
      div#heroText Product Showcase
    div#content 
      div.newText
        p Applications for Product Showcase 2013-14 are now open! Apply <a href = "https://www.younoodle.com/competitions/bases_challenge_2014"> here.</a>
      h1 Overview
      hr.accent
      div.text 
        p Do you like to make things? Are you a rising entrepreneur? Do you have a demo-able product prototype that you'd like to show off? 
        p If the answer to any of these questions is yes, then Product Showcase is for you. Your classes have taught you how to make elaborate products; many of you probably have already. This contest is an ideal opportunity for you to build, refine and iterate on a product whose demo could equip you with the experience and funding to launch your product. 
      h1 Eligibility
      hr.accent
      div.text 
        p All Stanford students, faculty, and alumni are eligible to enter. Though individuals not affiliated with Stanford University are encouraged to participate, any entering team must have at least one of its members affiliated with Stanford University. The size of a team is not restricted, and neither is the number of entries submitted by each person/team. Team members are also allowed to change over the period of the competition provided that the team maintains the above mentioned eligibility criteria. In addition, an individual can participate in more than one team.
      h1 Restrictions
      hr.accent
      div.text 
        p Teams that have received prior outside investment from venture capital firms, private investors, or industry sources are not eligible to compete.
        p Entrants who receive funding of any kind after officially entering Product Showcase may continue to compete and will be considered for the competition prizes. The source(s) of such financing, however, must be disclosed to the BASES Challenge Organizing Team immediately.
        p Everything submitted to the competition must be original. The ideas, concepts, written documents, oral pitch, and all aspects of the submissions are original work of the team members and that they are not under any agreement or restrictions which prohibit or restrict his or her ability to disclose the idea or to use them to participate in Product Showcase.
      h1 Important Dates
      hr.accent
      div.text 
        p Nov 20, 2013 -  BASES Challenge Kickoff (6-8pm in Paul Brest Hall)
        p Feb 11-12, 2014 - 1st Round Judging
        p Mar 4-6, 2014 - 2nd Round Judging
        p May 20, 2014 - BASES Challenge Finale
    include ../footerFilesOthers.jade   

