doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#heroHackSpace
      div#heroText Professional Development
    div#content 
      h1 Overview
      hr.accent
      div.text 
       p BASES offers events and programs to connect student entrepreneurs and provide them the skills to get started. More details on this developing program coming soon! 
    include ../footerFilesOthers.jade   
