doctype html
html

  head
    title BASES | Social Impact
    include ../headerFilesOthers.jade
  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText Social Impact
      div#content
        h1 Overview
        hr.accent
        div.text
          h4 Social Impact Case Competition
          p The BASES Social Impact Case Competition challenges Stanford students to find the best business solution to a social enterprise case study. Student groups will have one week to develop concrete recommendations to a social issue presented by The School Fund, a local education nonprofit. Teams will present their solutions to a panel of judges. The top two teams will be given funds to donate to a nonprofit of their choice. Students will interact and engage with socially conscious professionals, and exercise problem-solving skills on a real case.
          h6 Case Schedule
          p
            | Info Session: April 7th @ 12:00 pm Location: Nitery 209
            br
            | Kickoff event: April 15th @ 4:00 pm Location: Nitery 209
            br
            | Office Hours: By appointment, Location: Old Union 114
            br
            | Final Presentations: April 23, Location: 320-105
            br
            | Awards Dinner: April 23 @ 7:00 pm Location: Old Union 200

          h6 Guidelines & Details
          p
            | Team Size: 3-5 Participants
            br
            | Eligibility: All current Stanford students
            br
            | Prizes: $1000 to winning team’s choice of nonprofit, $500 to runner-up’s choice of nonprofit. 
            br
            | Nonprofit must be a registered 501(c)(3) organization.
            br
            | Application: Applications goes live on April 7th at 8:00PM. Sign up #[a(href='https://www.younoodle.com/competitions/bases_challenge_2016' target='_blank') here].

          h4 Social Impact Summit
          p On October 8 and 9, BASES will be hosting the first-ever Social Impact Week! Come to learn about pursuing impactful careers, how to launch a successful social enterprise, and where social entrepreneurship is headed.

          div.socImpact-event
            div.main-info Thursday, 10/8 CEO of Teach For America
            div.details Room 420-040 | 6:30 - 8:30 PM
            div.info Hear the Elisa Villanueva Beard, the CEO of Teach for America speak. After the keynote, we’ll be hosting intimate roundtable discussions with the founders of social impact organizations like Clever, IdeatEd, Loudspeaker Films, and Braven. Join us to learn about social innovation in education and beyond!
            div.rsvp <a href="http://stanford.us11.list-manage2.com/track/click?u=a06d16946d6451b21d0242082&id=d2d911fb4b&e=fa8ecf779f">RSVP</a>

          div.socImpact-event
            div.main-info Friday, 10/9: CEO of Goodwill
            div.details Cemex Auditorium | 6:00 - 7:30 PM
            div.info Jim Gibbons, the CEO of Goodwill, will be joining us to speak on his journey through social impact. He’ll share insights from years of experience in the social entrepreneurship space and answer questions about the direction of the field moving forward.
            div.rsvp <a href="http://stanford.us11.list-manage2.com/track/click?u=a06d16946d6451b21d0242082&id=79fa6319d9&e=fa8ecf779f">RSVP</a>


          h4 Social E-mmersion Course
          p From January to April, a group of 15 selected students will enroll in our “Social E-mmersion course.” For 10 weeks, they will learn about the different pieces of the social entrepreneurship ecosystem and how they piece together. Students will engage in lectures and discussions with Stanford faculty in addition to visiting social impact organizations, from for-profit social ventures to non-profits, foundations, impact investing firms, and accelerators.

          h4 Tackling Today’s Troubles
          p Every month, we will bring in an expert to discuss a social problem and possible solutions with 10-15 Stanford students. The goal of Tackling Today’s Troubles is to expose students to a variety of ways to engage in social entrepreneurship.

          h4 Social Impact Fair (Haas Fair)
          p Stanford’s Haas Center for Public Service holds an annual Social Impact Fair to expose students to social impact internships and careers. This year, BASES will bring more business-related opportunities and marketing to the Social Impact Fair.

        h1 Contact Us
        hr.accent
        div.text
          p Nick Hershey (<a href='mailto:nhershey@stanford.edu'>nhershey@stanford.edu</a>) - VP
          p Vicki Niu (<a href='mailto:vniu@stanford.edu'>vniu@stanford.edu</a>) - VP

    include ../footerFiles.jade