doctype 5
html

  head
    title BASES
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#hero 
      div#heroText <img src = '/images/socialEChallengeLogo.png'> Social E-Challenge
    div#content 
      h1 Overview
      hr.accent
      div.text 
        p Social Entrepreneurship Challenge rewards teams with exceptional business models that generate positive social impact. In addition, teams receive mentoring from experts in social-impact funding, legal issues, and social entrepreneurship. 
        p Competition categories include health, education, economic development, and environment. Running parallel to E-Challenge, Social E-Challenge holds three rounds of judging during the winter and spring quarters. First round of judging emphasizes ideas. Second and final rounds emphasize sustainable business models and scalable impact. 
        p Finalists of Social E have included Kiva, One Acre Fund, DripTech, and Embrace.
      h1 Competition Structure
      hr.accent
      div.text 
        p Running parallel to E-Challenge, Social E-Challenge holds three rounds of judging during the winter and spring quarters. Judging focuses on quality of business concept, sustainable business models, scalability, market viability, and realizability. 
        p In your application, you will be asked to include a 200-word summary of your business idea, a business model canvas (see http://www.businessmodelgeneration.com/canvas for a downloadable canvas), and a deck of 2-3 slides. 
        p The written component of your application (200-word summary and business model canvas) will be used to introduce your judges to your business concept and how you plan on realizing it. 
        p Your slide deck is optional, but if you choose to include it, can be used during your team's in-person pitch at Stanford University for the first round of judging in mid-February. Note that your team will be judged on the content of both the written component of the application and the pitch, although the material presented during your team's pitch will form the bulk of your judges' impressions of your business.
        p Advancing Social E teams participate in the Forge accelerator program with a focus on improving the teams' business models and organization. First round of judging emphasizes ideas. Second and final rounds emphasize sustainable business models and scalable impact. Finalists of Social E have included Kiva, One Acre Fund, DripTech, and Embrace.
      h1 The Social E-Challenge "Value Added"
      hr.accent
      div.text 
        p Yes, E-Challenge is a valuable program to participate in because you have the potential to make some money and develop your business idea. But Social E-Challenge is more than simply a competition. 
        p Social E-Challenge provides structured programming throughout the year to assist teams that advance through rounds of competition in transforming their business ideas into actual businesses. It starts with in-depth office hours with industry/VC experts to refine business ideas and models and continues throughout the spring with BASES' Forge accelerator program -- which does just as the name suggests...accelerates your idea into a working business. 
        p Along the way, you'll meet angel investors, venture capitalists, industry experts, thought leaders, and of course, other entrepreneurs to guide you in this process.
      h1 Eligibility
      hr.accent
      div.text 
        p All Stanford students, faculty, and alumni are eligible to enter. Though individuals not affiliated with Stanford University are encouraged to participate, any entering team must have at least one of its members affiliated with Stanford University. The size of a team is not restricted, and neither is the number of entries submitted by each person/team.
      h1 Restrictions
      hr.accent
      div.text 
        p Teams that have received prior outside investment from venture capital firms, private investors, or industry sources are not eligible to compete.
        p Entrants who receive funding of any kind after officially entering Social E-Challenge may continue to compete and will be considered for the competition prizes. The source(s) of such financing, however, must be disclosed to the BASES Challenge Organizing Team immediately.
        p Everything submitted to the competition must be original. The ideas, concepts, written documents, oral pitch, and all aspects of the submissions are original work of the team members and that they are not under any agreement or restrictions which prohibit or restrict his or her ability to disclose the idea or to use them to participate in Social E-Challenge.
        p The Social E-Challenge Organizing Team reserves the right to disqualify any entry that, in its judgment, violates the Social E-Challenge rules or the spirit of the competition.
      h1 Important Dates
      hr.accent
      div.text 
        p Nov 20, 2013 - BASES Challenge Kickoff (6-8pm in Paul Brest Hall)
        p Jan 2014 - Social-E Hackathon
        p Feb 4-6, 2014 - 1st Round Judging
        p Mar 4-6, 2014 - 2nd Round Judging
        p May 20, 2014 - BASES Challenge Finale

    include ../footerFilesOthers.jade   

