doctype 5
html

  head
    title BASES | Social Impact
    include ../headerFilesOthers.jade
  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText Social Impact
      div#content
        h1 Overview
        hr.accent
        div.text
          h4 Social Impact Summit
          p On October 8 and 9, BASES will be hosting the first-ever Social Impact Week! Come to learn about pursuing impactful careers, how to launch a successful social enterprise, and where social entrepreneurship is headed.

          div.socImpact-event
            div.main-info Thursday, 10/8 CEO of Teach For America
            div.details Room 420-040 | 6:30 - 8:30 PM
            div.info Hear the Elisa Villanueva Beard, the CEO of Teach for America speak. After the keynote, we’ll be hosting intimate roundtable discussions with the founders of social impact organizations like Clever, IdeatEd, Loudspeaker Films, and Braven. Join us to learn about social innovation in education and beyond!
            div.rsvp <a href="http://stanford.us11.list-manage2.com/track/click?u=a06d16946d6451b21d0242082&id=d2d911fb4b&e=fa8ecf779f">RSVP</a>

          div.socImpact-event
            div.main-info Friday, 10/9: CEO of Goodwill
            div.details Cemex Auditorium | 6:00 - 7:30 PM
            div.info Jim Gibbons, the CEO of Goodwill, will be joining us to speak on his journey through social impact. He’ll share insights from years of experience in the social entrepreneurship space and answer questions about the direction of the field moving forward.
            div.rsvp <a href="http://stanford.us11.list-manage2.com/track/click?u=a06d16946d6451b21d0242082&id=79fa6319d9&e=fa8ecf779f">RSVP</a>


          h4 Social E-mmersion Course
          p From January to April, a group of 15 selected students will enroll in our “Social E-mmersion course.” For 10 weeks, they will learn about the different pieces of the social entrepreneurship ecosystem and how they piece together. Students will engage in lectures and discussions with Stanford faculty in addition to visiting social impact organizations, from for-profit social ventures to non-profits, foundations, impact investing firms, and accelerators.

          h4 Tackling Today’s Troubles
          p Every month, we will bring in an expert to discuss a social problem and possible solutions with 10-15 Stanford students. The goal of Tackling Today’s Troubles is to expose students to a variety of ways to engage in social entrepreneurship.

          h4 Social Impact Fair (Haas Fair)
          p Stanford’s Haas Center for Public Service holds an annual Social Impact Fair to expose students to social impact internships and careers. This year, BASES will bring more business-related opportunities and marketing to the Social Impact Fair.

          h4 Social Impact Case Competition
          p The BASES Social Impact team will hold a 12-hour event in which groups of Stanford students work to solve a business problem a partnering social enterprise is facing. Throughout the event, we will hold workshops on case competitions and discussions with the social enterprise. Finally, the event will end with group presentations and outstanding teams receiving prizes.
        h1 Contact Us
        hr.accent
        div.text
          p Nick Hershey (<a href='mailto:nhershey@stanford.edu'>nhershey@stanford.edu</a>) - VP
          p Vicki Niu (<a href='mailto:vniu@stanford.edu'>vniu@stanford.edu</a>) - VP

    include ../footerFiles.jade