doctype 5
html

  head
    title BASES | Women in Entrepreneurship Summit
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#heroWIE 
      div#heroText Women in Entrepreneurship Summit
    div#content 
      div.newText
        p Saturday, April 4 | Stanford Graduate School of Business - Oberndorf Event Center | 3 - 6 PM
        p Apply now <a href="http://bit.ly/baseswomensummit">here</a>!
      h1 Overview
      hr.accent
      div.text 
        p Tired of packed speaker series and panels?
        p Want to sit at a table with top female founders in the Valley?
        p Passionate about the role of women in tech?
        p Then apply to BASES's inaugural Women in Entrepreneurship Summit! Participants will have the opportunity to participate in two small group workshops led by some of the most successful female entrepreneurs in Silicon Valley, including Julia Hartz, Co-Founder and President of Eventbrite, Sandy Jen, CTO and Co-Founder of Meebo, and more! Ask them questions, hear their life stories, even make friends with these high-powered women!
        p Each workshop will be led by 1 speaker and limited to 15 participants. They will be centered around three main themes:
        p 1. Founding Stories: Hear life lessons from our speakers 
        p 2. Skill building: Learn the skills necessary to be a successful entrepreneur
        p 3. Actionable takeaways: Receive concrete lessons you can apply to your own ventures
      h1 Apply
      hr.accent
      div.text 
        p Men and women encouraged to apply. Applications due Friday, March 12, 2015. 
        p Apply now at <a href="http://bit.ly/baseswomensummit">http://bit.ly/baseswomensummit</a>
      div.newText
        p <img src ='/images/wiefinal.jpg' height = 800px >


    include ../footerFilesOthers.jade   

