doctype 5
html

  head
    title BASES | About
    include ../headerFilesOthers.jade
  body
    include ../navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText About
      div#content
        h1 Mission
        div.accent
        div.text
          p Our mission is to inspire Stanford students to become entrepreneurial leaders and innovative thinkers

        h1 Vision
        div.accent
        div.text
          p To look back at BASES in 20 years and point to it as the organization that made us the entrepreneurial leaders we are today and forged the community and network that brought us here.

        h1 Core Values
        div.accent
        div.text
          h5 #ChallengeAssumptions
          p We view the world with fresh eyes. Where others see problems and inefficiencies, we see puzzles and opportunities. We combine creativity, problem solving, and hard work to bring great ideas into fruition.
          h5 #MakeMomProud
          p We recognize the unique privileges that we are afforded as Stanford students, and seek to use our position to learn and benefit others. We stay humble and professional, no matter what task we work on or who we interact with.
          p We are fully committed to being good stewards of the Stanford and BASES name. We hold ourselves to high standards of integrity and respect for ourselves, our team members, and our communities.
          h5 #BASESOnMyMind
          p We are on call 24/7. We keep our eyes and ears open to seek new opportunities to improve our organization and our members. We take initiative to give back and pay it forward; not just now, but in the future as influential industry and thought leaders.
          h5 #BASESFamily
          p We are a family. We help one another and are willing and eager to lend a hand to other members. We always look for ways to get other incredible individuals involved with BASES and seek to give our BASES family fulfilling experiences. We work to push each other to grow as well-rounded intellectuals, friends, and entrepreneurs.
          h5 #SayItMeanItDoIt
          p Say it - We communicate effectively, early, and honestly about what we need and what we’re planning to do. We ask for help when we need it.
          p Mean it - We are thoughtful about what we say. We make conscious and willing decisions and follow through with our commitments.
          p Do it - We get down and dirty. BASES members are scrappy, efficient, and take initiative. When we see a problem, we go fix it.

    include ../footerFiles.jade