doctype 5
html

  head
    title BASES | E-Guide &middot External Resources
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#heroEGuideResources
      div#heroText External Resources
    div#content 

    div.container#eguidecontents
      h3 Table of Contents
      hr.accent
      ul
        li: a#eguidelink(href='#acowan') Alexander Cowan

    br
    div.container

      h5 <a class="anchor" id="acowan"></a>Alexander Cowan
        div.text 
          p is a 5-time entrepreneur, founder and CTO of Leonid Systems, and author of the book 'Starting a Tech Business'. His website contains resources for aspiring entrepreneurs on Product Design, Venture Management, and Product Development.
          p  
            | Links: 
            a#eguidelink(href='http://www.alexandercowan.com/venture-design/') Venture Design
            , 
            a#eguidelink(href='http://www.alexandercowan.com/learn/online-workshops/') Online Workshops
      hr.accent

    include ../footerFilesOthers.jade