doctype 5
html

  head
    title BASES | E-Guide &middot Groups
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div.cover.coverBig
      div#heroEGuideGroups.hero
      div.heroText E-Guide &middot Groups
    div#content 

    div.container#eguidecontents
      h3 Table of Contents
      hr.accent
      ul
        li: a#eguidelink(href='#ASES') Asia-Pacific Student Entrepreneurship Society (ASES)
        li: a#eguidelink(href='#BASES') Business Association of Stanford Entrepreneurial Students (BASES)
        li: a#eguidelink(href='#eclub') Graduate School of Business (GSB) Entrepreneur Club
        li: a#eguidelink(href='#SELA') Society for Entrepreneurship in Latin America (SELA)
        li: a#eguidelink(href='#energy') Stanford Energy Club
        li: a#eguidelink(href='#IEEE') Stanford Institute for Electrical and Electronics Engineers (IEEE)
        li: a#eguidelink(href='#SLATA') Stanford Law & Technology Association (SLATA)
        li: a#eguidelink(href='#SLS') Stanford Law School (SLS) Entrepreneurship Club
        li: a#eguidelink(href='#SSB') Stanford Students in Biodesign
        li: a#eguidelink(href='#space') Stanford Student Space Initiative
        li: a#eguidelink(href='#SVCC') Stanford Venture Capital Club (SVCC)
        li: a#eguidelink(href='#SVS') Stanford Venture Studio (SVS)        
        li: a#eguidelink(href='#SWIB') Stanford Women in Business

    br
    div.container

      h5 <a class="anchor" id="ASES"></a>Asia-Pacific Student Entrepreneurship Society (ASES)
        div.text 
          p  
            | ASES is a student organization whose mission is to educate and network the future leaders in business, technology and the Asia-Pacific in order to foster a global entrepreneurship society.
          p  
            | Website: 
            a#eguidelink(href='http://ases.stanford.edu/') http://ases.stanford.edu/
          p  
            | Contact: Kuan Peng (President)-<a href='mailto:kuanp@stanford.edu'>kuanp@stanford.edu</a>
          p  
            | More: Startup Office Hours (work on startup ideas with an expert in the field), VC3 ("speed dating"--connecting with Venture Capitalists), Sartup Bootcamp (members form groups to work on ideas with community impact throughout the year), Intern Program (paired with alumni mentors to work on different projects throughout the year) 
      hr.accent

      h5 <a class="anchor" id="BASES"></a>Business Association of Stanford Entrepreneurial Students (BASES)
        div.text 
          p  
            | Challenges: Social E-challenge (prize money for team with best business model to create social impact), Entrepreneurship Challenge (prize money for team with best usiness idea), Product Showcase (prize money awarded to best product prototypes); E-Bootcamp (participants engage in pitching and design workshops and present products to investors in a competition), Entrepreneurial Thought Leaders' Seminar (students sign up for a class attend a weekly speaker series), Startup Career Fair (networking and recruiting opportunities with companies), BASES Digest (event newsletter about entrepreneurship and internship opporunities), Hackspace (students code and create ideas), Freshman Battalion (year-long Freshman immersion program)
          p  
            | Website: 
            a#eguidelink(href='http://bases.stanford.edu/') http://bases.stanford.edu/
          p  
            | Contact: Co-Presidents: Brandon Garcia-<a href='mailto:bgarcia7@stanford.edu'>bgarcia7@stanford.edu</a> and Andrea Sy-<a href='mailto:andreasy@stanford.edu'>andreasy@stanford.edu</a>
      hr.accent

      h5 <a class="anchor" id="eclub"></a>Graduate School of Business (GSB) Entrepreneur Club
        div.text 
          p  
            | The GSB Entrepreneurship Club is one of the oldest student-run entrepreneur's clubs in the nation. The current incarnation of the club has its roots in the late 1970s, when many of the individual student initiatives around small businesses and entrepreneurialism coalesced into a single student-lead club. In 1993, the e-club under the leadership of Ken Hawk sponsored the first E-Conference on Entrepreneurship, with 150 people attending the day-long event. The conference has since grown to be the largest annual conference dedicated to entrepreneurship in the world. Today the Entrepreneur Club is the most active student-run club within the GSB community. We have over 300 members and last year the club organized more than 50 events for over 1,100 attendants. The goal of the current GSB Entrepreneurship Club is to stimulate interest in entrepreneurialism among GSB students and other members of the Stanford community. We are passionate about building sustainable ventures and want to provide our members a lifelong learning & support platform to minimize risk and to maximize success in ventures. We want to promote entrepreneurial mind-set both as a founder or manager of a start-up as well as in the roles of an investor, advisor, or corporate partner. 
          p  
            | Website: 
            a#eguidelink(href='http://www.gsbeclub.org/') http://www.gsbeclub.org/
          p  
            | Contact: General Club Email: eclub_exec_team@gsb.stanford.edu
      hr.accent

      h5 <a class="anchor" id="SELA"></a>Society for Entrepreneurship in Latin America (SELA)
        div.text 
          p  
            | The Society for Entrepreneurship in Latin America aims to create and educate a network of future leaders in business, technology, and social innovation in the Americas in order to foster a global entrepreneurship community aware of Latin American affairs.
          p  
            | Website: 
            a#eguidelink(href='http://sela.stanford.edu/') http://sela.stanford.edu/
          p  
            | Contact: Yael Wulfovich (President)-<a href='mailto:yaelw@stanford.edu'>yaelw@stanford.edu</a>; Anais Saint-Jude-<a href='mailto:anais.saint-jude@stanford.edu'>anais.saint-jude@stanford.edu</a>
          p  
            | More: Chapters at universities in Argentina, Brazil, Chile, Colombia, Mexico, and El Salvador
      hr.accent

      h5 <a class="anchor" id="energy"></a>Stanford Energy Club
        div.text 
          p  
            | The Stanford Energy Club strives to bring together Stanford students, scholars and local professionals of all levels, regardless of discipline, who are interested in energy issues.
          p  
            | Website: 
            a#eguidelink(href='http://energyclub.stanford.edu/') http://energyclub.stanford.edu/
          p  
            | Contact: Caleb Morse (President)-<a href='mailto:cbmorse@stanford.edu'>cbmorse@stanford.edu</a> 
          p  
            | More: Panel discussions, site visits to companies in the Bay area, weekly digest for energy-related jobs
      hr.accent

      h5 <a class="anchor" id="IEEE"></a>Stanford Institute for Electrical and Electronics Engineers (IEEE)
        div.text 
          p  
            | Stanford IEEE is Stanford's student chapter of the Institute of Electrical and Electronics Engineers (IEEE). We're a group of electrical engineering and computer science students (undergrad and graduate) who want to have fun and meet new people, to learn about research and innovation in technology, to find ourselves and our passions, to help our community, and to get inspired to change the world!
          p  
            | Website: 
            a#eguidelink(href='http://ieee.stanford.edu/') http://ieee.stanford.edu/
          p  
            | Contact: General/Chair-<a href='mailto:ieee@ee.stanford.edu'>ieee@ee.stanford.edu</a> 
      hr.accent

      h5 <a class="anchor" id="SLATA"></a>Stanford Law & Technology Association (SLATA)
        div.text 
          p  
            | Since 1984 the Stanford Law and Technology Association (SLATA) has engaged the Stanford community with thought leaders at the intersections of law, policy, science, and technology. SLATA’s events foster a vibrant intellectual dialogue about the novel and challenging legal questions that coincide with technological innovation.For Stanford Law students, SLATA brings in lawyers, academics, and policy makers to speak about cutting edge issues at the intersection of law and technology, introducing students to the people dealing with these issues every day. SLATA also maintains several technology resources for students, including online bookstores that sponsor student benefits and a comprehensive database of course outlines.
          p  
            | Website: 
            a#eguidelink(href='http://slata.stanford.edu/') http://slata.stanford.edu/
          p  
            | Contact: Co-Presidents: Jonathan Schatz-<a href='mailto:jtschatz@gmail.com'>jtschatz@gmail.com</a> and Lisa Li-<a href='mailto:lxl1@stanford.edu'>lxl1@stanford.edu</a> 
          p  
            | More: Lawyers and policymakers speak about issues that explore technology and law, technology resources for students including and online bookstore and course outlines database.
      hr.accent

      h5 <a class="anchor" id="SLS"></a>Stanford Law School (SLS) Entrepreneurship Club 
        div.text 
          p  
            | To connect Stanford Law School students interested in entrepreneurship to the greater Stanford and Silicon Valley community.
          p  
            | Website: 
            a#eguidelink(href='http://www.law.stanford.edu/organizations/student-organizations/sls-entrepreneurship-club') http://www.law.stanford.edu/organizations/student-organizations/sls-entrepreneurship-club
          p  
            | Contact: Co-presidents: Braine Cornish (<a href='mailto:brianek@stanford.edu'>brianek@stanford.edu</a>), Mark Mallery (<a href='mailto:mmallery@stanford.edu'>mmallery@stanford.edu</a>)
      hr.accent

      h5 <a class="anchor" id="SSB"></a>Stanford Students in Biodesign (SSB)
        div.text 
          p  
            | SSB's initiatives are designed to bring the biotechnology, pharmaceutical, and medical device industries to Stanford. We design and run two courses to introduce students to various fields and careers, and allow them to hear from influential members of industry and academia. Our team hosts an annual Stanford Medical Innovation Conference on a novel and burgeoning technology area, summoning high profile pioneers to share their innovation and an audience from across the nation. SSB also organizes several events for students including talks, tours of Stanford labs and company R&D labs, student-industry mixers, one-on-one advisory meetings with industry members in our network, and more!
          p  
            | Website: 
            a#eguidelink(href='https://sites.google.com/site/ssbinformation/') https://sites.google.com/site/ssbinformation/
          p  
            | Contact: General Information & Questions or sponsorship packet- Executive Team (<a href='mailto:ssb.information@gmail.com'>ssb.information@gmail.com</a>)
      hr.accent

      h5 <a class="anchor" id="space"></a>Stanford Student Space Initiative
        div.text 
          p  
            | Our mission is to change the space culture at Stanford by cultivating space entrepreneurship and strengthening the Stanford space community.
          p  
            | Website: 
            a#eguidelink(href='http://spaceinitiative.stanford.edu/') http://spaceinitiative.stanford.edu/
          p  
            | Contact: Co-Presidents Robert Jackson (<a href='mailto:rgj@stanford.edu'>rgj@stanford.edu</a>) and Charlie Cox (<a href='mailto:ccox13@stanford.edu'>ccox13@stanford.edu</a>)
      hr.accent

      h5 <a class="anchor" id="SVCC"></a>Stanford Venture Capital Club (SVCC)
        div.text 
          p  
            | SVCC is a student-run organization that assists venture capital firms in identifying investment opportunities and educates students about the venture capital industry.
          p  
            | Website: 
            a#eguidelink(href='http://vc.stanford.edu/cgi-bin/wordpress/') http://vc.stanford.edu/cgi-bin/wordpress/
          p  
            | Contact: Konstantine Buhler (President)-<a href='mailto:buhler@stanford.edu'>buhler@stanford.edu</a>
      hr.accent

      h5 <a class="anchor" id="SVS"></a>Stanford Venture Studio
        div.text 
          p  
            | The Stanford Venture Studio is a vibrant learning facility for Stanford graduate students across all disciplines who want to learn about designing and creating sustainable, high-impact ventures by testing what they are learning in the classroom. The Stanford Venture Studio provides a supportive, resourced environment, where students benefit from being immersed in the Stanford entrepreneurial community.
          p  
            | Website: 
            a#eguidelink(href='http://www.gsb.stanford.edu/ces/students/venture-studio') http://www.gsb.stanford.edu/ces/students/venture-studio
          p  
            | Contact: <a href='mailto:sprie-stanford@stanford.edu'>sprie-stanford@stanford.edu</a>
          p  
            | More: SPRIE maling list: <a href='mailto:sprie-seminar-join@lists.stanford.edu'>sprie-seminar-join@lists.stanford.edu</a>
      hr.accent

      h5 <a class="anchor" id="SWIB"></a>Stanford Women in Business
        div.text 
          p  
            | Stanford Women in Business educates women pursuing careers in business fields through an encouraging community of aspiring and successful young women on Stanford's campus.
          p  
            | Website: 
            a#eguidelink(href='http://www.stanfordwomeninbusiness.com/') http://www.stanfordwomeninbusiness.com/
          p  
            | Contact: Lauryn Isford (President)-<a href='mailto:ljisford@stanford.edu'>ljisford@stanford.edu</a>

    include ../footerFiles.jade
