doctype 5
html

  head
    title BASES | E-Guide &middot Startup Resources
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#blank
    div.cover.coverBig
      div#heroEGuideLabs.hero
      div.heroText E-Guide &middot Labs
    div#content 

    div.container#eguidecontents
      h3 Table of Contents
      hr.accent
      ul
        li: a#eguidelink(href='#aerofluid') Aero Fluid Mechanics Laboratory
        li: a#eguidelink(href='#aerospace') Aerospace Robotics Laboratory
        li: a#eguidelink(href='#aircraft') Aircraft Aerodynamics and Design Group  
        li: a#eguidelink(href='#sail') Stanford Artificial Intelligence Laboratory
        li: a#eguidelink(href='#biomotion') Biomotion Research Group
        li: a#eguidelink(href='#brown') Brown Institute for Media Innovation             
        li: a#eguidelink(href='#turbulence') Center for Turbulence Research
        li: a#eguidelink(href='#CHARM') Collaborative Haptics And Robotics in Medicine (CHARM) Lab
        li: a#eguidelink(href='#CSL') Computer Systems Laboratory (CSL)
        li: a#eguidelink(href='#ginzton') Edward L. Ginzton Laboratory
        li: a#eguidelink(href='#engineeringrisk') Engineering Risk Research Group
        li: a#eguidelink(href='#envirofluid') Environmental Fluid Mechanics Laboratory
        li: a#eguidelink(href='#GLAM') Geballe Laboratory for Advanced Materials (GLAM)
        li: a#eguidelink(href='#GCEP') Global Climate and Energy Project (GCEP)
        li: a#eguidelink(href='#eclub') Stanford GSB Entrepreneur Club
        li: a#eguidelink(href='#hansen') Hansen Experimental Physics Laboratory
        li: a#eguidelink(href='#hci') Stanford Human-Computer Interaction (HCI) Group
        li: a#eguidelink(href='#HTGL') High Temperature Gasdynamics Laboratory (HTGL)
        li: a#eguidelink(href='#ISL') Information Systems Laboratory
        li: a#eguidelink(href='#blume') John A. Blume Earthquake Engineering Center
        li: a#eguidelink(href='#manufacturing') Manufacturing Modeling Lab
        li: a#eguidelink(href='#planck') Max Planck Center for Visual Computing and Communication
        li: a#eguidelink(href='#venturelab') MIT/Stanford Venture Lab
        li: a#eguidelink(href='#nanoscale') Nanoscale Prototyping Laboratory
        li: a#eguidelink(href='#epicenter') National Center for Engineering Pathways to Innovation (the Epicenter)
        li: a#eguidelink(href='#PRL') Product Realization Laboratory (PRL)
        li: a#eguidelink(href='#PBL') Project-Based Learning Lab
        li: a#eguidelink(href='#simbios') Simbios
        li: a#eguidelink(href='#smartproducts') Smart Products Design Lab
        li: a#eguidelink(href='#STVP') Stanford Technology Ventures Program (STVP)
        li: a#eguidelink(href='#SVS') Stanford Venture Studio (SVS)
        li: a#eguidelink(href='#VHIL') Virtual Human Interaction Lab (VHIL)

    br
    div.container

      h5 <a class="anchor" id="aerofluid"></a>Aero Fluid Mechanics Laboratory 
        div.text 
          p  
            | The Aero Fluid Mechanics Laboratory is interested in measurements of the structure of turbulent flames, direct numerical simulation of free shear flows, and use of topological methods for interpretation of complex three-dimensional vector fields. Recent projects include studies of fast-burning fuels for hybrid propulsion and decomposition of nitrous oxide for space propulsion.
          p  
            | Led By: Brian Cantwell
          p  
            | Contact: <a href='mailto:environment@stanford.edu'>environment@stanford.edu</a>
          p
            | Website: 
            a#eguidelink(href='http://aa.stanford.edu/research/index.php#afm') http://aa.stanford.edu/research/index.php#afm
      hr.accent

      h5 <a class="anchor" id="aerospace"></a>Aerospace Robotics Laboratory
        div.text 
          p  
            | The Aerospace Robotics Laboratory is a research group in the Department of Aeronautics and Astronautics at Stanford University. All of the research is developed and validated on experimental hardware systems. These systems include both mobile robots (land, sea, sky, and space) and a variety of fixed manipulators for space and factory applications.
          p  
            | Led By: Stephen Rock
          p
            | Website: 
            a#eguidelink(href='http://stanford.edu/group/arl') http://stanford.edu/group/arl
      hr.accent

      h5 <a class="anchor" id="aircraft"></a>Aircraft Aerodynamics and Design Group
        div.text 
          p  
            | The Aircraft Aerodynamics and Design Group's work ranges from the development of computational and experimental methods for aerodynamic analysis to studies of unconventional aircraft concepts and new architectures for multidisciplinary design optimization. Their research group consists of about a dozen people including doctoral students, post-docs, and faculty.
          p  
            | Led By: Ilan Kroo
          p  
            | Contact: <a href='mailto:email'>email</a>
          p
            | Website: 
            a#eguidelink(href='http://aero.stanford.edu/ADG.html') http://aero.stanford.edu/ADG.html
      hr.accent

      h5 <a class="anchor" id="sail"></a>Stanford Artificial Intelligence Laboratory
        div.text 
          p  
            | The Stanford Artificial Intelligence Laboratory (SAIL), under the Department of Computer Science, performs cutting-edge research in machine learning, logic, natural language processing, probabilistic graphical models, and decision making under uncertainty.
          p  
            | Led By: Fei-Fei Li
          p
            | Website: 
            a#eguidelink(href='http://ai.stanford.edu') http://ai.stanford.edu
      hr.accent

      h5 <a class="anchor" id="biomotion"></a>Biomotion Research Group
        div.text 
          p  
            | The Biomotion Research Group explores sports injury and osteoarthritis through examination of the mechanics and biology of movement.
          p  
            | Led By: Thomas Andriacchi 
          p
            | Website: 
            a#eguidelink(href='http://stanford.edu/group/biomotion') http://stanford.edu/group/biomotion

      h5 <a class="anchor" id="brown"></a>Brown Institute for Media Innovation
        div.text 
          p  
            | The Brown Institute for Media Innovation is a collaborative effort between Stanford Univeristy and Columbia University. The Institute works to sponsor research into how media stories are discovered and propogated in a digital world.
          p  
            | Led By: Bernd Girod
          p
            | Website: 
            a#eguidelink(href='http://brown.stanford.edu') http://brown.stanford.edu
      hr.accent

      h5 <a class="anchor" id="turbulence"></a>Center for Turbulence Research
        div.text 
          p  
            | The Center for Turbulence Research, a joint effort between Stanford University and the National Aeronautics and Space Administration (NASA), researches the mechanics of turbulence and  non-linear multi-scale phenomena for engineering analysis.
          p  
            | Led By: Parviz Moin
          p
            | Website: 
            a#eguidelink(href='http://ctr.stanford.edu') http://ctr.stanford.edu
      hr.accent

      h5 <a class="anchor" id="CHARM"></a>Collaborative Haptics And Robotics in Medicine (CHARM) Lab
        div.text 
          p  
            | Housed in the Mechanical Engineering Department as part of the Biomechanics and Design groups at Stanford University, CHARM researches, studies, and designs haptic systems through experimentation and analysis.
          p  
            | Led By: Allison Okamura
          p
            | Website: 
            a#eguidelink(href='http://charm.stanford.edu') http://charm.stanford.edu
      hr.accent

      h5 <a class="anchor" id="CSL"></a>Computer Systems Laboratory (CSL)
        div.text 
          p  
            | A collaborative effort between the Electrical Engineering and Computer Science departments at Stanford University, the Computer Systems Laboratory researches and explores the fields of operating systems, computer networking, special architectures, compilers, programming languages, information management, graphics, security, reliability and fault tolerance, system specification and verification, user interfaces, integrated circuit design and special computer architectures.
          p  
            | Led By: Mendel Rosenblum
          p
            | Website: 
            a#eguidelink(href='http://csl.stanford.edu') http://csl.stanford.edu
      hr.accent

      h5 <a class="anchor" id="ginzton"></a>Edward L. Ginzton Laboratory
        div.text 
          p  
            | The Ginzton Laboratory is an interdisciplinary research lab that explores the interaction and combination of quantum science and engineering, photonic science and engineering, and nanoscience and engineering.
          p  
            | Led By: Olav Solgaard
          p
            | Website: 
            a#eguidelink(href='http://stanford.edu/group/ginzton') http://stanford.edu/group/ginzton
      hr.accent

      h5 <a class="anchor" id="engineeringrisk"></a>Engineering Risk Research Group
        div.text 
          p  
            | Housed in the Department of Management Science & Engineering, the Engineering Risk Research Group studies the analysis, mathematical modeling, and management of the safety of engineering systems using probabilistic methods and systems analysis.
          p  
            | Led By: M. Elisabeth Paté-Cornell
          p
            | Website: 
            a#eguidelink(href='http://web.stanford.edu/group/ERRG') http://web.stanford.edu/group/ERRG
      hr.accent

      h5 <a class="anchor" id="envirofluid"></a>Environmental Fluid Mechanics Laboratory
        div.text 
          p  
            | Housed in the Department of Civil and Environmental Engineering at Stanford University, the Environmental Fluid Mechanics Laboratory researches the turbulence and mixing in natural flows, natural and forced convection in energy systems, energy and mass transfer between the ocean and the atmosphere, mesoscale phenomena in the oceans and surface layers of the atmosphere, and transport and mixing of pollutants at regional and global scales in the atmosphere through both experimental and computational methods.
          p  
            | Led By: Stephen Monismith
          p
            | Website: 
            a#eguidelink(href='http://cee.stanford.edu/programs/efml/index.html') http://cee.stanford.edu/programs/efml/index.html
      hr.accent

      h5 <a class="anchor" id="GLAM"></a>Geballe Laboratory for Advanced Materials (GLAM)
        div.text 
          p  
            | The Geballe Laboratory for Advanced Materials performs interdisciplinary education and research on advanced materials in science and engineering.
          p  
            | Led By: Directors Paul McIntyre & Zhi-xun Shen
          p
            | Website: 
            a#eguidelink(href='http://glam.stanford.edu') http://glam.stanford.edu
      hr.accent

      h5 <a class="anchor" id="GCEP"></a>Global Climate and Energy Project (GCEP)
        div.text 
          p  
            | The Global Climate and Energy Project (GCEP) at Stanford University seeks new solutions to one of the grand challenges of this century: supplying energy to meet the changing needs of a growing world population in a way that protects the environment. GCEP's mission is to conduct fundamental research on technologies that will permit the development of global energy systems with significantly lower greenhouse gas emissions.
          p  
            | Led By: Sally Benson
          p
            | Website: 
            a#eguidelink(href='gcep.stanford.edu') gcep.stanford.edu
      hr.accent

      h5 <a class="anchor" id="eclub"></a>Stanford GSB Entrepreneur Club
        div.text 
          p  
            | The GSB Entrepreneur Club is the largest professional club at the GSB and faces a responsibility to promote the understanding and development of starting new companies.
          p  
            | Led By: Roi Chobadi, Bastiaan Janmaat, Katie Fifer, and Alex Gelman
        p
            | Website: 
            a#eguidelink(href='http://gsbeclub.org/') http://gsbeclub.org/
      hr.accent

      h5 <a class="anchor" id="hansen"></a>Hansen Experimental Physics Laboratory
        div.text 
          p  
            | The Hansen Experimental Physics Laboratory supports interdisciplinary research programs in fundamental science and engineering, particularly space physics, astrophysics, and cryogenics.
          p  
            | Led By: Peter Michelson
          p
            | Website: 
            a#eguidelink(href='http://stanford.edu/group/hepl') http://stanford.edu/group/hepl
      hr.accent

      h5 <a class="anchor" id="hci"></a>Stanford Human-Computer Interaction (HCI) Group
        div.text 
          p  
            | The Stanford Human-Computer Interaction (HCI) group, housed in the Department of Computer Science, researches topics in design, implementation, testing and analysis.
          p  
            | Led By: Michael Bernstein
          p
            | Website: 
            a#eguidelink(href='http://hci.stanford.edu') http://hci.stanford.edu
      hr.accent

      h5 <a class="anchor" id="HTGL"></a>High Temperature Gasdynamics Laboratory (HTGL)
        div.text 
          p  
            | As part of the Thermosciences Group in the Department of Mechanical Engineering, the High Temperature Gasdynamics Laboratory (HTGL) is an interdisciplinary research group that focuses on the fusion of atomic physics, electro-optics, electromagnetics, fluid mechanics, and heat transfer.
          p  
            | Led By: Reginald Mitchell
          p
            | Website: 
            a#eguidelink(href='http://navier.stanford.edu/thermosciences/htgl.html') http://navier.stanford.edu/thermosciences/htgl.html
      hr.accent

      h5 <a class="anchor" id="ISL"></a>Information Systems Laboratory
        div.text 
          p  
            | The research at the Information Systems Laboratory at Stanford primarily focuses on studying algorithms and their mathematical underpinnings to better understand and develop their broad range of applications. Topics of interest include information theory and coding, control and optimization, signal processing, and learning and statistical inference. Interdisciplinary research in the blab includes collaboration with colleagues in Electrical Engineering, Computer Science, Statistics, Management Science, Aeronautics, Computational and Mathematical Engineering, Biological Sciences, Psychology, Medicine, and Business.
          p  
            | Led By: Stephen Boyd
          p
            | Website: 
            a#eguidelink(href='http://isl.stanford.edu') http://isl.stanford.edu
      hr.accent

      h5 <a class="anchor" id="blume"></a>John A. Blume Earthquake Engineering Center
        div.text 
          p  
            | The John A. Blume Earthquake Engineering Center at Stanford is dedicated to the education and practice of earthquake engineering. Examples of current research includes “Collapse Simulation of Multi-Story buildings through Hybrid Testing”, as well as “Performance-Based Durability Engineering.” The Blume Center is included under the department of Civil Engineering, as the research focuses on the understanding of earthquakes and their effects on structures.
          p  
            | Led By: Gregory Deierlein
          p
            | Website: 
            a#eguidelink(href='http://blume.stanford.edu') http://blume.stanford.edu
      hr.accent

      h5 <a class="anchor" id="manufacturing"></a>Manufacturing Modeling Lab
        div.text 
          p  
            | The Manufacturing Modeling Lab focuses on the design and utilization of manufacturing models. The interdisciplinary research includes working relationships with the Graduate School of business, Center for Design Research (CDR), Center for Integrated Facilities Engineering (CIFE), and Work Systems and Collaborative Research Lab (CRL/MS&E). The Lab focuses on developing and testing structured decision making techniques aimed at generating robustness, reliability, servicability, variety, flexibility and sustainability.
          p  
            | Led By: Kurt Beiter
          p
            | Website: 
            a#eguidelink(href='http://kbeiter@stanford.edu') http://kbeiter@stanford.edu
      hr.accent

      h5 <a class="anchor" id="planck"></a>Max Planck Center for Visual Computing and Communication
        div.text 
          p  
            | This Center is a joint program between Stanford University and the Max Planck Society for the Advancement of Science (MPG) focused on the information technology area of “Visual Computing and Communication.” This center is intended for German scientists, not necessarily Stanford Students!
          p  
            | Led By: Bernd Girod
          p
            | Website: 
            a#eguidelink(href='http://mpc-vcc.org') http://mpc-vcc.org
      hr.accent

      h5 <a class="anchor" id="venturelab"></a>MIT/Stanford Venture Lab
        div.text 
          p  
            | Dubbed the VLAB, the MIT/Stanford Venture Lab is the San Francisco chapter of the MIT Enterprise Forum, bringing together entrepreneurs, industry experts venture capitalists, private investors, and technologists to share their experiences about effectively growing ventures and ideas in the dynamic, challenging market. An example of a forum discussion includes “Deep Learning Unbounded: Intelligence as a service” a seminar focused on the future of employing intelligent systems and machine learning as service businesses.
          p  
            | Led By: Chariman Tom Clavel & Vice Chair Michael Chong
          p
            | Website: 
            a#eguidelink(href='http://www.vlab.org') http://www.vlab.org
      hr.accent

      h5 <a class="anchor" id="nanoscale"></a>Nanoscale Prototyping Laboratory
        div.text 
          p  
            | This Stanford lab is focused on creating, modeling and prototyping nanoscale structures in order to understand the physics of electrical energy conversion and storage. Topics include the study of the size, composition and kinetics of charge transfer, as well as the study of electron transport in plant cells.
          p  
            | Led By: Friedrich Prinz
          p
            | Website: 
            a#eguidelink(href='http://npl-web.stanford.edu') http://npl-web.stanford.edu
      hr.accent

      h5 <a class="anchor" id="epicenter"></a>National Center for Engineering Pathways to Innovation (the Epicenter)
        div.text 
          p  
            | “The Epicenter” is focused on enabling undergraduate engineering students with the skills and entrepreneurship experiences to make an impact in the economy and society. The “University Innovation Fellows Program” connects undergraduates with mentors, resources, and platforms to make impacts in their schools and beyond.
          p  
            | Led By: Tom Byers
          p
            | Website: 
            a#eguidelink(href='http://epicenter.stanford.edu') http://epicenter.stanford.edu
      hr.accent

      h5 <a class="anchor" id="PRL"></a>Product Realization Laboratory (PRL)
        div.text 
          p  
            | The Stanford Product Realization Laboratory (PRL) is focused on giving students practical and insightful experiences in the development of soft goods, electronics, metal and mechatronics devices with design engineering software, and sophisticated tools.
          p  
            | Led By: David Beach & Craig Milroy
          p
            | Website: 
            a#eguidelink(href='http://prl.stanford.edu') http://prl.stanford.edu
      hr.accent

      h5 <a class="anchor" id="PBL"></a>Project-Based Learning Lab
        div.text 
          p  
            | In this engineering program, “undergraduate students play the role of apprentices to Architecture/Engineering/Construction (AEC) students, AEC students play the role of journeymen, AEC faculty and industry practitioners play the role of experts, mentors, and sponsors.” The PBL is focused on global collaboration and the utilization of innovative information technology (ICT) infrastructure.
          p  
            | Led By: Renate Fruchter
          p
            | Website: 
            a#eguidelink(href='http://pbl.stanford.edu') http://pbl.stanford.edu
      hr.accent

      h5 <a class="anchor" id="simbios"></a>Simbios
        div.text 
          p  
            | Simbios is a NIH Center for physics-based Simulation of Biological Structures. From their website: “Simbios provides infrastructure, software, and training to help biomedical researchers understand biological form and function as they create novel drugs, synthetic tissues, medical devices, and surgical interventions.” The Center proliferates their own core simulation toolkit, which they are continuously developing: 
            a#eguidelink(href='simtk.org/home/simtkcore') simtk.org/home/simtkcore
          p  
            | Led By: Russ Altman
          p
            | Website: 
            a#eguidelink(href='http://simbos.stanford.edu') http://simbos.stanford.edu
      hr.accent

      h5 <a class="anchor" id="smartproducts"></a>Smart Products Design Lab
        div.text 
          p  
            | The accompanying lab to a sequence of the Mechanical Engineering & Design classes ME118 and ME218 A,B,C,D. The lab focuses on “Mechatronics” or the development of products with embedded microprocessors, found increasingly more in everyday products such as dishwashers and automobiles. The lab is located in the Thornton Annex on the second floor.
          p  
            | Led By: Ed Carryer
          p
            | Website: 
            a#eguidelink(href='http://design.stanford.edu') http://design.stanford.edu
      hr.accent

      h5 <a class="anchor" id="STVP"></a>Stanford Technology Ventures Program (STVP)
        div.text 
          p  
            | The Stanford Technology Ventures Program (STVP) is the entrepreneurship center at Stanford University's School of Engineering. STVP is hosted by the department of Management Science and Engineering. STVP's mission is dedicated to accelerating high-technology entrepreneurship education and creating scholarly research on technology-based firms that, in turn, provides new insights for students, scholars, and business leaders.
          p  
            | Led By: Thomas Byers and Kathleen Eisenhardt
          p  
            | Contact: Entrepreneurship Concierge Angela Hayward (<a href='mailto:ahayward@stanford.edu'>ahayward@stanford.edu</a>)
          p
            | Website: 
            a#eguidelink(href='http://stvp.stanford.edu') http://stvp.stanford.edu
      hr.accent

      h5 <a class="anchor" id="SVS"></a>Stanford Venture Studio (SVS)
        div.text 
          p  
            | The Stanford Venture Studio is a space offered by the Stanford Graduate School of Business to practice the entrepreneurial concepts learned in the classroom. Team projects must have a graduate student-lead but may include undergraduate, alumni, or non-Stanford team members. Individuals must apply to become a member of the studio through the GSB.
          p  
            | Contact: Whitney Flynn
          p
            | Website: 
            a#eguidelink(href='http://gsb.stanford.edu/ces/students/venture-studio') http://gsb.stanford.edu/ces/students/venture-studio
      hr.accent

      h5 <a class="anchor" id="VHIL"></a>Virtual Human Interaction Lab (VHIL)
        div.text 
          p  
            | The Stanford Virtual Human Interaction Lab is dedicated to understanding the dynamics and implications of interactions among people in the virtual reality world, such as in immersive virtual reality simulations as well as other forms of digital representations in media, communication systems and games. The lab uses tools and techniques such as behavior science methodologies and three-dimensional modeling techniques in order to understand important social questions on the interface between real and virtual human interaction, as well as the potential for these kinds of virtual, simulated interactions to improve everyday life.
          p  
            | Led By: Jeremy Bailenson
          p
            | Website: 
            a#eguidelink(href='http://vhil.stanford.edu') http://vhil.stanford.edu

    include ../footerFilesOthers.jade