doctype 5
html

  head
    title BASES | E-Guide &middot Startup Resources
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    div#cover
      div#heroEGuideClasses
      div#heroText E-Guide &middot Startup Resources
    div#content 

    div.container

      h5 AIMS (Association of Industry-Minded Stanford Professionals)
        div.text 
          p  
            | AIMS is the Association of Industry-Minded Stanford Professionals, an organization created to streamline start-up and industry-related education and networking for the 1,800+ Stanford Postdocs - focusing on Postdoc specific solutions. We educate on the entrepreneurial process, raise awareness and access to key resources, and assist with networking.  AIMS is a postdoc organization that also welcomes exceptional non-postdoc participation.
          p  
            | Website: 
            a#eguidelink(href='https://sen.stanford.edu/member/aims-association-industry-minded-stanford-professionals') https://sen.stanford.edu/member/aims-association-industry-minded-stanford-professionals
      hr.accent


      h5 Biodesign
        div.text 
          p  
            | Our mission is to train students, fellows and faculty in the Biodesign Process: a systematic approach to needs finding and the invention and implementation of new biomedical technologies.  Key components of the program include Biodesign Innovation Fellowships; classes in medtech innovation; mentoring of students and faculty in the technology transfer process; career services for students interested in medtech careers; and community educational events.
          p  
            | Website: 
            a#eguidelink(href='http://biodesign.stanford.edu/bdn/index.jsp') http://biodesign.stanford.edu/bdn/index.jsp
          p  
            | Contact: General Information & Sponsorship Christine Kurihara (<a href='mailto:christine.kurihara@stanford.edu'>christine.kurihara@stanford.edu</a>)
      hr.accent

      h5 Center for Entrepreneurial Studies (GSB)
        div.text 
          p  
            | The Center for Entrepreneurial Studies (CES) is building a dynamic global community of entrepreneurs and thought leaders who are changing the world. We accomplish this by: supporting ground-breaking research and education that advances entrepreneurial thinking; connecting, enabling, and inspiring Stanford students and alumni to create and scale innovative new ventures; creating a hub for the interests and pursuits of the entrepreneurial community —faculty, students, alumni, practitioners, and investors.
          p  
            | Website: 
            a#eguidelink(href='http://www.gsb.stanford.edu/ces') http://www.gsb.stanford.edu/ces
          p  
            | Contact: <a href='mailto:ces@gsb.stanford.edu'>ces@gsb.stanford.edu</a>
      hr.accent



    include ../footerFilesOthers.jade