doctype 5
html

  head
    title BASES | Events
    include headerFilesOthers.jade
  body
    include navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText Events
      div#content
        h1 Upcoming Events
        hr.accent
        div.text
          iframe#calendar(src="https://www.google.com/calendar/embed?src=en5uj53ua739idt0m8lrl227m8%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" frameborder="0" scrolling="no")

    include footerFilesOthers.jade