doctype 5
html

  head
    title BASES | Events
    include headerFilesOthers.jade
  body
    include navBarOthers.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText Events
      div#content
        h1 Upcoming Events
        hr.accent
        div.text
          h6 Tuesday, September 15th
          p
            | NSO Starts
          h6 Wednesday, September 16th
          p
            | NSO Activities Fair
          h6 Thursday, September 17th
          p
            | Move-In Day
          h6 Monday, September 21st
          p
            | First Day of Classes

    include footerFilesOthers.jade