link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', type='text/css')
link( rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', type='text/css')
link(rel='stylesheet', href='/staging/stylesheets/style.css')
//- link(rel='stylesheet', href='/libraries/Flat-UI-master/css/flat-ui.css')
//- link(rel='stylesheet', href='/stylesheets/libTweaks.css')
//- link(rel='stylesheet', href='/stylesheets/fonts.css')
link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')