script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
//- script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js')
//- link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css', type='text/css')
script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', type='text/css')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', type='text/css')
link(rel='stylesheet', href='/staging/stylesheets/style.css')
//- link(rel='stylesheet', href='/stylesheets/libTweaks.css')
//- link(rel='stylesheet', href='/stylesheets/fonts.css')
link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')