link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
link(rel='stylesheet', href='/libraries/Flat-UI-master/css/flat-ui.css')
link(rel='stylesheet', href='/stylesheets/libTweaks.css')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/fonts.css')
link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')