doctype html
html
  head
    title BASES
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    include headerFiles.jade
    block style
    block scripts
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    include navBar.jade
    //- block content
    include footer.jade
    include analytics.jade