div.navbar.navbar-inverse.navbar-fixed-top
      ul.nav
        li
          a.navbarLogo(href='#home')
            img(src='/staging/images/basesLogo.png')
      ul.nav
        li
          a(href='/staging/events') Events
        li
          a(href='#programs') Programs
          ul
            li
              a(href='/staging/programs/challenge') BASES Challenge
            li
              a(href='/staging/programs/etl') ETL
            li
              a(href='/staging/programs/hackspace') Hackspace
            li
              a(href='/staging/programs/profDev') Professional Development
            li
              a(href='/staging/programs/freshmanBat') Freshman Battalion
        li
          a(href='#history') History
          ul
            li
              a(href='/staging/history/pastWinners') Past Winners
            li
              a(href='/staging/history/alumni') Alumni
            li
              a(href='/staging/history/eBootCamp') E-Bootcamp

        li
          a(href='#getInvolved') Get Involved
          ul
            li
              a(href='/staging/getInvolved/careerFairs') Career Fairs
            li
              a(href='/staging/getInvolved/startupLunch') Startup Lunch
            li
              a(href='/staging/getInvolved/lessonsInLife') Lessons in Life
            li
              a(href='#getInvolved') Digest
            li
              a(href='#getInvolved') Join the Team
            li
              a(href='/staging/getInvolved/friends') Friends
        li
          a(href='/staging/sponsors') Sponsors
        li
          a(href='/staging/blog') Blog
        li
          a(href='/staging/eGuide') E-Guide
        li
          a(href='/staging/about') About
          ul
            li
              a(href='/staging/about') Executive Team
            li
              a(href='/staging/about/boardOfAdvisors') Board of Advisors
