nav.navbar.navbar-default
  div.container-fluid
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li #[a(href='/inspire') Inspire]
        li #[a(href='/inspire') Create]
        li #[a(href='/inspire') Launch]
        li #[a(href='/', class='navbar-brand') BASES]
        li #[a(href='/inspire') Sponsors]
        li #[a(href='/inspire') Events]
        li #[a(href='/inspire') People]