div.navbar.navbar-inverse.navbar-fixed-top
  ul.nav
    li
      a.navbarLogo(href='/staging/')
        img(src='/staging/images/basesLogo.png')
  ul.nav
    li
      a(href='/staging/programs') Programs
      ul
        li
          a(href='/staging/programs/connects') Connects
        li
          a(href='/staging/programs/externalRelations') External Relations
        li
          a(href='/staging/programs/socImpact') Social Impact
        li
          a(href='/staging/programs/cnect') CNECT
        li
          a(href='/staging/programs/createspace') CreateSpace
        li
          a(href='/staging/programs/challenge') BASES Challenge
        //- li
          a(href='/staging/programs/etl') ETL
        li
          a(href='/staging/programs/freshmanBat') Freshman Battalion
        //- li
          a(href='/staging/programs/careerFairs') Career Fairs
        //- li
          a(href='/staging/programs/startupLunch') Startup Lunch
        //- li
          a(href='/staging/programs/lessonsInLife') Lessons in Life
    li
      a(href='/staging/events') Events
    li
      a(href='/staging/getInvolved') Get Involved
    li
      a(href='/staging/sponsors') Sponsors
    //- li
      a(href='/staging/blog') Blog
    li
      a(href='/staging/about') About
      ul
        li
          a(href='/staging/about/team') Team
        li
          a(href='/staging/about/boardOfAdvisors') Board of Advisors
        li
          a(href='/staging/about/alumni') Alumni
div#blank
