doctype html
html

  head
    title BASES | Sponsors
    include headerFilesOthers.jade
    link(rel="stylesheet", href="/stylesheets/bd.css")
  body
    include navBar.jade
    div#white-bg
      div.cover
        div.hero
        div.heroText SPONSORS
      div#content
        h1 Sponsor BASES
        hr.accent
        div.text
          p
            | BASES creates a customized strategy for each of our sponsors to ensure we achieve their sponsorship objectives. A dedicated BASES Sponsorship Executive works with each sponsor to leverage our organization and resources to maximize our sponsors’ impact on campus.
          p
            | Some of the main ways we support our sponsors include:

        div.textList
          ul
            li Strengthening their <b>brand presence</b> on campus
            li <b>Recruiting</b> the best Stanford programmers and engineers
            li Developing meaningful <b>relationships</b> with student entrepreneurs
            li <b>Exclusive access</b> to the most exciting startups and technologies coming out of Stanford
        div.text
          p For more information, please refer to our <a href="/files/BASES_Sponsorship_Package_2015-16.pdf" target="_blank">2015-2016 Sponsorship Package</a>.

        div.sponsorTiles
          h1 Sustainer
          hr.accent
          a(href='http://microsoft.com')
            div.tile.platinumTile
              img(src='/images/logo/microsoft.png')
        div.sponsorTiles
          h1 Supporters
          hr.accent
          a(href='http://www.accenture.com/')
            div#acc.tile.goldTile
              img(src='/images/logo/accenture.png')
          a(href='http://www.perkinscoie.com/')
            div.tile.goldTile
              img(src='/images/logo/perkinscoie.png')
          a(href='http://www.wilmerhale.com/')
            div.tile.goldTile
              img(src='/images/logo/wilmerhale.png')
          a(href='http://www.lsvp.com/')
            div.tile.goldTile
              img(src='/images/logo/lightspeed.png')
          a(href='http://www.gocanvas.com/')
            div.tile.goldTile
              img(src='/images/logo/canvas.png')
          a(href='http://www.sequoiacap.com/')
            div#seq.tile.goldTile
              img(src='/images/logo/sequoia.png')
          a(href='http://www.founder.org/')
            div#founderorg.tile.goldTile
              img(src='/images/logo/founderorg.png')
          a(href='http://go.sap.com/index.html')
            div#sap.tile.goldTile
              img(src='/images/logo/sap.png')
        div.sponsorTiles
          h1 Friends
          hr.accent
          a(href='https://www.lyft.com/')
            div#lyft.tile.silverTile
              img(src='/images/logo/lyft.png')
          a(href='http://www.kpcb.com/')
            div#kpcb.tile.silverTile
              img(src='/images/logo/kpcb.png')
          a(href='http://www.svb.com/')
            div#svb.tile.silverTile
              img(src='/images/logo/svb.png')
          a(href='http://www.javelinventurepartners.com/')
            div.tile.silverTile
              img(src='/images/logo/jvp.png')
          a(href='http://www.fenwick.com/')
            div.tile.silverTile
              img(src='/images/logo/fenwick.png')


        h1 Our Sponsors
        hr.accent
        div.text
          p
            | BASES is a non-profit student organization. The scale and success of our programs would not be possible without the support of our sponsors.
          p
            | For nearly two decades, our sponsors have done much more than fund our programs. Every year, BASES members benefit immeasurably from the time our sponsors devote to our mentorship programs, judging panels, office hours, and speaker series.
          p
            | BASES’s mission is to empower the next generation of entrepreneurs. Our sponsors provide us with the resources and experience to do so. Working together, we cannot wait to see which leaders and innovators BASES’s next twenty years will produce.

        h1 Contact Us
        hr.accent
        div.text
          p Jonathan Lu (<a href='mailto:jonlu@stanford.edu'>jonlu@stanford.edu</a>), VP of Business Development.

    include footerFiles.jade
