doctype 5
html

  head
    title BASES
    include ../../headerFilesOthers.jade
    link(rel="stylesheet", href="/stylesheets/hackspace.css")

  body
    include ../../navBarOthers.jade
    .wrap

      .hackspace.container
        img.headerImage(src="/images/hackspace/workshops_logo.png")

        .row.workshops
          .col-md-4
            a.workshopBtn(href="/programs/hackspace/workshops/1")
              img.workshopImage(src="/images/hackspace/website_workshop_icon.png")

    include ../../footerFiles.jade   
